Repository meerk40t/meerk40t, changes with the labels that .github/labeler.yml gives for each.
All labels: Context: Config, Context: Docs, Context: Base, Context: Core, Context: Devices, Context: GUI, Context: Misc, Context: Tests, Context: I18n

Update python version
  .github/workflows/pypi.yml
Labels: Context: Config

Some scene optimisations (#3061)
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scene/scene.py
Labels: Context: Core, Context: GUI

Update driver.py
  meerk40t/moshi/driver.py
Labels: Context: Devices

Fix forced_background mode
  meerk40t/gui/icons.py
Labels: Context: GUI

Add and use helper function
  meerk40t/gui/gui_optypes.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/operation_info.py
Labels: Context: GUI

Dont save effects on their own - use effects property instead
  meerk40t/core/elements/elements.py
Labels: Context: Core

Fix crash for non burnable nodes
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: GUI

Remove unintentionally doubled block
  meerk40t/gui/gui_optypes.py
Labels: Context: GUI

Update driver.py (#3062)
  meerk40t/moshi/driver.py
Labels: Context: Devices

Fix statusbar crash in sync mode (#3063)
  meerk40t/core/elements/elements.py
  meerk40t/gui/gui_optypes.py
  meerk40t/gui/icons.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: Core, Context: GUI

Reject invalid plans
  meerk40t/core/spoolers.py
Labels: Context: Core

Add missing combosmall text handler
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

recognize home type
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

Add generic op property handler
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/generic_op_property.py
  meerk40t/gui/propertypanels/gotoproperty.py
  meerk40t/gui/propertypanels/inputproperty.py
  meerk40t/gui/propertypanels/outputproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/waitproperty.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

Review changes
  meerk40t/gui/propertypanels/generic_op_property.py
Labels: Context: GUI

(Re-)Establish property pages for utility type operations (#3064)
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/generic_op_property.py
  meerk40t/gui/propertypanels/gotoproperty.py
  meerk40t/gui/propertypanels/inputproperty.py
  meerk40t/gui/propertypanels/outputproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/waitproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

Revert changes to address drag / zoom inconsistencies
  meerk40t/gui/scene/scene.py
Labels: Context: GUI

Reapply some fixes again
  meerk40t/gui/scene/scene.py
Labels: Context: GUI

Argh, another revert
  meerk40t/gui/scene/scene.py
Labels: Context: GUI

Address zero movement issue
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

Fix now-working cache
  meerk40t/gui/scenewidgets/attractionwidget.py
Labels: Context: GUI

Fix cutcode optimisation issues with hatches
  meerk40t/core/cutplan.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/gui/propertypanels/hatchproperty.py
  test/test_all_algorithm_paths.py
  test/test_hatched_geometry_fix.py
  test/test_potential_issues.py
Labels: Context: Core, Context: GUI, Context: Tests

Review comments
  meerk40t/core/cutplan.py
  meerk40t/core/node/effect_hatch.py
  test/test_potential_issues.py
Labels: Context: Core, Context: Tests

Fix cutcode optimisation issues with hatches (#3065)
  meerk40t/core/cutplan.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/gui/propertypanels/hatchproperty.py
  test/test_all_algorithm_paths.py
  test/test_hatched_geometry_fix.py
Labels: Context: Core, Context: GUI, Context: Tests

Experimental cutplan
  CUTPLAN_HIERARCHICAL_GUIDE.md
  CUTPLAN_IMPLEMENTATION_PROPOSAL.md
  CUTPLAN_RESTRUCTURING_ANALYSIS.md
  CUTPLAN_VISUAL_COMPARISON.md
  DELIVERY_COMPLETE.md
  EMBEDDING_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  INTEGRATION_GUIDE.md
  README_HIERARCHICAL_CUTPLAN.md
  TECHNICAL_SUMMARY_EMBEDDING.md
  WRAPPER_EMBEDDING_COMPLETE.md
  meerk40t/core/cutplan_hierarchical.py
  test/test_cutplan_hierarchical.py
Labels: Context: Config, Context: Docs, Context: Core, Context: Tests

Allow automatic clear on recent
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

Major readme update
  meerk40t/README.md
  meerk40t/balormk/README.md
  meerk40t/ch341/README.md
  meerk40t/core/README.md
  meerk40t/core/cutcode/README.md
  meerk40t/core/elements/README.md
  meerk40t/core/node/README.md
  meerk40t/cylinder/README.md
  meerk40t/device/README.md
  meerk40t/dxf/README.md
  meerk40t/extra/README.md
  meerk40t/fill/README.md
  meerk40t/grbl/README.md
  meerk40t/image/README.md
  meerk40t/kernel/README.md
  meerk40t/lihuiyu/README.md
  meerk40t/moshi/README.md
  meerk40t/network/README.md
  meerk40t/newly/README.md
  meerk40t/ruida/README.md
  meerk40t/tools/README.md
  test/README.MD
  testgui/README.MD
  tools/README.md
Labels: none

Make safer CH341Device initialization and fix data unpacking in CH341ReadData
  meerk40t/ch341/ch341device.py
Labels: none

Fix crosshatch for 3d depthmap
  meerk40t/core/node/op_image.py
Labels: Context: Core

Fix crosshatch for 3d depthmap (#3068)
  meerk40t/core/node/op_image.py
Labels: Context: Core

First attempt at direct lmc communication
  meerk40t/balormk/controller.py
  meerk40t/balormk/direct_usb_connection.py
  meerk40t/balormk/mock_connection.py
  meerk40t/balormk/usb_communication.py
  meerk40t/balormk/usb_connection.py
Labels: none

Additional docs
  meerk40t/balormk/DIRECT_CONNECTION_GUIDE.md
  meerk40t/balormk/README.md
Labels: none

Support inverted power levels
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
Labels: none

Change sequence of frequency + power
  meerk40t/balormk/controller.py
  test/test_drivers_galvo.py
Labels: Context: Tests

Support inverted power levels (#3070)
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  test/test_drivers_galvo.py
Labels: Context: Tests

Add comprehensive technical documentation for USB communication modules (#3069)
  meerk40t/balormk/USB_API_DOCUMENTATION.md
  meerk40t/balormk/mock_connection.py
  meerk40t/balormk/usb_connection.py
Labels: none

.github/labeler.yml:

# Format at https://github.com/actions/labeler

"Context: Config":
- '*'
- '.*/**/*'

"Context: Docs":
- '**.md'

"Context: Base":
- 'meerk40t/*.py'

"Context: Core":
- 'meerk40t/core/**/*.py'

"Context: Devices":
- 'meerk40t/device/**/*.py'
- 'meerk40t/grbl/**/*.py'
- 'meerk40t/lihuiyu/**/*.py'
- 'meerk40t/ruida/**/*.py'
- 'meerk40t/moshi/**/*.py'
- 'meerk40t/newly/**/*.py'

"Context: GUI":
- 'meerk40t/gui/**/*.py'

"Context: Misc":
- 'meerk40t/dxf/**/*.py'
- 'meerk40t/extra/**/*.py'
- 'meerk40t/image/**/*.py'
- 'meerk40t/tools/**/*.py'

"Context: Tests":
- 'test/**/*.py'

"Context: I18n":
- 'locale/**/*'
