Repository meerk40t/meerk40t, changes with the labels that .github/labeler.yml gives for each.
All labels: Context: Config, Context: Docs, Context: Base, Context: Core, Context: Devices, Context: GUI, Context: Misc, Context: Tests, Context: I18n

.github/labeler.yml:

# Format at https://github.com/actions/labeler

"Context: Config":
- '*'
- '.*/**/*'

"Context: Docs":
- '**.md'

"Context: Base":
- 'meerk40t/*.py'

"Context: Core":
- 'meerk40t/core/**/*.py'

"Context: Devices":
- 'meerk40t/device/**/*.py'
- 'meerk40t/grbl/**/*.py'
- 'meerk40t/lihuiyu/**/*.py'
- 'meerk40t/ruida/**/*.py'
- 'meerk40t/moshi/**/*.py'
- 'meerk40t/newly/**/*.py'

"Context: GUI":
- 'meerk40t/gui/**/*.py'

"Context: Misc":
- 'meerk40t/dxf/**/*.py'
- 'meerk40t/extra/**/*.py'
- 'meerk40t/image/**/*.py'
- 'meerk40t/tools/**/*.py'

"Context: Tests":
- 'test/**/*.py'

"Context: I18n":
- 'locale/**/*'

Update content
  locale/tr/LC_MESSAGES/messages.mo
  locale/tr/LC_MESSAGES/messages.po
  translate_check.py
Labels: Context: Config, Context: I18n

Fix validation
  translate_check.py
Labels: Context: Config

Slight reformat
  translate.py
Labels: Context: Config

tr update
  locale/tr/LC_MESSAGES/meerk40t.mo
  locale/tr/LC_MESSAGES/meerk40t.po
  locale/tr/LC_MESSAGES/messages.mo
Labels: Context: I18n

Proper fix
  translate_check.py
Labels: Context: Config

Update
  locale/tr/LC_MESSAGES/meerk40t.mo
  locale/tr/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Finalize translation
  locale/tr/LC_MESSAGES/meerk40t.mo
  locale/tr/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Clearer version
  locale/tr/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Update help strings to simplify translation tasks
  meerk40t/balormk/galvo_commands.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/bindalias.py
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/notes.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/extra/hershey.py
  meerk40t/extra/imageactions.py
  meerk40t/extra/inkscape.py
  meerk40t/extra/outerworld.py
  meerk40t/extra/param_functions.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/newly/device.py
Labels: Context: Core, Context: Devices, Context: GUI, Context: Misc

Update instruction
  ai_translation.txt
Labels: Context: Config

Language update #1 after helpstr revision
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

More exclusion directories
  translate_check.py
Labels: Context: Config

Update template
  locale/messages.po
Labels: Context: I18n

Language update #2 after helpstr revision
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/ru/LC_MESSAGES/meerk40t.mo
  locale/ru/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Language update #3 after helpstr revision
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Dont use suppress
  translate_check.py
Labels: Context: Config

Extend check routine for better overview
  translate_check.py
Labels: Context: Config

Sort output
  translate_check.py
Labels: Context: Config

Language update #4 after helpstr revision
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/tr/LC_MESSAGES/meerk40t.mo
  locale/tr/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Fix except block
  translate_check.py
Labels: Context: Config

Review changes
  translate_check.py
Labels: Context: Config

Add default font
  meerk40t/extra/hershey.py
  meerk40t/tools/jhfparser.py
Labels: Context: Misc

Compress font data
  meerk40t/tools/jhfparser.py
Labels: Context: Misc

Add line labels
  meerk40t/extra/hershey.py
  meerk40t/gui/materialtest.py
Labels: Context: GUI, Context: Misc

Add linetext labels to material test (#3059)
  meerk40t/extra/hershey.py
  meerk40t/gui/materialtest.py
  meerk40t/tools/jhfparser.py
Labels: Context: GUI, Context: Misc

Remove centos
  .github/workflows/centos.yml
Labels: Context: Config

Add rocky
  .github/workflows/rocky.yml
Labels: Context: Config

Update weekly runner
  .github/workflows/weekly-binaries.yml
Labels: Context: Config

Update version
  .github/workflows/rocky.yml
Labels: Context: Config

Add subtitles
  meerk40t/gui/materialtest.py
Labels: Context: GUI

Remove unwanted json file
  .vscode/launch.json
Labels: Context: Config

Fix condensed algorithm
  meerk40t/core/elements/align.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
Labels: Context: Core

Fix alignment of grouped elements (#3060)
  .vscode/launch.json
  meerk40t/core/elements/align.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
Labels: Context: Config, Context: Core

Update CodeQL workflow to use Ubuntu 22.04
  .github/workflows/codeql-analysis.yml
Labels: Context: Config

Remove duplicate exception clause
  meerk40t/extra/vtracer.py
Labels: Context: Misc

Some scene optimisations
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/gui/scene/scene.py
Labels: Context: Core, Context: GUI

Make a couple of optimisations
  meerk40t/gui/laserrender.py
Labels: Context: GUI

Review comments
  meerk40t/gui/laserrender.py
Labels: Context: GUI

Update workflow
  .github/workflows/codeql-analysis.yml
Labels: Context: Config

Manual dispatch added
  .github/workflows/codeql-analysis.yml
Labels: Context: Config
