Repository meerk40t/meerk40t, pull requests merged in 2021-12, with the labels that each got.

#689 Minor batch and console improvements
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base

#687 Tweak improved Cut Inner First tooltips
  meerk40t/core/planner.py
Labels: Context: Core

#707 Add discord help menu item
  meerk40t/core/webhelp.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#706 Various kernel improvements
  meerk40t/kernel.py
  meerk40t/main.py
Labels: Context: Base

#709 Fix #702 and switch to os.path
  meerk40t/kernel.py
  test/test_kernel.py
Labels: Context: Base, Context: Tests

#703 Improve crash reporting...
  meerk40t/gui/wxmeerk40t.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base

#716 Except the package resources' error if there is a version conflict wi…
  meerk40t/main.py
Labels: Type: Bug, Status: Completed, Work: Completed, Context: Base

#712 Improve scene zoom menu
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#713 Add power submenu to set PPI with right-click
  meerk40t/core/elements.py
Labels: Context: Core

#714 Fix open-in-system when run on windows from exe
  meerk40t/core/elements.py
Labels: Context: Core

#715 Extend Scale, Rotate and Reify to group and file nodes.
  meerk40t/core/elements.py
Labels: Context: Core

#708 NSE scanline switching / twitchless mode
  meerk40t/core/cutcode.py
  meerk40t/device/lhystudios/laserspeed.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  test/test_core_cutcode.py
Labels: Context: Core, Context: Tests

#722 Improve classification edge cases
  meerk40t/core/elements.py
Labels: Context: Core

#720 Modify operation speed command to set speeds by percent.
  meerk40t/core/elements.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
Labels: Context: Core

#723 Fix crash dialog width.
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#721 Various minor tweaks to channels
  meerk40t/kernel.py
Labels: Context: Base
