Repository meerk40t/meerk40t, pull requests merged in 2021-11, with the labels that each got.

#664 Fix Keymap Crash bug
  meerk40t/gui/keymap.py
Labels: Type: Bug, Status: Completed, Priority: Medium

#663 Add `image slash`, correct return values for `image slice`
  meerk40t/image/imagetools.py
Labels: Type: Enhancement, Status: Completed, Priority: Low, Work: Completed

#662 Preferences/About lose min/max buttons, save-as cookies, pane commands.
  meerk40t/core/bindalias.py
  meerk40t/gui/about.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/configuration.py
  meerk40t/gui/controller.py
  meerk40t/gui/groupproperties.py
  meerk40t/gui/imageproperty.py
  meerk40t/gui/lhystudios/lhystudioscontrollergui.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  meerk40t/gui/moshi/moshicontrollergui.py
  meerk40t/gui/moshi/moshidrivergui.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/panes/toolbarcontrol.py
  meerk40t/gui/panes/toolbarproject.py
  meerk40t/gui/pathproperty.py
  meerk40t/gui/preferences.py
  meerk40t/gui/simulation.py
  meerk40t/gui/textproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/kernel.py
Labels: Type: Enhancement, OS: OSX, Status: Completed, Priority: Medium, Work: Completed

#666 Adds `move_at_speed` command. Prevents Keydown overtrigger. Fix alias -keyword registration.
  meerk40t/core/bindalias.py
  meerk40t/core/plotplanner.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/gui/wxmscene.py
Labels: Type: Enhancement, Status: Completed, Priority: Low

#607 Rework existing code quality workflows
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/unittests.yml
Labels: Context: Config

#676 Correct menu right click in ExecuteJob
  .github/workflows/mac11_pyinst.yml
  meerk40t/gui/about.py
  meerk40t/gui/executejob.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/preferences.py
Labels: Context: Config, Context: GUI

#678 mac-runner-64bitfix
  .github/workflows/mac11_pyinst.yml
Labels: Context: Config

#677 Merge fixes and optimisation improvements
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
Labels: Context: Core

#679 0.7.4 Finalize
  .github/workflows/win/file_version.txt
  meerk40t/gui/mwindow.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/panes/laserpanel.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernelserver.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base

#681 Fix merge_passes with step_repeat
  meerk40t/core/cutcode.py
  meerk40t/core/planner.py
Labels: Context: Core

#685 Limit Resource Usage
  .github/workflows/unittests.yml
Labels: Priority: Critical, Context: Config, Work: Completed

#686 Improve Cut Inner First performance
  meerk40t/core/planner.py
Labels: Context: Core

#688 Mac unit test fix
  meerk40t/kernel.py
  test/bootstrap.py
  test/test_kernel.py
Labels: Work: Completed, Context: Base, Context: Tests

#694 Fix for mac and linux open in system
  meerk40t/core/elements.py
Labels: Context: Core

#690 0.7.5 beta1
  .github/workflows/win/file_version.txt
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/output.py
  meerk40t/core/spoolers.py
  meerk40t/device/basedevice.py
  meerk40t/gui/panes/devicespanel.py
  meerk40t/gui/panes/laserpanel.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base, Context: Core, Context: Devices

#696 Killed off the creepy "ding" on Macs.
  meerk40t/core/drivers.py
Labels: Context: Core

#693 Basic check for updates
  meerk40t/extra/updater.py
  meerk40t/gui/preferences.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base, Context: Misc
