Repository meerk40t/meerk40t, pull requests merged in 2022-07, with the labels that each got.

#1132 Wordlist: error Handling for csv-io ops
  meerk40t/core/wordlist.py
Labels: Context: Core

#1128 0.8.x bug fixes
  .github/workflows/win/file_version.txt
  meerk40t/balor/sender.py
  meerk40t/balormk/commandsequence.py
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/element_types.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
  meerk40t/core/parameters.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/plugin.py
  meerk40t/gui/propertypanels/inputproperty.py
  meerk40t/gui/propertypanels/outputproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/propertypanels/waitproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/lihuiyuemulator.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/gui.py
  meerk40t/numpath.py
  test/test_core_cutcode.py
  test/test_core_elements.py
  test/test_core_plotplanner.py
  test/test_elements_penbox.py
  test/test_fill.py
  test/test_imagetools_actualize.py
  test/test_imagetools_wizard.py
  test/test_numpath.py
  test/test_wobble.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Tests

#1133 Add scrollbars to Windows where they make sense
  meerk40t/gui/choicepropertypanel.py
  meerk40t/lihuiyu/gui/lhystudiosaccel.py
  meerk40t/lihuiyu/gui/lhystudioscontrollergui.py
  meerk40t/lihuiyu/gui/lhystudiosdrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
Labels: Context: GUI

#1134 Update Balor/Galvo to the next level.
  meerk40t/balor/README.md
  meerk40t/balor/__init__.py
  meerk40t/balor/command_list.py
  meerk40t/balor/sender.py
  meerk40t/balormk/commandsequence.py
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/balormk/lmc_driver.py
  meerk40t/balormk/mock_connection.py
  meerk40t/balormk/usb_connection.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1135 GUI amendments
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1136 Adds and Implements Hybrid/Toggle button
  meerk40t/balormk/gui/gui.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/auitoolbars.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1131 Minor Crash Prevention for Legacy7
  .github/workflows/win/file_version.txt
  meerk40t/gui/laserrender.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base

#1137 Small fixes
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/elements.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1140 Version 7: Correct CLI issues.
  .github/workflows/win/file_version.txt
  meerk40t/core/cutplan.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base, Context: Core

#1139 Make sure image changes appear on the scene
  meerk40t/image/imagetools.py
Labels: Context: Misc

#1142 Group Preferences logically
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/dxf/plugin.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: Core, Context: Misc

#1141 Two more geometry tools + individual enable-rules
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1143 Discard toolbar-panes until they work again
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#1145 Galvo Next: Correct Connecting Issues for Galvo Driver
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/balormk/usb_connection.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1146 Smaller fixes
  meerk40t/core/planner.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1152 Correct Raster/Image M2Nano-(Thanks Darkfibre)
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1148 Galvo Next: Incremental Corrections
  meerk40t/balormk/device.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/spoolers.py
Labels: Context: Core

#1155 Fix "element copy"
  meerk40t/core/elements.py
Labels: Context: Core

#1158 zoom_factor -> zoom_level
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenespacewidget.py
Labels: Context: GUI

#1166 Guifixes
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core

#1167 Morefixes
  meerk40t/core/elements.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#1168 Correct __str__() vs labels for nodes (unify them for references sake)
  meerk40t/core/elements.py
  meerk40t/core/node/blobnode.py
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_ops.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/cutnode.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/layernode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/refnode.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1169 Correct Display Position issues. Multi-display failure & Recovery
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/dxf/dxf_io.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#1171 Assign Operation menu.
  meerk40t/core/elements.py
  meerk40t/core/node/blobnode.py
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_ops.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/cutnode.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/layernode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/refnode.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
Labels: Context: Core

#1173 Resync
  meerk40t/core/elements.py
  meerk40t/core/node/blobnode.py
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_ops.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/cutnode.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/layernode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/refnode.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
  meerk40t/kernel/jobs.py
  meerk40t/kernel/kernel.py
Labels: Context: Core

#1175 Merge Gui appearance/fixes
  meerk40t/gui/icons.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1170 Classification Logic, Lock-Flag, Minor tweaks
  locale/de/LC_MESSAGES/meerk40t.mo
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/core/bindalias.py
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/core/svg_io.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/fonts.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attrib_stroke.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/lhyoperationproperties.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#1178 Utility Nodes Disable/Enable Parameter Saving
  meerk40t/core/elements.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
Labels: Context: Core

#1177 Some fixes after review
  meerk40t/core/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/position.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: Core

#1179 Fix help string, acknowledge lock even more
  meerk40t/core/elements.py
Labels: Context: Core

#1180 Svgelements 1.7
  meerk40t/core/svg_io.py
  meerk40t/svgelements.py
Labels: Context: Base, Context: Core

#1181 Svg 17 font
  meerk40t/core/node/elem_text.py
  meerk40t/core/svg_io.py
  meerk40t/gui/fonts.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base, Context: Core

#1184 Eliminated reDoS progress through font-list
  meerk40t/gui/fonts.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base

#1183 Easy manual operation assignment
  meerk40t/core/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1185 Quickfix for util op crash
  meerk40t/gui/opassignment.py
Labels: Context: GUI

#1188 Animate Scene, +Ribbon Tool
  meerk40t/gui/scene/scene.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1186 Fix crash at startup with small icons
  meerk40t/gui/icons.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1189 Add in Cyclocycloid widget example
  meerk40t/core/units.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/cyclocycloidwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1190 Provide better advanced Widget Code examples.
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/buttonwidget.py
  meerk40t/gui/scenewidgets/cyclocycloidwidget.py
  meerk40t/gui/scenewidgets/relocatewidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI

#1191 Prefs reorg / simpler end of tool
  meerk40t/core/elements.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/plugin.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1192 Classification for new elements+ default colors
  meerk40t/core/elements.py
  meerk40t/extra/cag.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmscene.py
  test/test_core_elements.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1194 Example of ToggleWidget / SeekbarWidget
  meerk40t/gui/icons.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/utilitywidgets/__init__.py
  meerk40t/gui/utilitywidgets/buttonwidget.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
  meerk40t/gui/utilitywidgets/seekbarwidget.py
  meerk40t/gui/utilitywidgets/togglewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1196 Checkbox Widget Example
  meerk40t/gui/utilitywidgets/checkboxwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1193 Expand statusbar
  meerk40t/core/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1198 More panel actions
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1197 Improve scene modifier keyboard controls
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/relocatewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/utilitywidgets/buttonwidget.py
  meerk40t/gui/utilitywidgets/checkboxwidget.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
  meerk40t/gui/utilitywidgets/seekbarwidget.py
  meerk40t/gui/utilitywidgets/togglewidget.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#1200 Refactoring the statusbar code
  meerk40t/gui/statusbarwidgets/__init__.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/statusbarwidgets/statusbarwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1201 Codacity, black, isort
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1202 Animate Zoom for `scene focus`.
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1204 Some work around the keybind/device panel
  meerk40t/gui/devicepanel.py
  meerk40t/gui/keymap.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI

#1205 Some changes + fixes for tool_menu
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/utilitywidgets/togglewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI
