Repository meerk40t/meerk40t, pull requests merged in 2022-04, with the labels that each got.

#949 Ruidacontrol States, pause/stop
  meerk40t/device/ruida/ruidadevice.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Devices

#950 Magnets: Fix for GRBL + extensions
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
Labels: Context: GUI

#952 Don't draw intermediary lines on guide if not enough room
  meerk40t/gui/scenewidgets/guidewidget.py
Labels: Context: GUI

#951 Lock selection to laser movement
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/scenewidgets/laserpathwidget.py
Labels: Context: GUI

#942 0.7.6
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/plotplanner.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/device/lhystudios/lhystudiosemulator.py
  meerk40t/device/ruida/ruidadevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/imageproperty.py
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/panes/position.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
  test/test_core_plotplanner.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#955 Kbd-Mod. for rotation to allow 5/15deg steps (0.8)
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#953 Magnet: Fix toggle (again)
  meerk40t/gui/scenewidgets/guidewidget.py
Labels: Context: GUI

#956 Rotation: Code tweaks after feedback
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#954 Kbd-Modifiers for rotation to allow 5/15deg steps
  meerk40t/gui/scene/scenewidgets.py
Labels: Context: GUI

#957 Better handling of small-sized selections
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#958 Improve display for small selection (0.7)
  meerk40t/gui/scene/scenewidgets.py
Labels: Context: GUI

#959 Node.points test api code
  meerk40t/core/node/elemnode.py
  meerk40t/core/node/node.py
  meerk40t/gui/scenewidgets/elementswidget.py
Labels: Context: GUI, Context: Core

#960 Acknowledge new points_dirty flag
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#965 Snap points
  meerk40t/core/node/node.py
  meerk40t/gui/icons.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/sceneconst.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#964 Hatch Operation
  meerk40t/balormk/main.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/node/laserop.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/parameters.py
  meerk40t/core/planner.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/pathtools.py
Labels: Context: GUI, Context: Core, Context: Misc

#966 Snap-Points Fixes 1
  meerk40t/core/elements.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/sceneconst.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#970 Reposition align toolbar
  meerk40t/gui/scene/scene.py
  meerk40t/gui/toolbaralign.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#972 Allow non essential ribbonbar to shrink
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#968 Balor Tweaks for RC5
  meerk40t/balormk/BalorDriver.py
  meerk40t/balormk/main.py
  meerk40t/core/units.py
  meerk40t/gui/scenewidgets/guidewidget.py
  test/test_core_viewports.py
Labels: Context: GUI, Context: Core, Context: Tests

#977 Make Scene colors configurable
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/laserpathwidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#979 Tweaks to 0.7.x Color Selection Tweaks
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#981 Legacy 2 main merge
  meerk40t/gui/consolepanel.py
Labels: Context: GUI

#976 User defined color (0.7)
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#984 Allow simultaneous sizing of opposing sides/corners
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#982 Color-Scheme changes
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#983 Lasertools
  meerk40t/gui/icons.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/notes.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#986 Extend Lasertools
  meerk40t/gui/icons.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#992 Quick color / stroke selector
  meerk40t/gui/position.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#989 Fix align bedcenter
  meerk40t/core/elements.py
Labels: Context: Core

#988 Make sure that text at manipulation boxes does not overlap
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#993 Extend readme
  README.md
Labels: Context: Config, Context: Docs

#997 Amend propertypanel
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#996 Ensure minimum statusbar height
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#998 Fix rotcenter/move cursor issue
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#999 Make sure newly added elements appear in the tree
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1000 GUI-Fixes
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1003 GUI-Improvements
  meerk40t/core/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1005 Rebuild tree after dnd operations
  meerk40t/core/elements.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1006 Some fixes for treepanel
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1007 Remove meaningless status messages
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1009 Fix shape.bbox invocation
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
Labels: Context: Core

#1011 Additional tool: measure
  meerk40t/gui/icons.py
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1010 Second Round of Bug Fixes
  meerk40t/balormk/main.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/extra/cag.py
  meerk40t/extra/embroider.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core, Context: Misc

#995 Alternative Wobbles-Balor
  meerk40t/balor/command_list.py
  meerk40t/balormk/BalorDriver.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#980 Improve CAG geometric functions to work on multiples
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/extra/cag.py
Labels: Context: Core, Context: Misc

#1012 New area command
  meerk40t/core/elements.py
Labels: Context: Core

#1015 Sync selected to emphasized
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1016 Improve menu behaviour for reset/reify
  meerk40t/core/elements.py
Labels: Context: Core

#1018 Fix save / load / classification error for images
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/scene/widget.py
Labels: Context: GUI, Context: Core

#1017 Fix/Extend trace functionality
  meerk40t/core/elements.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI, Context: Core
