Repository meerk40t/meerk40t, pull requests merged in 2022-03, with the labels that each got.

#833 Add font-size parameter to text command
  meerk40t/core/elements.py
Labels: Context: Core

#868 Extend grid and add circ_copy, radial and shape
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements.py
  meerk40t/kernel.py
Labels: Context: I18n, Context: Base, Context: Core

#869 Add raster optimisation on/off switch (no gui)
  meerk40t/core/cutplan.py
  meerk40t/gui/executejob.py
Labels: Context: GUI, Context: Core

#867 Make twitchless mode default for 0.7.6
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
Labels: Context: GUI, Context: Devices

#866 Add statusbar help for menus and buttons
  meerk40t/gui/laserrender.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#877 Fix errormessage when using abbreviated options
  meerk40t/kernel.py
Labels: Context: Base

#885 RC-1 Version Prep
  .github/workflows/win/file_version.txt
  meerk40t/camera/camera.py
  meerk40t/camera/gui/gui.py
  meerk40t/camera/plugin.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/core/units.py
  meerk40t/device/basedevice.py
  meerk40t/device/dummydevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/dxf/plugin.py
  meerk40t/extra/cag.py
  meerk40t/grbl/gui/gui.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/plugin.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/rotary/gui/gui.py
  meerk40t/rotary/rotary.py
  meerk40t/ruida/device.py
  meerk40t/ruida/gui/gui.py
  meerk40t/svgelements.py
  setup.cfg
  test/bootstrap.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#894 Fix Windows Build Issues
  .github/workflows/win.yml
  .github/workflows/win/meerk40t.spec
Labels: Context: Config

#892 Use bespoke exception for CommandSyntaxErrors
  meerk40t/camera/plugin.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/exceptions.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Core, Context: Misc

#746 Balor hard link
  meerk40t/main.py
Labels: Status: Wontfix, Context: Base

#895 RC2
  .github/workflows/win/file_version.txt
  meerk40t/balor/Cal.py
  meerk40t/balor/RBFInterpolator.py
  meerk40t/balor/README.md
  meerk40t/balor/__init__.py
  meerk40t/balor/_rbfinterp_pythran.py
  meerk40t/balor/command_list.py
  meerk40t/balor/sender.py
  meerk40t/balormk/BalorDriver.py
  meerk40t/balormk/__init__.py
  meerk40t/balormk/balor_params.py
  meerk40t/balormk/gui/__init__.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/main.py
  meerk40t/balormk/pathtools.py
  meerk40t/grbl/gui/gui.py
  meerk40t/kernel/exceptions.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhystudiosdrivergui.py
  meerk40t/main.py
  requirements.txt
  setup.cfg
  setup.py
Labels: Context: Config, Context: Base

#897 Add grbl, balor dependencies to windows build yaml
  .github/workflows/win.yml
Labels: Context: Config

#891 Ctrlfix
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/wxmscene.py
  meerk40t/kernel/functions.py
Labels: Context: GUI

#872 Fix ansi check on windows 8.1, add dark theme support
  meerk40t/gui/consolepanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel/channel.py
Labels: Context: GUI

#898 Update unittests.yml
  .github/workflows/unittests.yml
Labels: Context: Config

#902 Alter keybind defaults for rect / circle
  meerk40t/core/bindalias.py
Labels: Context: Core

#901 2nd attempt at getting CommandSyntaxError correct
  meerk40t/core/elements.py
  meerk40t/core/exceptions.py
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/inkscape.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/exceptions.py
  meerk40t/kernel/kernel.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Core, Context: Misc

#899 Make sure delete operation appears in menu
  meerk40t/core/elements.py
Labels: Context: Core

#900 Bypass ctrl, control confusion
  meerk40t/core/bindalias.py
Labels: Context: Core

#905 RC3-Property Primacy
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/balormk/gui/gui.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/__init__.py
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/module.py
  meerk40t/lihuiyu/gui/gui.py
Labels: Context: GUI

#907 Fix two minor crash bugs
  meerk40t/core/cutcode.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#904 Switch from cElementTree to ElementTree
  meerk40t/core/svg_io.py
Labels: Context: Core

#908 Fix ansi console legacy7 branch
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel.py
Labels: Context: GUI, Context: Base

#903 RC3 Code Changes
  .github/workflows/win/file_version.txt
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/balormk/gui/gui.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/plugin.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/__init__.py
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/module.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base

#911 Fix Issue #881 Vertical regular raster broken.
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel.py
Labels: Context: Devices

#914 Fix SizePanel
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#915 Fix shape, polyline, polygon et al
  meerk40t/core/elements.py
  meerk40t/core/units.py
Labels: Context: Core

#916 Fix negative dragging
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#918 Improving Units Code
  meerk40t/balor/Cal.py
  meerk40t/balor/RBFInterpolator.py
  meerk40t/balor/__init__.py
  meerk40t/balor/_rbfinterp_pythran.py
  meerk40t/balor/command_list.py
  meerk40t/balor/sender.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/main.py
  meerk40t/balormk/plugin.py
  meerk40t/camera/plugin.py
  meerk40t/core/bindalias.py
  meerk40t/core/elements.py
  meerk40t/core/exceptions.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/core/units.py
  meerk40t/extra/embroider.py
  meerk40t/extra/inkscape.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/plugin.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/channel.py
  meerk40t/kernel/exceptions.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/ruida/device.py
  test/test_core_elements.py
  test/test_length.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Tests

#913 Extended item manipulation
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#920 Make skew more predictable
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#921 Correct and Properly Fix ANSI bugs
  meerk40t/gui/panes/consolepanel.py
  meerk40t/kernel.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base

#912 Smooth raster intergrations for ruidacontrol+
  meerk40t/core/cutcode.py
  meerk40t/core/plotplanner.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  test/test_core_plotplanner.py
Labels: Context: Core, Context: Devices, Context: Tests

#922 Optimisations / Fixes for item manipulation
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#923 Highlight active tool
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#924 Update CentOS 7 github runner (wx._adv,wx._xml,pyserial,ezdxf,scipy)
  .github/workflows/centos.yml
  .github/workflows/linux/meerk40t.spec
Labels: Context: Config

#926 0.7.6 beta2
  .github/workflows/win.yml
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/plotplanner.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
  test/test_core_plotplanner.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Devices, Context: Tests

#925 Reset rotation center after external modifications
  meerk40t/core/elements.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI, Context: Core

#928 RotCenter fix, fix skew/improve rotation behaviour
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#882 Extended item-manipulation (0.7)
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n

#842 Remove Recent menu from frozen mac builds
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#932 Fix untoggle behaviour for ribbon
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#933 Fix shape command
  meerk40t/core/elements.py
Labels: Context: Core

#934 Port the wx._adv and wx._xml fix here for richtext support in legacy7…
  .github/workflows/win/meerk40t.spec
Labels: Context: Config

#935 Remove scipy from win build for legacy7
  .github/workflows/win.yml
Labels: Context: Config

#936 0.7.6 Beta 3 Version Bump
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#937 Fix syntax error in win.yml and remove pyserial
  .github/workflows/win.yml
Labels: Context: Config

#939 Fix startangle in shape
  meerk40t/core/elements.py
Labels: Context: Core

#940 0.7.6 Beta 4
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode.py
  meerk40t/core/plotplanner.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#941 Scrolled Console
  meerk40t/gui/panes/consolepanel.py
Labels: Context: GUI

#944 Add magnet functionality to grid and make grid more flexible
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#947 Fix angle display
  meerk40t/gui/scene/scenewidgets.py
Labels: Context: GUI

#946 Fix strange rotation angle display skip
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#943 Hull 0.7x
  meerk40t/core/elements.py
Labels: Context: Config, Context: Base, Context: Core, Context: Devices

#948 Optical fixes for Magnets
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI
