Repository meerk40t/meerk40t, pull requests merged in 2022-02, with the labels that each got.

#790 0.8.0 LaserSettings Value
  meerk40t/core/cutcode.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/parameters.py
  meerk40t/core/planner.py
  meerk40t/core/plotplanner.py
  meerk40t/core/spoolers.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/device.py
  meerk40t/gui/operationpropertymain.py
  meerk40t/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhyoperationproperties.py
  meerk40t/moshi/device.py
  meerk40t/ruida/device.py
  pyproject.toml
  test/test_core_cutcode.py
  test/test_core_plotplanner.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#785 Fix Mac pinch-to-zoom
  meerk40t/gui/scene/scene.py
  pyproject.toml
Labels: Context: Config, Context: GUI

#791 GRBL Driver Code
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
Labels: Context: Core

#794 Fix scene zoom on file load
  meerk40t/core/elements.py
Labels: Context: Core

#792 Fix bind alias issues
  meerk40t/core/bindalias.py
  meerk40t/gui/keymap.py
Labels: Context: GUI, Context: Core

#793 Make delete key usage consistent
  meerk40t/core/elements.py
Labels: Context: Core

#796 Fix some open elements not being (fully) burned
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#800 Divvy up node classes
  meerk40t/core/elements.py
  meerk40t/core/node/__init__.py
  meerk40t/core/node/commandop.py
  meerk40t/core/node/consoleop.py
  meerk40t/core/node/cutnode.py
  meerk40t/core/node/elemnode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/laserop.py
  meerk40t/core/node/node.py
  meerk40t/core/node/refnode.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/ruida/device.py
  test/test_core_cutcode.py
Labels: Context: GUI, Context: Core, Context: Tests

#743 Configure Github repo settings for ...
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/suggestion.yml
  .github/SUPPORT.md
Labels: Context: Config

#798 Remediate Markdown issues flagged by Codacy
  README.md
  meerk40t/README.md
  meerk40t/core/README.md
  meerk40t/device/README.md
  meerk40t/device/ch341/README.md
  meerk40t/dxf/README.md
  meerk40t/extra/README.md
  meerk40t/gui/README.md
  meerk40t/tools/README.md
Labels: Context: Config, Context: Docs

#805 Reenable old-style Github issues.
  .github/ISSUE_TEMPLATE/config.yml
Labels: Context: Config

#799 Python version stuff
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/scene/toolwidgets.py
  meerk40t/main.py
  meerk40t/tools/zinglplotter.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Misc

#797 Fix critical codacy errors
  meerk40t/core/drivers.py
  meerk40t/core/output.py
  meerk40t/device/basedevice.py
  meerk40t/device/ch341/libusb.py
  meerk40t/device/ch341/windll.py
  meerk40t/device/grbl/grbldevice.py
  meerk40t/device/moshi/moshiblob.py
  meerk40t/device/moshi/moshidevice.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  meerk40t/kernel.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices

#807 [Codacy] Remediate wxmmain.py
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/panes/devicespanel.py
  meerk40t/gui/panes/laserpanel.py
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/panes/notespanel.py
  meerk40t/gui/panes/position.py
  meerk40t/gui/panes/spoolerpanel.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#808 Correct RuntimeError, dequeue mutated
  meerk40t/kernel.py
Labels: Context: Base

#812 Fix / Extend missing translations
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmribbon.py
  translate.py
Labels: Context: Config, Context: GUI, Context: I18n

#818 Minor codacy remediation for main.py
  meerk40t/main.py
Labels: Context: Base

#816 Various minor UI improvements
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#817 Remove email address field from bug/suggestion templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/suggestion.yml
Labels: Context: Config

#819 Add portuguese Language files to Workflows
  .github/workflows/linux/meerk40t.spec
  .github/workflows/win/meerk40t.spec
Labels: Context: Config

#824 Fix incorrect syntax error for 'matrix'
  meerk40t/core/elements.py
Labels: Context: Core

#827 Misc UI improvements
  meerk40t/core/elements.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel.py
Labels: Context: GUI, Context: Base, Context: Core

#730 Ruidacontrol Rastering
  meerk40t/core/cutcode.py
  meerk40t/core/drivers.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/device/ruida/ruidadevice.py
Labels: Context: Core, Context: Devices

#828 Fix outline statement
  meerk40t/core/elements.py
Labels: Context: Core

#809 Rotary uses unused settings, turns those off.
  meerk40t/gui/preferences.py
  meerk40t/gui/rotarysettings.py
Labels: Context: GUI

#830 Fix cutcode imports.
  meerk40t/core/cutcode.py
Labels: Context: Core

#834 Fix CentOS build, split ci.yml into separate build platforms.
  .github/workflows/centos.yml
  .github/workflows/linux/meerk40t.spec
  .github/workflows/ubuntu.yml
  .github/workflows/win.yml
Labels: Context: Config

#835 Drop Issues requirement to confirm CoC
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/suggestion.yml
Labels: Context: Config

#836 Correct Ruidacontrol settings update
  meerk40t/core/cutcode.py
  meerk40t/device/ruida/ruidadevice.py
Labels: Context: Core, Context: Devices

#837 Version Bump to 5001
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#831 Fix Codecy Checks with Pylint Disables
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  meerk40t/README.md
  meerk40t/core/README.md
  meerk40t/core/bindalias.py
  meerk40t/core/cutcode.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/inputs.py
  meerk40t/core/planner.py
  meerk40t/core/plotplanner.py
  meerk40t/core/webhelp.py
  meerk40t/device/README.md
  meerk40t/device/basedevice.py
  meerk40t/device/ch341/ch341libusbdriver.py
  meerk40t/device/grbl/grbldevice.py
  meerk40t/device/lasercommandconstants.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/device/moshi/moshidevice.py
  meerk40t/dxf/README.md
  meerk40t/extra/inkscape.py
  meerk40t/extra/pathoptimize.py
  meerk40t/extra/updater.py
  meerk40t/extra/winsleep.py
  meerk40t/gui/about.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/consoleproperty.py
  meerk40t/gui/executejob.py
  meerk40t/gui/keymap.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/laserpanel.py
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertiespanel.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/scene/toolwidgets.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/image/imagetools.py
  meerk40t/kernel.py
  meerk40t/main.py
  test/bootstrap.py
  test/test_core_cutcode.py
  test/test_core_elements.py
  test/test_core_plotplanner.py
  test/test_imagetools_actualize.py
  test/test_imagetools_wizard.py
  test/test_kernel.py
  test/test_laser_speeds.py
  test/test_zingl.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#795 Raster optimisations
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/device/lhystudios/laserspeed.py
  meerk40t/device/ruida/ruidadevice.py
  meerk40t/extra/pathoptimize.py
  meerk40t/image/imagetools.py
  meerk40t/tools/rastergrouping.py
Labels: Context: Core, Context: Misc, Context: Devices

#825 Visually distinguish selection modes
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n

#801 Bindalias and keybind improvements
  meerk40t/core/bindalias.py
  meerk40t/core/spoolers.py
  meerk40t/gui/executejob.py
  meerk40t/gui/keymap.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: Core

#851 Fix #850
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#852 Selection-Rectangle: optics + make Ctrl-Key more MacOS-aware
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenewidgets.py
Labels: Context: GUI

#849 Rich-text console + ansi o/s terminal window + bbcode
  meerk40t/gui/about.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/configuration.py
  meerk40t/gui/consoleproperty.py
  meerk40t/gui/controller.py
  meerk40t/gui/executejob.py
  meerk40t/gui/file/fileoutput.py
  meerk40t/gui/groupproperties.py
  meerk40t/gui/imageproperty.py
  meerk40t/gui/keymap.py
  meerk40t/gui/lhystudios/lhystudiosaccel.py
  meerk40t/gui/lhystudios/lhystudioscontrollergui.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  meerk40t/gui/moshi/moshicontrollergui.py
  meerk40t/gui/moshi/moshidrivergui.py
  meerk40t/gui/notes.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/panes/devicespanel.py
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/pathproperty.py
  meerk40t/gui/preferences.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/rotarysettings.py
  meerk40t/gui/simulation.py
  meerk40t/gui/textproperty.py
  meerk40t/gui/usbconnect.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernel.py
Labels: Context: GUI, Context: Base

#853 Improve keymap key display still further
  meerk40t/gui/keymap.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#855 Revert 52e321a and fix colour-console [normal] and add unittest
  meerk40t/gui/about.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/configuration.py
  meerk40t/gui/consoleproperty.py
  meerk40t/gui/controller.py
  meerk40t/gui/executejob.py
  meerk40t/gui/file/fileoutput.py
  meerk40t/gui/groupproperties.py
  meerk40t/gui/imageproperty.py
  meerk40t/gui/keymap.py
  meerk40t/gui/lhystudios/lhystudiosaccel.py
  meerk40t/gui/lhystudios/lhystudioscontrollergui.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  meerk40t/gui/moshi/moshicontrollergui.py
  meerk40t/gui/moshi/moshidrivergui.py
  meerk40t/gui/notes.py
  meerk40t/gui/operationproperty.py
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/consolepanel.py
  meerk40t/gui/panes/devicespanel.py
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/pathproperty.py
  meerk40t/gui/preferences.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/rotarysettings.py
  meerk40t/gui/simulation.py
  meerk40t/gui/textproperty.py
  meerk40t/gui/usbconnect.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  test/test_kernel.py
Labels: Context: GUI, Context: Tests

#861 Fix unittests on Windows
  .github/workflows/unittests.yml
Labels: Context: Config

#860 Fix crash on `channel open x`
  meerk40t/kernel.py
Labels: Context: Base

#858 0.8 add settings classes
  meerk40t/camera/camera.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/bindalias.py
  meerk40t/core/elements.py
  meerk40t/core/exceptions.py
  meerk40t/core/planner.py
  meerk40t/device/ch341/ch341.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/grbl/gui/tcpcontroller.py
  meerk40t/gui/auitoolbars.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/operationpropertymain.py
  meerk40t/gui/propertiespanel.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wizardpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/kernel/__init__.py
  meerk40t/kernel/channel.py
  meerk40t/kernel/context.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/jobs.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/lifecycles.py
  meerk40t/kernel/module.py
  meerk40t/kernel/service.py
  meerk40t/kernel/settings.py
  meerk40t/kernel/states.py
  meerk40t/kernelserver.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/lihuiyu/gui/lhystudioscontrollergui.py
  meerk40t/lihuiyu/gui/lhystudiosdrivergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/gui.py
  meerk40t/rotary/rotary.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Devices

#859 Update svgelements
  meerk40t/svgelements.py
Labels: Context: Base

#823 Transformation panel
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/panes/navigationpanels.py
Labels: Context: GUI, Context: I18n
