Repository meerk40t/meerk40t, pull requests merged in 2022-01, with the labels that each got.

#725 Submit crash reports if running from git/main
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#727 Improve special ops handling
  meerk40t/core/elements.py
  meerk40t/kernel.py
Labels: Context: Base, Context: Core

#726 Fix ops node not showing children
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#728 Fix crash submission
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#733 Merge 2 camera fixes together
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/toolbarcontrol.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#732 Correct Camera Multiple Windows
  meerk40t/gui/panes/camerapanel.py
  meerk40t/gui/panes/toolbarcontrol.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#736 Fix issue #724
  meerk40t/core/svg_io.py
Labels: Context: Core

#731 Optimize channel improvements
  meerk40t/core/planner.py
  meerk40t/kernel.py
Labels: Context: Base, Context: Core

#740 Idle spoolers
  meerk40t/core/cutcode.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/device/lasercommandconstants.py
  meerk40t/grbl/device.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Devices

#744 Tatarize/nanometers
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/core/plotplanner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/device/dummydevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/embroider.py
  meerk40t/grbl/device.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhystudiosdrivergui.py
  meerk40t/moshi/device.py
  meerk40t/rotary/rotary.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices

#747 Workflow improvements
  .flake8
  .github/workflows/codeql-analysis.yml
  .github/workflows/pull-request-labeler.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/unittests.yml
  .isort.cfg
  .mypy.ini
  pyproject.toml
Labels: Context: Config

#752 Fix Github PR labeler
  .github/labeler.yml
Labels: Context: Config

#754 Reduce travel time 'on' by default
  meerk40t/core/planner.py
Labels: Context: Core

#757 Attempt to fix pyproject.toml
  pyproject.toml
Labels: Context: Config

#755 Additional optimisation options
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/gui/executejob.py
Labels: Context: GUI, Context: Core

#756 Moshiboard Refinements
  meerk40t/device/ch341/ch341.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/device/moshi/moshiblob.py
  meerk40t/device/moshi/moshidevice.py
  meerk40t/gui/moshi/moshicontrollergui.py
Labels: Context: GUI, Context: Devices

#741 Language updates DE in meerk40t
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#759 0.7.5-beta2 Version Bump
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#761 Update .mo files for translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/pt-br/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.mo
Labels: Context: I18n

#768 Force append \n for normal context calls
  meerk40t/kernel.py
Labels: Context: Base

#770 Add "ConsoleOperation" to allow interrupts to have notes and custom labels
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/device/lasercommandconstants.py
  meerk40t/gui/consoleproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core, Context: Devices

#771 Fixes Nuke-Beta2 Crash bug.
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/gui/consoleproperty.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#775 Add in some scaffolding for 0.8.0 to allow future compatibility.
  meerk40t/kernel.py
Labels: Context: Base

#776 Fix Group Inner Burns
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
Labels: Context: Core

#779 Check and Update Translation information via Poboy
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/pt-br/LC_MESSAGES/meerk40t.mo
  locale/pt-br/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#765 Fix Save to not open dialog if you opened a project file
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#774 Improve Lhystudios config window
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
Labels: Context: GUI

#781 Fix resize by < 10%...
  meerk40t/core/elements.py
  meerk40t/gui/panes/position.py
Labels: Context: GUI, Context: Core

#783 Disallow Drag / Drop of some invalid image combinations
  meerk40t/core/elements.py
Labels: Context: Core

#787 Extend translations
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements.py
Labels: Context: I18n, Context: Core
