Repository meerk40t/meerk40t, pull requests merged in 2022-11, with the labels that each got.

#1466 Add extra time to simulation, German translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: I18n

#1465 Spooler
  meerk40t/balormk/device.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
Labels: Context: GUI, Context: Core

#1433 Correct machine origin
  meerk40t/core/units.py
  meerk40t/gui/plugin.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  test/test_core_viewports.py
Labels: Context: GUI, Context: Core, Context: Tests

#1468 Add basic cutcode editor
  meerk40t/core/cutcode.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#1469 Fix enabled status for read util ops
  meerk40t/core/svg_io.py
Labels: Context: Core

#1473 Fix snap behaviour and make mode visually clearer
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#1472 Deal with unwanted decimal point
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#1471 Fixes for moshi + grbl settings
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/moshi/device.py
Labels: Context: GUI

#1470 Allow tolerance for inner burn optimisations
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
  meerk40t/tools/pathtools.py
Labels: Context: Core, Context: Misc

#1477 Fix Stroke Width (in native no scale)
  meerk40t/core/element_commands.py
  meerk40t/core/svg_io.py
Labels: Context: Core

#1478 Fix stroke value display and change
  meerk40t/core/element_commands.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1480 Add missing translation
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: I18n

#1481 Note Corrections
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
Labels: Context: Core

#1479 Fix drag&drop for regmark nodes
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1483 Fix IndexError after deletion at end
  meerk40t/gui/simulation.py
Labels: Context: GUI

#1482 Duplicate Reference Elements in Series. Optimization Disables.
  meerk40t/core/element_treeops.py
  meerk40t/core/planner.py
Labels: Context: Core

#1484 Graphical method of computing element area
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/statusbarwidgets/infowidget.py
Labels: Context: GUI, Context: I18n

#1485 Cosmetic changes to optimisation options
  meerk40t/core/planner.py
  meerk40t/gui/executejob.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#1487 Some more cosmetics
  meerk40t/core/planner.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#1490 Prevent creation of degenerate basic shapes
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolrect.py
Labels: Context: GUI

#1488 Undo Correction
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/README.md
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/refnode.py
  meerk40t/core/undos.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1491 Classify: consistent treatment after complete cmd execution
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
Labels: Context: Core

#1494 Cherry-Picked Subdivide Cutcode
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutcode/README.md
  meerk40t/core/cutcode/__init__.py
  meerk40t/core/cutcode/cubiccut.py
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/cutgroup.py
  meerk40t/core/cutcode/cutobject.py
  meerk40t/core/cutcode/dwellcut.py
  meerk40t/core/cutcode/gotocut.py
  meerk40t/core/cutcode/homecut.py
  meerk40t/core/cutcode/inputcut.py
  meerk40t/core/cutcode/linecut.py
  meerk40t/core/cutcode/outputcut.py
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/cutcode/quadcut.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/cutcode/rawcut.py
  meerk40t/core/cutcode/setorigincut.py
  meerk40t/core/cutcode/waitcut.py
  meerk40t/core/cutplan.py
  meerk40t/core/element_treeops.py
  meerk40t/core/laserjob.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/node/util_home.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_origin.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
  meerk40t/core/planner.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/simulation.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
  meerk40t/ruida/emulator.py
  test/test_core_cutcode.py
  test/test_core_plotplanner.py
Labels: Context: GUI, Context: Core, Context: Tests

#1495 Node Instance Conversion
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/blobnode.py
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_ops.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/cutnode.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/layernode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/refnode.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/node/util_home.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_origin.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/inputproperty.py
  meerk40t/gui/propertypanels/outputproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1496 0.8.2 bug fixes
  meerk40t/core/element_treeops.py
  meerk40t/core/undos.py
Labels: Context: Core

#1497 Add in PostExec kernel commands
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/kernel/kernel.py
Labels: Context: Core

#1498 Cutcode without parameter
  meerk40t/core/cutcode/cubiccut.py
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/cutgroup.py
  meerk40t/core/cutcode/cutobject.py
  meerk40t/core/cutcode/dwellcut.py
  meerk40t/core/cutcode/gotocut.py
  meerk40t/core/cutcode/homecut.py
  meerk40t/core/cutcode/inputcut.py
  meerk40t/core/cutcode/linecut.py
  meerk40t/core/cutcode/outputcut.py
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/cutcode/quadcut.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/cutcode/rawcut.py
  meerk40t/core/cutcode/setorigincut.py
  meerk40t/core/cutcode/waitcut.py
  meerk40t/core/cutplan.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/gui/laserrender.py
  meerk40t/ruida/emulator.py
Labels: Context: GUI, Context: Core

#1499 Add node mixin
  meerk40t/core/node/nutils.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
Labels: Context: Core

#1501 Adds in basic polycut function.
  meerk40t/core/cutplan.py
  meerk40t/core/element_commands.py
  meerk40t/fill/fills.py
  meerk40t/tools/pathtools.py
Labels: Context: Core, Context: Misc

#1503 Per pattern defaults / settings
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#1505 Living hinges
  meerk40t/gui/icons.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Misc

#1506 Stop button oddissey
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#1508 Some usability updates
  meerk40t/core/units.py
  meerk40t/tools/livinghinges.py
Labels: Context: Core, Context: Misc

#1509 Allow more customisations
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#1513 Force Staticboxes to resize
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#1514 Fix boundary check
  meerk40t/core/units.py
Labels: Context: Core

#1517 Allow tenth percent adjustments
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#1516 Gain a couple of pixels by setting minsize for StaticBoxes
  meerk40t/device/gui/defaultactions.py
  meerk40t/gui/about.py
  meerk40t/gui/alignment.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/lhyoperationproperties.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Misc, Context: Devices

#1519 Numpath graph
  meerk40t/core/node/elem_numpath.py
  meerk40t/numpath.py
Labels: Context: Base, Context: Core

#1521 Additional toolbar button
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/wxmribbon.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Misc

#1522 User defined delay before trace hull
  meerk40t/core/element_commands.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI, Context: Core

#1532 Prevent creation of duplicate spool history entry
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI
