Repository meerk40t/meerk40t, pull requests merged in 2022-08, with the labels that each got.

#1206 Address multiple Linux crashes for Statusbar
  meerk40t/core/elements.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/statusbarwidgets/statusbarwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1209 Avoid overflow runtime errors for area-calculation
  meerk40t/core/elements.py
Labels: Context: Core

#1208 Convert op keeps children
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
Labels: Context: Core

#1210 Avoid unnecessary info calculations in statusbar / suppress statusbar if desired
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1212 Cast iconsize to int in wx.treectrl
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1211 One 'fix' / one improvement
  meerk40t/core/elements.py
  meerk40t/fill/fills.py
  meerk40t/gui/statusbarwidgets/infowidget.py
Labels: Context: GUI, Context: Core

#1214 Fix logic
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1215 Fix stupid oversight
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1216 Add python version to crashlog
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#1217 Revert onSize overload
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1218 Check Version incompatibility
  meerk40t/gui/plugin.py
Labels: Context: GUI

#1219 Fix Linux build can't find wxpython issue
  .github/workflows/linux/meerk40t.spec
Labels: Context: Config

#1220 Improve/harmonize textentry behaviour across the board
  meerk40t/grbl/gui/tcpcontroller.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/wizardpanel.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/lhyoperationproperties.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
Labels: Context: GUI

#1226 Correct Major Lag Listing Spooler
  meerk40t/core/cutcode.py
  meerk40t/core/spoolers.py
Labels: Context: Core

#1227 Correct failing unittests...
  meerk40t/lihuiyu/device.py
  test/test_core_plotplanner.py
Labels: Context: Tests

#1229 Add `svg_viewport_bed` option.
  meerk40t/core/svg_io.py
Labels: Context: Core

#1223 Statusbar info for burn progress / Burn history
  meerk40t/balormk/driver.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
Labels: Context: GUI, Context: Core

#1230 Corrections to DXF and renderer.
  meerk40t/README.md
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/README.md
  meerk40t/fill/README.md
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/README.md
  meerk40t/gui/statusbarwidgets/README.md
  meerk40t/gui/utilitywidgets/README.md
  meerk40t/image/README.md
Labels: Context: GUI, Context: Core, Context: Misc

#1232 Make operation warning-level device dependent and user-configurable
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/device/dummydevice.py
  meerk40t/device/gui/__init__.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernel/context.py
  meerk40t/kernel/settings.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Core, Context: Devices

#1231 Many Minor Errors, convert many formats to fstrings
  meerk40t/balormk/device.py
  meerk40t/balormk/plugin.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/units.py
  meerk40t/core/wordlist.py
  meerk40t/device/basedevice.py
  meerk40t/device/dummydevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/dxf/plugin.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/auitoolbars.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attrib_stroke.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/context.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/module.py
  meerk40t/kernel/service.py
  meerk40t/kernel/settings.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/device.py
  meerk40t/rotary/gui/gui.py
  meerk40t/rotary/rotary.py
  meerk40t/ruida/device.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices

#1233 Two fixes
  meerk40t/device/gui/warningpanel.py
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI, Context: Devices

#1235 Some more fixes / Simulation window extension
  meerk40t/gui/devicepanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#1236 Replace all _()% with _().format() code styles.
  meerk40t/balormk/device.py
  meerk40t/camera/camera.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/camera/plugin.py
  meerk40t/core/bindalias.py
  meerk40t/core/elements.py
  meerk40t/core/planner.py
  meerk40t/core/plotplanner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/device/ch341/ch341.py
  meerk40t/device/ch341/libusb.py
  meerk40t/device/dummydevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/inkscape.py
  meerk40t/extra/pathoptimize.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/about.py
  meerk40t/gui/executejob.py
  meerk40t/gui/keymap.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/attrib_stroke.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/channel.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/kernel.py
  meerk40t/kernelserver.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/laserspeed.py
  meerk40t/lihuiyu/lihuiyuemulator.py
  meerk40t/moshi/moshiblob.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices

#1237 Minor tweaks for 3.10 wxPython 4.2
  meerk40t/balormk/device.py
  meerk40t/gui/icons.py
  meerk40t/gui/plugin.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1239 Some github actions cleanup
  .github/workflows/codeql-analysis.yml
  .github/workflows/mac11_pyinst.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/ubuntu.yml
  .github/workflows/unittests.yml
  requirements-gui.txt
  requirements-nogui.txt
  requirements.txt
Labels: Context: Config

#1238 Replace outdated wxpython constants / methods
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/auitoolbars.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/gui/moshicontrollergui.py
Labels: Context: GUI

#1240 Fix device selection combo
  meerk40t/gui/about.py
  meerk40t/gui/simulation.py
Labels: Context: GUI

#1245 Fix several smaller errors notified by Codacy
  meerk40t/balormk/device.py
  meerk40t/core/bindalias.py
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/core/wordlist.py
  meerk40t/extra/inkscape.py
  meerk40t/extra/winsleep.py
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/lihuiyuemulator.py
Labels: Context: GUI, Context: Core, Context: Misc

#1244 More consistent time estimates in spooler
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI, Context: Core

#1243 Reestablish reify (has still some merits)
  meerk40t/core/elements.py
Labels: Context: Core

#1242 Two minor fixes
  meerk40t/gui/about.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1246 Address textbox sizes
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#1249 Add svgz save type, expand versions saving
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1252 Show/Hide regmarks
  meerk40t/core/elements.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1251 Make std entries in tree stand out more in dark mode
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1250 A regmarked element may no longer appear in ops
  meerk40t/core/node/branch_regmark.py
Labels: Context: Core

#1253 Update mac11_pyinst.yml
  .github/workflows/mac11_pyinst.yml
Labels: Context: Config

#1254 Corrections to Actualize and ImageNode
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/gui/laserrender.py
  meerk40t/image/actualize.py
  meerk40t/image/imagetools.py
  test/test_imagetools_actualize.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1257 Fix several small bugs tiger found
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/util_console.py
  meerk40t/core/svg_io.py
  meerk40t/core/wordlist.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/plugin.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
  test/test_core_plotplanner.py
Labels: Context: GUI, Context: Core, Context: Tests

#1260 Fix orphan selection rectangle
  meerk40t/core/elements.py
Labels: Context: Core

#1259 Fix non text display on buttons
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/simulation.py
Labels: Context: GUI

#1261 Several display enhancements
  meerk40t/device/gui/warningpanel.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
Labels: Context: GUI, Context: Devices

#1262 Sync choicepropertypanels across multiple panels
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#1258 Integrate SVGText and TextNode, correct position rendering
  .github/workflows/win/file_version.txt
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/core/element_types.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/core/wordlist.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/dxf/dxf_io.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/about.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/fonts.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/plugin.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/main.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/svgelements.py
  setup.cfg
  test/test_core_cutcode.py
  test/test_core_elements.py
  test/test_core_plotplanner.py
  test/test_core_viewports.py
  test/test_elements_penbox.py
  test/test_fill.py
  test/test_imagetools_actualize.py
  test/test_imagetools_wizard.py
  test/test_numpath.py
  test/test_wobble.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1266 Several small remaining bug fixes
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/core/units.py
  meerk40t/extra/vectrace.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/mwindow.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/lihuiyu/laserspeed.py
Labels: Context: GUI, Context: Core, Context: Misc

#1265 Some info about a path in the property panel
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
Labels: Context: GUI

#1264 Fix inquiry of attributes
  meerk40t/core/elements.py
Labels: Context: Core

#1268 Additional Corrections, tweaks
  meerk40t/balormk/device.py
  meerk40t/core/elements.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/op_raster.py
  meerk40t/grbl/device.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/preferences.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
Labels: Context: GUI, Context: Core

#1272 Create TextEntry as Window rather than Dialog for Mac Issues.
  meerk40t/gui/toolwidgets/textentry.py
  meerk40t/gui/toolwidgets/tooltext.py
Labels: Context: GUI

#1271 Finalish Cosmetic Changes
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
  meerk40t/core/planner.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/textentry.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: GUI, Context: Core

#1274 Merge in Module Delegation
  .github/workflows/win/file_version.txt
  meerk40t/balormk/gui/gui.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/svg_io.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/about.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/kernel/context.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/main.py
  meerk40t/moshi/gui/gui.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#1276 Sequence Selection Awareness
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/core/spoolers.py
  meerk40t/core/units.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/cag.py
  meerk40t/grbl/device.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
Labels: Context: GUI, Context: Core, Context: Misc

#1278 Additional Tweaks. Most major bugs corrected.
  .github/workflows/win/file_version.txt
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/core/bindalias.py
  meerk40t/core/node/node.py
  meerk40t/core/node/refnode.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/kernel/kernel.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#1280 Fix TextCtrl updates, mark Transparency with X.
  meerk40t.py
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/cag.py
  meerk40t/extra/vectrace.py
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/inputproperty.py
  meerk40t/gui/propertypanels/opbranchproperties.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/outputproperty.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/propertypanels/waitproperty.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/toolwidgets/textentry.py
  meerk40t/gui/toolwidgets/toolwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/lhyoperationproperties.py
  meerk40t/moshi/gui/moshidrivergui.py
  setup.py
Labels: Context: Config, Context: GUI, Context: Core, Context: Misc

#1284 Advance alignments with more regular command functions.
  meerk40t/core/elements.py
  meerk40t/gui/alignment.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1281 Crash Log + Small Fixes + Alignment Panel + Ruida/GRBL update
  meerk40t/balormk/device.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/camera/gui/gui.py
  meerk40t/core/bindalias.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/svg_io.py
  meerk40t/core/webhelp.py
  meerk40t/grbl/device.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/alignment.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/fonts.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/notes.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/opbranchproperties.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/propertypanels/waitproperty.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/settings.py
  meerk40t/moshi/device.py
  meerk40t/ruida/device.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base, Context: Core

#1286 Sync bugfix again with main
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#1288 Fix RasterNode Classification Error
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1290 Add paint bounds rather than pure geometric bounds for nodes
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/device.py
Labels: Context: GUI, Context: Core

#1292 Home Operations
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode.py
  meerk40t/core/element_types.py
  meerk40t/core/elements.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/node/util_home.py
  meerk40t/core/planner.py
  meerk40t/grbl/device.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
Labels: Context: GUI, Context: Core
