Repository meerk40t/meerk40t, pull requests merged in 2022-12, with the labels that each got.

#1537 Reestablish image manipulation functionality
  meerk40t/core/node/elem_image.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#1538 DPI display in Tree
  meerk40t/core/node/op_image.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1539 Generalize Hinge
  meerk40t/fill/patternfill.py
  meerk40t/main.py
  meerk40t/tools/livinghinges.py
Labels: Context: Base, Context: Misc

#1520 Geometry Strings
  meerk40t/README.md
  meerk40t/core/element_commands.py
  meerk40t/core/element_types.py
  meerk40t/core/node/elem_geomstr.py
  meerk40t/core/node/rootnode.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/operation_info.py
  meerk40t/lihuiyu/parser.py
  meerk40t/numpath.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1540 Logging Service for Spooler History
  meerk40t/core/core.py
  meerk40t/core/logging.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/kernel/settings.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Logging

#1542 Geomstr Math
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#1544 Fix wrong time estimates (hopefully)
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1548 Selection aware treeops
  meerk40t/core/element_treeops.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1550 Add time estimate to persistent data
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI, Context: Core

#1543 Geomstr Intersection Math
  meerk40t/gui/laserrender.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: GUI, Context: Misc, Context: Tests

#1551 Split information fields in spooler panel
  meerk40t/core/elements.py
  meerk40t/core/spoolers.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/emulator.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/ruida/emulator.py
Labels: Context: GUI, Context: Core, Context: Devices

#1553 Deal with request for save on empty canvas
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1555 Autocrop and proper image update
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/node/elem_image.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI, Context: Core

#1556 Proper conversion of old spooler log
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1558 Format conversion for logged spooler history
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1559 Fix vectorize command
  meerk40t/core/element_commands.py
Labels: Context: Core

#1560 Extend translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/fill/patternfill.py
  meerk40t/tools/livinghinges.py
Labels: Context: I18n, Context: Misc

#1557 Geometry/Geomstr Merging
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#1561 Add 'simplify' command for line segments
  meerk40t/core/element_commands.py
Labels: Context: Core

#1562 Living hinges - slight adjustments
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/fill/patternfill.py
  meerk40t/tools/livinghinges.py
Labels: Context: Core, Context: Misc

#1566 Use arithmetically more stable functions
  meerk40t/core/elements.py
Labels: Context: Core

#1567 Driver Tests
  meerk40t/core/node/op_raster.py
  test/bootstrap.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
Labels: Context: Core, Context: Tests

#1552 Living Hinge with Geomstr routines for speed
  meerk40t/fill/patternfill.py
  meerk40t/fill/patterns.py
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#1570 Extended path simplification
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Core, Context: Misc

#1571 New project did not clear regmarks
  meerk40t/core/elements.py
Labels: Context: Core

#1572 Maintain structure underneath regmarks on reload
  meerk40t/core/svg_io.py
Labels: Context: Core

#1573 Fix circle creation bug
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
Labels: Context: GUI

#1578 New basic editing icons
  meerk40t/core/element_commands.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/icons.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Core, Context: Misc

#1577 Polybool clipping
  meerk40t/extra/cag.py
  meerk40t/tools/clipper.py
Labels: Context: Misc

#1581 Deal with unwanted nodes in op_image
  meerk40t/core/node/op_image.py
Labels: Context: Core

#1580 Provide fallback solution for NewIdRef
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1582 Deal with unwanted floats in sliders / gauges
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/statusbarwidgets/infowidget.py
Labels: Context: GUI

#1584 Remove old debug code
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1585 Fix undefined variables bug
  meerk40t/gui/lasertoolpanel.py
Labels: Context: GUI

#1587 Update Italian Translation Items
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1590 Add ratio lock in object property panel
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#1591 Outline fixes
  meerk40t/core/element_commands.py
  meerk40t/gui/opassignment.py
Labels: Context: GUI, Context: Core

#1592 Node editor sync
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/core/element_commands.py
  meerk40t/core/node/op_image.py
  meerk40t/core/svg_io.py
  meerk40t/grbl/serial_connection.py
  meerk40t/gui/icons.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#1593 Lihuiyu: Correct Override-Speed Fix
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/driver.py
  test/test_drivers_lihuiyu.py
Labels: Type: Bug, Type: Enhancement, Status: Completed, Priority: Critical, Work: Completed, Context: Tests, Hardware: M2 Nano

#1597 Fix elem line crash
  meerk40t/core/node/elem_line.py
Labels: Context: Core

#1595 0.8.2 bug fixes (Group A)
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/plugin.py
  meerk40t/core/elements.py
  meerk40t/core/units.py
  meerk40t/gui/wxmmain.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Core, Context: Misc

#1600 0.8.2 Bug Fixes (Group B)
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/rootnode.py
  meerk40t/dxf/dxf_io.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/ruida/plugin.py
Labels: Context: GUI, Context: Core, Context: Misc

#1605 Switch Camera button to first identified camera
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1604 Add support for physical home
  meerk40t/balormk/driver.py
  meerk40t/core/drivers.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/driver.py
  meerk40t/gui/navigationpanels.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
Labels: Context: GUI, Context: Core

#1603 Add propertypanel for elem line
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/pointproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#1606 Introduce has_endstops logic for GRBL
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#1607 0.8.2 bug fixes (Group C)
  meerk40t/camera/camera.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/element_commands.py
  meerk40t/extra/cag.py
  meerk40t/grbl/parser.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  test/test_core_elements.py
  test/test_geomstr.py
  test/test_kernel.py
  test/test_lifecycle.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1602 Hull methods divided. Correct two main crashes.
  meerk40t/core/element_commands.py
Labels: Context: Core

#1601 Legacy 0.7.9 (Bug Fixes)
  meerk40t.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/exceptions.py
  meerk40t/core/output.py
  meerk40t/core/svg_io.py
  meerk40t/device/ruida/ruidadevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/kernel.py
  meerk40t/svgelements.py
  meerk40t/tools/rastergrouping.py
  setup.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices

#1414 Version bump 0.8.2
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#1612 Fix rare crash
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1613 Two Linux fixes
  meerk40t/extra/hershey.py
  meerk40t/gui/toolwidgets/toolmeasure.py
Labels: Context: GUI, Context: Misc
