Repository meerk40t/meerk40t, pull requests merged in 2022-06, with the labels that each got.

#1072 mac-autorun-build-fix
  .github/workflows/mac11_pyinst.yml
Labels: Context: Config

#1073 Implement redlight offset and redlight angle for balor
  meerk40t/balormk/main.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/units.py
  meerk40t/fill/fills.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  test/test_fill.py
Labels: Context: GUI, Context: Core, Context: Tests

#1074 Stop annoying reselection if right mouse-click
  meerk40t/core/elements.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI, Context: Core

#1075 Consistent classification, some bugfixes
  meerk40t/core/elements.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1076 Deleting op will no longer delete contained elems
  meerk40t/core/elements.py
Labels: Context: Core

#1078 Improved Tree-menu-Display / Fix for default
  meerk40t/core/elements.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1079 Speedup grid widget
  meerk40t/gui/scenewidgets/gridwidget.py
Labels: Context: GUI

#1077 Explore numpath (numpy path) structure for data storage.
  meerk40t/core/element_types.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/rootnode.py
  meerk40t/gui/laserrender.py
  meerk40t/numpath.py
  test/test_fill.py
  test/test_numpath.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Tests

#1083 Some grid improvements + fixes
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1084 Optimise drawing of circular grid
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/simulation.py
Labels: Context: GUI

#1085 Fix copy while dragging
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#1087 Toggle UI-Elements
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1080 Correct a few lingering Balor issues.
  meerk40t/balor/command_list.py
  meerk40t/balor/sender.py
  meerk40t/balormk/balor_params.py
  meerk40t/balormk/commandsequence.py
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/pathtools.py
  meerk40t/balormk/plugin.py
  meerk40t/core/elements.py
  meerk40t/core/parameters.py
  meerk40t/core/units.py
  meerk40t/fill/fills.py
  meerk40t/grbl/device.py
  meerk40t/kernel/context.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/ruida/device.py
  test/test_fill.py
  test/test_wobble.py
Labels: Context: Core, Context: Tests

#1088 Recognise degenerate GUI colors
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1089 Add "circular" to trace
  meerk40t/core/elements.py
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI, Context: Core

#1090 Compare too rapid draw attempts
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolrect.py
Labels: Context: GUI

#1091 Extend event with nearest_snap
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/buttonwidget.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
Labels: Context: GUI

#1094 Miscellaneous
  meerk40t/core/elements.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: Core

#1095 Some font tweaks
  meerk40t/core/svg_io.py
  meerk40t/gui/fonts.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1096 SHX Line Font Parser
  meerk40t/extra/hershey.py
  meerk40t/main.py
  meerk40t/svgelements.py
  meerk40t/tools/shxparser.py
Labels: Context: Base, Context: Misc

#1097 Ribbonbar
  meerk40t/core/elements.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: Core

#1098 Fix for polygon, ensure all icons have same size
  meerk40t/gui/consolepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/notes.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1100 Apply fixes for camera+dragging
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/notes.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/sceneconst.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1099 Fixes (Camera, Scene-Dragging)
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/sceneconst.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/toolvector.py
Labels: Context: GUI

#1104 Fix the fix
  meerk40t/gui/scenewidgets/rectselectwidget.py
Labels: Context: GUI

#1092 Recode RasterWizard to be more global
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/layernode.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/core/units.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/rasterwizard.py
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  test/test_core_cutcode.py
  test/test_core_plotplanner.py
  test/test_imagetools_actualize.py
  test/test_imagetools_wizard.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1108 Merge Legacy7 into Main
  meerk40t/core/planner.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1110 Trafo-Panel: restrict laserhead movement
  meerk40t/gui/icons.py
  meerk40t/gui/navigationpanels.py
  meerk40t/lihuiyu/gui/lhystudiosdrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: GUI

#1109 Tree stuff
  meerk40t/core/elements.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: Core

#1111 0.8.x next set of bug fixes
  meerk40t/core/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/svg_io.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1116 Just prevent the crash for return plan
  meerk40t/core/planner.py
Labels: Context: Core

#1117 Make tree element icons closer to reality
  meerk40t/gui/laserrender.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1118 Amend drop- / classify for operation nodes
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1119 Make camera search range configurable
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/scenewidgets/attractionwidget.py
Labels: Context: GUI

#1120 Make sure ribbonbar.onpaint is thread safe
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1121 1st attempt at Tree Optimisation
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1123 Reduce unnecessary tree rebuilds
  meerk40t/core/elements.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1125 3rd attempt at tree optimisation
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/toolwidgets/toolwidget.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1126 4th attempt at tree optimisation
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1127 Additional attributes in text-propertypanel
  meerk40t/gui/propertypanels/textproperty.py
Labels: Context: GUI

#1129 Multiple fixes
  meerk40t/core/elements.py
  meerk40t/core/node/filenode.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core
