Repository meerk40t/meerk40t, pull requests merged in 2022-09, with the labels that each got.

#1295 Imageactions
  meerk40t/extra/imageactions.py
  meerk40t/gui/icons.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base, Context: Misc

#1297 Update devices for readability and consistency.
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode.py
  meerk40t/core/drivers.py
  meerk40t/core/node/util_wait.py
  meerk40t/core/planner.py
  meerk40t/grbl/device.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
Labels: Context: Core

#1299 Lihuiyu Driver planner `save_job` command.
  meerk40t/core/node/rootnode.py
  meerk40t/core/spoolers.py
  meerk40t/lihuiyu/device.py
Labels: Context: Core

#1298 Unnamed Bugfix PR
  meerk40t/core/node/rootnode.py
Labels: Context: Core

#1303 Upgrade svgelements to version 1.8 (Corrects some uses of `Use`).
  meerk40t/core/svg_io.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base, Context: Core

#1307 Remove Positional Home Offset, All Plan Injectables
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/node/util_home.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: GUI, Context: Base, Context: Core

#1301 Move Origin, Several Additional Bugs, Parameters Test Window
  .github/workflows/win/file_version.txt
  meerk40t/balormk/driver.py
  meerk40t/camera/camera.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/node/util_home.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/wordlist.py
  meerk40t/grbl/device.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/alignment.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/plugin.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/settings.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/ruida/device.py
  meerk40t/svgelements.py
  setup.cfg
  test/test_kernel.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Tests

#1308 Beta 16 Bugs
  meerk40t/balormk/device.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/elements.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/notes.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1310 Add operation infos to wordlist pattern
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/textproperty.py
Labels: Context: GUI, Context: Core

#1312 Speedup op classification panel in statusbar
  meerk40t/gui/statusbarwidgets/opassignwidget.py
Labels: Context: GUI

#1313 Add gui options for timed camera background update
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1314 Dont use image for autoclassification in raster
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1315 Fix for suppression of shapes
  meerk40t/gui/laserrender.py
Labels: Context: GUI

#1323 Allow reclassify with autogenerated ops
  meerk40t/core/elements.py
Labels: Context: Core

#1324 Dont move scene when scene context menu issued
  meerk40t/gui/scenewidgets/elementswidget.py
Labels: Context: GUI

#1325 Fix resize with scale 1
  meerk40t/core/elements.py
Labels: Context: Core

#1326 Hybrid Font Bounds
  meerk40t/core/node/elem_text.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scene/scene.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base, Context: Core

#1328 Default operations
  .vscode/settings.json
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/planner.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: Config, Context: GUI, Context: Core, Context: Devices

#1317 Beta 16: Bug Fixes. Feature Freeze.
  .github/workflows/win/file_version.txt
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/core/webhelp.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/main.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/ruida/device.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Devices

#1331 Several Final Round Bug Fixes
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  .github/workflows/win/file_version.txt
  README.md
  meerk40t/balormk/device.py
  meerk40t/camera/camera.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/svg_io.py
  meerk40t/core/webhelp.py
  meerk40t/device/dummydevice.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/device.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/ruida/device.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Devices, Context: Docs

#1335 User defined node-labels
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/node/node.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Type: Enhancement, Context: Operations, Status: Blocked, Work: Completed, Context: GUI, Context: Core, Context: Devices

#1337 Correct Image Matrix Bug, Improve Readability
  meerk40t/core/node/elem_image.py
Labels: Context: Core

#1336 Micro Ribbon
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1338 Load/Save Element Lock
  meerk40t/core/svg_io.py
Labels: Context: Core

#1333 Beta19 Bug Fixes
  .github/workflows/win/file_version.txt
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/cutcode.py
  meerk40t/core/elements.py
  meerk40t/core/node/blobnode.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_numpath.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/node.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/gui/alignment.py
  meerk40t/gui/executejob.py
  meerk40t/gui/keymap.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/main.py
  meerk40t/ruida/device.py
  setup.cfg
  test/test_imagetools_actualize.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Tests

#1341 Add In Show Matrix for ViewPorts
  meerk40t/core/cutplan.py
  meerk40t/core/units.py
  meerk40t/ruida/device.py
  test/test_core_viewports.py
Labels: Context: Core, Context: Tests

#1342 Add viewport parameters to moshi & grbl (changed)
  meerk40t/grbl/device.py
  meerk40t/gui/wxmscene.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: GUI

#1340 Additional Small Fixes
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/parameters.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/settings.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  setup.cfg
  translate.py
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core, Context: Misc, Context: Devices

#1343 Grbl Realtime
  meerk40t/grbl/device.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1344 Image DPI. Translation lifecycle order.
  .github/workflows/win/file_version.txt
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/grbl/device.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc

#1346 DXF Hardening any additional small issues.
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/device.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
  meerk40t/dxf/plugin.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/gui.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/notes.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core, Context: Misc

#1353 Additional Fixes for Final hopefully beta
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/device.py
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core

#1327 Legacy7: 0.7.8
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode.py
  meerk40t/core/output.py
  meerk40t/core/svg_io.py
  meerk40t/device/ruida/ruidadevice.py
  meerk40t/gui/lhystudios/lhystudiosdrivergui.py
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/pathproperty.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/textproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Devices
