Repository meerk40t/meerk40t, pull requests merged in 2022-10, with the labels that each got.

#1357 Use blacklevel for pypotrace compatibility.
  meerk40t/extra/potrace.py
  meerk40t/extra/vectrace.py
  meerk40t/main.py
Labels: Context: Base, Context: Misc

#1360 +codespell
  meerk40t/balormk/driver.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/device/ch341/ch341libusbdriver.py
  meerk40t/grbl/device.py
  meerk40t/gui/about.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/README.md
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/tools/README.md
Labels: Context: GUI, Context: Core, Context: Devices

#1356 Future bug fixes.
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/usb_connection.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/bindalias.py
  meerk40t/core/drivers.py
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/device/ch341/ch341libusbdriver.py
  meerk40t/extra/potrace.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/about.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/README.md
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/gui.py
  meerk40t/rotary/gui/gui.py
  meerk40t/tools/README.md
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core, Context: Misc, Context: Devices

#1364 Restore Dynamic Extensions
  meerk40t/main.py
Labels: Context: Base

#1366 Faster Channel Windows
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/gui/consolepanel.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/gui/moshicontrollergui.py
Labels: Context: GUI

#1363 Minor Housekeeping
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/messages.po
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/gui/moshicontrollergui.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#1369 Required Fixes for next beta
  .github/workflows/win/file_version.txt
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/core/cutplan.py
  meerk40t/core/svg_io.py
  meerk40t/grbl/device.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc

#1374 Sync to 0.8.x bug fixes
  .github/workflows/win/file_version.txt
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/core/cutplan.py
  meerk40t/core/svg_io.py
  meerk40t/grbl/device.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc

#1380 Improve WordList help text
  meerk40t/gui/wordlisteditor.py
Labels: Context: GUI

#1379 CutPlan Simplification & Fix
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/gui/icons.py
  meerk40t/gui/propertypanels/inputproperty.py
  meerk40t/gui/propertypanels/opbranchproperties.py
  meerk40t/gui/propertypanels/outputproperty.py
  meerk40t/gui/propertypanels/waitproperty.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
  meerk40t/main.py
  meerk40t/tools/shxparser.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core, Context: Misc, Context: Devices

#1381 Include Help Assets with translation ability.
  meerk40t/core/elements.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
  meerk40t/gui/help_assets/__init__.py
  meerk40t/gui/help_assets/help_assets.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/lihuiyu/device.py
Labels: Context: GUI, Context: Core

#1385 Potracer
  .github/workflows/mac11_pyinst.yml
  .github/workflows/win.yml
Labels: Context: Config, Context: GUI, Context: Docs

#1384 Semifinal Changes
  .github/workflows/mac11_pyinst.yml
  .github/workflows/win.yml
  README.md
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
  meerk40t/ruida/device.py
Labels: Context: Config, Context: GUI, Context: Docs

#1378 0.8.1: Final
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#1386 Move to next/prev page of variables
  meerk40t/gui/wordlisteditor.py
Labels: Context: GUI

#1354 0.8.2: Post Main Version Features.
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/node/node.py
  meerk40t/core/svg_io.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/extra/hershey.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/shxparser.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc, Context: Devices

#1403 Less Lossy Save
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/toolwidgets/toolcircle.py
Labels: Context: GUI, Context: Core, Context: Misc

#1404 Restore Better Use of CLI
  meerk40t/core/elements.py
  meerk40t/grbl/gui/gui.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/lihuiyuemulator.py
  meerk40t/lihuiyu/lihuiyuparser.py
  test/test_cli.py
Labels: Context: Core, Context: Tests

#1399 Image Property Script Apply; Fixed wordlist bug
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements.py
  meerk40t/core/wordlist.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#1401 Wordlist for hershey fonts / better copy
  meerk40t/core/elements.py
  meerk40t/core/wordlist.py
  meerk40t/extra/hershey.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/wordlisteditor.py
Labels: Context: GUI, Context: Core, Context: Misc

#1398 0.7.9 - Bug Fixes and Small Tweaks for Legacy7 Branch
  .github/workflows/win/file_version.txt
  meerk40t/kernel.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: Base

#1270 Scaffolding for Undo (Some functionalities not fully implemented)
  meerk40t/core/bindalias.py
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
Labels: Context: Core

#1368 Allow optional signal to untoggle ribbonbar button
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/gui.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1408 Balor Bug Fixes
  meerk40t/balormk/device.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/core/spoolers.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI, Context: Core

#1407 Correct machine origin
  meerk40t/core/units.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
Labels: Context: GUI, Context: Core

#1409 Improve Tests. Fix Show SwapXY.
  meerk40t/core/units.py
  test/test_core_viewports.py
Labels: Context: Core, Context: Tests

#1405 Add crop/vectorize to imageproperties
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI, Context: Core

#1411 Fix paint_bounds
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/extra/imageactions.py
Labels: Context: Core, Context: Misc

#1410 Fix missing delegates
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: Devices

#1413 Remove Dummy PlotPlanners
  meerk40t/balormk/driver.py
  meerk40t/grbl/device.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
Labels: Context: GUI

#1412 Outline command
  meerk40t/core/elements.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1415 Add `circle_arc_path` command.
  meerk40t/core/elements.py
  meerk40t/core/node/elem_point.py
Labels: Context: Core

#1416 Elements Refactor
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
Labels: Context: Core

#1417 Refactor Elements - Tree commands refactored out
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/treeop.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: Core

#1429 Fix fields not selected on tab in position pane
  meerk40t/gui/position.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#1428 Suppress UI-elements if no potrace available
  meerk40t/core/element_treeops.py
  meerk40t/gui/propertypanels/imageproperty.py
Labels: Context: GUI, Context: Core

#1431 Avoid superelongated spikes for joins
  meerk40t/core/element_commands.py
Labels: Context: Core

#1432 Allow saving of processed image
  meerk40t/core/element_treeops.py
  meerk40t/image/imagetools.py
Labels: Context: Core, Context: Misc

#1434 outline --outer can deal now with more topologies
  meerk40t/core/element_commands.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1438 Update Translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/about.py
Labels: Context: GUI, Context: I18n

#1437 Suppress meaningless 0/0 display
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1436 Deal more consistently with dither
  meerk40t/core/node/elem_image.py
  meerk40t/gui/propertypanels/imageproperty.py
Labels: Context: GUI, Context: Core

#1439 Fix 'align center' crash
  meerk40t/core/element_commands.py
Labels: Context: Core

#1441 Allow suppression of machine origin widget / Fix two commands
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/element_commands.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n, Context: Core

#1440 Some cosmetics
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/alignment.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
Labels: Context: GUI, Context: I18n

#1444 Fix formatterpanel crash
  meerk40t/device/gui/formatterpanel.py
Labels: Context: Devices

#1446 Allow deletion of multiple operations
  meerk40t/core/element_treeops.py
Labels: Context: Core

#1445 Add additional info to group label
  meerk40t/core/elements.py
  meerk40t/core/node/groupnode.py
Labels: Context: Core

#1451 Timed simulation (beta)
  meerk40t/core/cutcode.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcontainer.py
Labels: Context: GUI, Context: Core

#1455 Timed simulation update
  meerk40t/gui/simulation.py
Labels: Context: GUI

#1453 Grbl Control
  meerk40t/balormk/device.py
  meerk40t/balormk/lmc_controller.py
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/treeop.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gcodeloader.py
  meerk40t/grbl/grblemulator.py
  meerk40t/grbl/grblinterpreter.py
  meerk40t/grbl/grblparser.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/scenewidgets/reticlewidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/kernel.py
  meerk40t/kernelserver.py
  meerk40t/moshi/gui/moshidrivergui.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc

#1454 Timed simulation
  meerk40t/core/cutcode.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcontainer.py
Labels: Context: GUI, Context: Core

#1459 Subdivide some driver classes into individual python files
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/grbl/grblemulator.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/egvloader.py
  meerk40t/lihuiyu/lihuiyuparser.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/plugin.py
  meerk40t/ruida/device.py
  meerk40t/ruida/plugin.py
  meerk40t/ruida/rdloader.py
  meerk40t/ruida/ruidaemulator.py
  meerk40t/ruida/ruidaparser.py
  test/bootstrap.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Devices, Context: Tests

#1463 Refactor LaserJob out of Spoolers
  meerk40t/core/laserjob.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/device.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/lihuiyu/device.py
Labels: Context: GUI, Context: Core
