Repository meerk40t/meerk40t, pull requests merged in 2022-05, with the labels that each got.

#1022 Fix trace without selection
  meerk40t/core/elements.py
Labels: Context: Core

#1023 Correct Balor Wobbles
  meerk40t/balor/command_list.py
  meerk40t/balormk/BalorDriver.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/parameters.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  test/test_imagetools_actualize.py
  test/test_length.py
  test/test_wobble.py
Labels: Context: GUI, Context: Core, Context: Tests

#1026 SVG-io Fixes / extensions: colors, font attributes
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/textproperty.py
Labels: Context: GUI, Context: Core

#1027 Allow individual mass changes
  meerk40t/gui/position.py
Labels: Context: GUI

#1030 Sophist-UK fix for issue #1028
  meerk40t/core/cutplan.py
Labels: Context: Core

#1029 Fix creation of tree-item preview pic
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1025 Penbox: Settings Resources
  meerk40t/core/elements.py
  meerk40t/core/node/op_hatch.py
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI, Context: Core

#1034 Fix for refobject align
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#1033 Secondary + Circular grid
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1035 Fix svg to wx font translation
  meerk40t/core/fonts.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/textproperty.py
Labels: Context: GUI, Context: Core

#1037 Fixes loading of text without face-name
  meerk40t/core/fonts.py
Labels: Context: Core

#1038 FIx font size
  meerk40t/core/fonts.py
Labels: Context: Core

#1039 Fix for some group errors
  meerk40t/core/elements.py
  meerk40t/core/node/groupnode.py
Labels: Context: Core

#1040 Refresh tree after element creation
  meerk40t/core/node/branch_elems.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/toolwidgets/toolwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1043 Update planner.py
  meerk40t/core/planner.py
Labels: Context: Core

#1042 reset bounds-dirty
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1041 Changes + Fixes for step_repeat
  meerk40t/core/planner.py
  meerk40t/core/units.py
  meerk40t/gui/executejob.py
Labels: Context: GUI, Context: Core

#1044 Fix sizing of fonts
  meerk40t/core/fonts.py
  meerk40t/core/node/elem_text.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1045 Extended Text-Entry + some fixes
  meerk40t/core/elements.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/kernel/settings.py
Labels: Context: GUI, Context: Core

#1046 Add linecap and linejoin for lines/paths
  meerk40t/core/elements.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/node.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1048 Wordlist extended
  meerk40t/core/elements.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/wordlist.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1047 Bug fixes 0.8.x
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/device/dummydevice.py
  meerk40t/gui/fonts.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/plugin.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/ruida/device.py
  meerk40t/svgelements.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Devices

#1032 Rainbow Rastering
  meerk40t/balormk/BalorDriver.py
  meerk40t/balormk/main.py
  meerk40t/core/cutcode.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/actualize.py
  meerk40t/kernel/settings.py
Labels: Context: GUI, Context: Core, Context: Misc

#1053 Some fixes for wordlist
  meerk40t/core/wordlist.py
  meerk40t/gui/wordlisteditor.py
Labels: Context: GUI, Context: Core

#1056 Lock pyinstaller to v4.9 to fix issue with Icon not found in v4.10
  .github/workflows/win.yml
Labels: Context: Config

#1054 svg fill-rule acknowledgement
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/node.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1057 sophist-uk fix for fix
  meerk40t/core/cutplan.py
Labels: Context: Core

#1051 Increase raster merge margins...
  meerk40t/core/cutplan.py
Labels: Context: Core

#1058 Change single click selection
  meerk40t/core/elements.py
  meerk40t/gui/scenewidgets/elementswidget.py
Labels: Context: GUI, Context: Core

#1061 Fix saving of fillrule in svg
  meerk40t/core/svg_io.py
Labels: Context: Core

#1060 Attempt to fix balor hatching move-to being cut.
  meerk40t/balormk/BalorDriver.py
  meerk40t/core/cutcode.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/svg_io.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/tools/pathtools.py
Labels: Context: GUI, Context: Core, Context: Misc

#1063 Fix Crashes Discovered in crash logs
  meerk40t/core/cutplan.py
  meerk40t/core/svg_io.py
  meerk40t/device/grbl/grbldevice.py
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/gui/panes/navigationpanels.py
  meerk40t/gui/scene/scenewidgets.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core, Context: Devices

#1066 Some text fixes/improvements
  meerk40t/core/node/elem_text.py
  meerk40t/core/svg_io.py
  meerk40t/core/wordlist.py
  meerk40t/gui/fonts.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/tooltext.py
Labels: Context: GUI, Context: Core

#1068 Remove wx build for legacy7 branch
  .github/workflows/win.yml
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices

#1067 Fixes for main branch Windows autobuild
  .github/workflows/win.yml
Labels: Context: Config

#1070 Make selection method configurable
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1069 Remember last stroke/fill colors for new elements
  meerk40t/gui/scene/scene.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1071 Fix behaviour for selection
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI
