Repository meerk40t/meerk40t, pull requests merged in 2023-06, with the labels that each got.

#1934 Legacy 8. Save of Polygon is non-closed because it saves as polyline.
  meerk40t/core/svg_io.py
Labels: Context: Core

#1939 Effect hatch
  meerk40t/core/elements/align.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/offset.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#1947 NewlyDraw fixes
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/newly/controller.py
  meerk40t/newly/driver.py
Labels: Context: GUI

#1946 Backlog Todos.
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/gui/alignment.py
  meerk40t/gui/executejob.py
  meerk40t/kernel/kernel.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1948 Simple UI #1944
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/plugin.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base

#1955 Fix issue #1949 estimated time does not properly calculate when logged.
  meerk40t/core/laserjob.py
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI, Context: Core

#1956 Corrections and Tweaks to Time-Estimate
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/laserjob.py
  meerk40t/core/node/op_image.py
Labels: Context: Core

#1953 Hatch Integration and Improvement
  meerk40t/core/elements/geometry.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc

#1945 0.8.x bug fixes
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/laserjob.py
  meerk40t/core/node/blobnode.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/op_image.py
  meerk40t/core/spoolers.py
  meerk40t/extra/ezd.py
  meerk40t/extra/updater.py
  meerk40t/grbl/controller.py
  meerk40t/gui/alignment.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/main.py
  meerk40t/ruida/device.py
  meerk40t/ruida/emulator.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc

#1958 Legacy 7: Bug Fixes.
  .github/workflows/win/file_version.txt
  meerk40t/device/lhystudios/lhystudiosdevice.py
  meerk40t/device/moshi/moshidevice.py
  meerk40t/device/ruida/ruidadevice.py
  meerk40t/gui/lhystudios/lhystudioscontrollergui.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  meerk40t/tools/rastergrouping.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Misc, Context: Devices

#1959 Legacy8 - Final Checks
  .github/workflows/win/file_version.txt
  meerk40t/core/laserjob.py
  meerk40t/core/node/op_image.py
  meerk40t/core/svg_io.py
  meerk40t/core/webhelp.py
  meerk40t/extra/ezd.py
  meerk40t/gui/wxmmain.py
  meerk40t/main.py
  meerk40t/ruida/device.py
  meerk40t/ruida/rdjob.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc

#1960 Build fixes
  .github/workflows/mac11_pyinst.yml
  .github/workflows/win.yml
Labels: Context: Config

#1964 Pure-Python 64-bit compatibility with Libusb rather than complete failure.
  meerk40t/device/ch341/windll.py
Labels: Context: Devices

#1962 Corrections to RuidaControl and GRBLControl for 0.9.x
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/node/blobnode.py
  meerk40t/grbl/gcodejob.py
  meerk40t/grbl/loader.py
  meerk40t/gui/propertypanels/blobproperty.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/loader.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/loader.py
  meerk40t/ruida/rdjob.py
Labels: Context: GUI, Context: Core

#1967 Lightburn file reader.
  meerk40t/extra/lbrn.py
  meerk40t/internal_plugins.py
Labels: Context: Base, Context: Misc

#1968 Version 0.9.x UI tweaks
  meerk40t/gui/laserpanel.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1972 Restore the Win build architecture: x86 for libusb
  .github/workflows/win.yml
Labels: Context: Config

#1973 Change ribbonbar to pure code
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/newly/gui/gui.py
Labels: Context: GUI

#1976 Correction to Hatch for small gaps
  meerk40t/core/node/effect_hatch.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Core, Context: Misc, Context: Tests

#1975 Corrections to ezd reader
  meerk40t/extra/ezd.py
Labels: Context: Misc
