Repository meerk40t/meerk40t, pull requests merged in 2023-07, with the labels that each got.

#1983 Ribbonbar changes (Includes #1982)
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1978 Add devinfo command to device
  meerk40t/device/basedevice.py
Labels: Context: Devices

#1980 Sync updates on element move/scale
  meerk40t/core/elements/element_treeops.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
Labels: Context: GUI, Context: Core

#1981 Updates for German language
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/snapoptions.py
Labels: Context: GUI, Context: I18n

#1984 Ribbon bar fixes
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1985 0.9.x bug fixes
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/cutcode/cutobject.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/planner.py
  meerk40t/core/undos.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/inkscape.py
  meerk40t/extra/lbrn.py
  meerk40t/fill/fills.py
  meerk40t/grbl/driver.py
  meerk40t/gui/busy.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/controller.py
  meerk40t/newly/device.py
  meerk40t/ruida/device.py
  meerk40t/tools/pathtools.py
  test/test_geomstr.py
  test/test_operations_hatch.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1971 Version 8 - Bug fixes
  .github/workflows/win/file_version.txt
  meerk40t/balormk/device.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/elements/trace.py
  meerk40t/core/undos.py
  meerk40t/extra/inkscape.py
  meerk40t/fill/fills.py
  meerk40t/grbl/driver.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/main.py
  meerk40t/newly/device.py
  meerk40t/ruida/device.py
  meerk40t/ruida/plugin.py
  meerk40t/tools/pathtools.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc

#1988 Update reference labels on label changes
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#1987 Update reference labels too on label changes
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#1989 Address ampersand display issues
  meerk40t/core/treeop.py
  meerk40t/extra/inkscape.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core, Context: Misc

#1990 Ribbonbar - not good but better
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/ribbon.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: I18n

#1991 Some more ribbonbar adjustments
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#1992 Fix overflow behaviour
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#1994 Improved .ezd parsing
  meerk40t/extra/ezd.py
Labels: Context: Misc

#1995 EZD parsing issues corrected
  .github/workflows/win.yml
  meerk40t/extra/ezd.py
Labels: Context: Config, Context: Misc

#1996 Implement a dark mode for the ribbon bar
  meerk40t/gui/icons.py
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#1997 Fixes build issue. Lock Pillow 9.5.0, unrestrict wxPython, update Pyinstaller
  .github/workflows/win.yml
Labels: Context: Config

#1998 Lock pillow==9.5.0, unlock pyinstaller. Fixes builds.
  .github/workflows/win.yml
Labels: Context: Config

#1999 Add config option near device selection
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserpanel.py
Labels: Context: GUI

#2000 Add in WXM - Toolbar.
  meerk40t/gui/devicepanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtools.py
Labels: Context: GUI

#2002 Ribbonbar changes
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtools.py
Labels: Context: GUI

#2003 Initial redraw fix
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#2006 RB: Auto orientation and multi column
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtools.py
Labels: Context: GUI

#2007 Add vertical tabs
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#2004 Node Manipulation
  meerk40t/core/elements/elements.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scenewidgets/affinemover.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/laserpathwidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/scenewidgets/nodeselector.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/reticlewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/toolnodemove.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#2008 Device specific power display in tree
  meerk40t/balormk/device.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/grbl/device.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/device.py
  meerk40t/newly/device.py
Labels: Context: GUI, Context: Core, Context: Devices

#2009 Make Kerf/Parameter test aware of power setting
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/materialtest.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: I18n, Context: Misc

#2010 Add 200 to dpi value context menu
  meerk40t/core/elements/element_treeops.py
Labels: Context: Core
