Repository meerk40t/meerk40t, pull requests merged in 2023-08, with the labels that each got.

#2013 Multiple bugfixes
  meerk40t/core/undos.py
  meerk40t/extra/updater.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/lihuiyu/tcp_connection.py
Labels: Context: GUI, Context: Core, Context: Misc

#2014 Add missing German translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2015 Add proper kerf icon to form
  meerk40t/gui/icons.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: Misc

#2016 Persistent storage of materialtest templates
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/materialtest.py
  meerk40t/kernel/settings.py
Labels: Context: GUI, Context: I18n

#2017 Docstrings / code style for materialtest
  meerk40t/gui/materialtest.py
Labels: Context: GUI

#2019 Update Warn indicator more consistently
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2020 No unnecessary invocations during bulk delete
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2021 Suppress 'Simulate' in op context menu if inactive
  meerk40t/core/elements/element_treeops.py
Labels: Context: Core

#2024 Kerf pyclipr
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/elements/offset_old.py
  meerk40t/core/node/nutils.py
  meerk40t/gui/hersheymanager.py
  meerk40t/tools/geomstr.py
  requirements-dev.txt
  requirements-nogui.txt
  requirements.txt
Labels: Context: Config, Context: GUI, Context: Core, Context: Misc

#2025 0.9.x bug fixes (2)
  meerk40t/extra/imageactions.py
  meerk40t/gui/icons.py
  meerk40t/gui/scene/scene.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: Misc

#2012 0.8.x bug fixes
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/undos.py
  meerk40t/extra/ezd.py
  meerk40t/extra/imageactions.py
  meerk40t/extra/updater.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/tcp_connection.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core, Context: Misc

#2029 Corrects issue #2027
  .github/workflows/win/file_version.txt
  meerk40t/grbl/device.py
  meerk40t/lihuiyu/device.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/ruida/device.py
  setup.cfg
Labels: Context: Config, Context: Base

#2026 Integration of clipper library
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/elements/offset_old.py
  meerk40t/core/node/nutils.py
  meerk40t/core/node/op_cut.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtools.py
  meerk40t/tools/geomstr.py
  requirements.txt
Labels: Context: Config, Context: GUI, Context: I18n, Context: Core, Context: Misc

#2030 Translation updates
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/space.py
  meerk40t/gui/preferences.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: I18n, Context: Core

#2031 Translation extensions
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2032 Some cosmetics for RB
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#2033 Two relevant fixes
  meerk40t/core/elements/offset.py
  meerk40t/core/node/elem_polyline.py
Labels: Context: Core

#2046 GPT translated to Chinese
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2047 Fix invalid line cusps
  meerk40t/core/elements/offset_old.py
Labels: Context: Core

#2035 Hatch Effect/Op
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/parameters.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  test/test_fill.py
Labels: Context: GUI, Context: Core, Context: Tests

#2051 Translation to Italian
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2044 Spoolerpanel
  meerk40t/gui/consolepanel.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#2052 Add in PPI-Phase for lihuiyu devices.
  meerk40t/core/plotplanner.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
Labels: Context: Core

#2045 Bug fixes 0.8.x
  .github/workflows/win/file_version.txt
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/bindalias.py
  meerk40t/core/node/node.py
  meerk40t/grbl/controller.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/busy.py
  meerk40t/main.py
  meerk40t/svgelements.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core

#2054 Multiple updates to German translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/newly/device.py
  translate_check.py
Labels: Context: Config, Context: I18n

#2055 Fixes + doc for translate_check.py
  translate_check.py
Labels: Context: Config

#2061 Fixing offset-routine (kerf)
  meerk40t/core/elements/offset.py
Labels: Context: Core

#2063 Cover some special cases like steep angles
  meerk40t/core/elements/offset.py
Labels: Context: Core

#2057 Disabled op treatment
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/planner.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#2064 Numerous fixes for pure python offset algorithm
  meerk40t/core/elements/offset_old.py
Labels: Context: Core

#2065 Keep on using loaders if no information was loaded
  meerk40t/core/elements/elements.py
Labels: Context: Core

#2059 Fix issues #2058
  meerk40t/gui/wxmscene.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
Labels: Context: GUI

#2068 Fix Top-To-Bottom Rasters for -Y devices.
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/gui/simulation.py
  meerk40t/tools/rasterplotter.py
Labels: Context: GUI, Context: Core, Context: Misc

#2067 Reduced precision for info-calculation
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/statusbarwidgets/infowidget.py
Labels: Context: GUI

#2070 Correct RuidaControl/RD-loading.
  meerk40t/core/elements/elements.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/loader.py
  meerk40t/ruida/rdjob.py
Labels: Context: Core

#2074 Suppress unwanted double clicks in Big Run Button
  meerk40t/core/laserjob.py
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI, Context: Core

#2077 Fix jobtype error
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI, Context: Core

#2071 Add mm/min as speed display unit
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/grbl/device.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc, Context: Devices

#2082 Prevent endless loop if scene is rotated
  meerk40t/gui/scenewidgets/guidewidget.py
Labels: Context: GUI
