Repository meerk40t/meerk40t, pull requests merged in 2023-02, with the labels that each got.

#1696 Yet another font-fix
  meerk40t/core/node/elem_text.py
Labels: Context: Core

#1697 Ensure cache generation has a synced matrix between node.matrix and n…
  meerk40t/gui/laserrender.py
Labels: Context: GUI

#1686 Correct RuidaControl and GRBLControl, testing + maintenance.
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode/cubiccut.py
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/dwellcut.py
  meerk40t/core/cutcode/gotocut.py
  meerk40t/core/cutcode/homecut.py
  meerk40t/core/cutcode/inputcut.py
  meerk40t/core/cutcode/linecut.py
  meerk40t/core/cutcode/outputcut.py
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/cutcode/quadcut.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/cutcode/rawcut.py
  meerk40t/core/cutcode/setorigincut.py
  meerk40t/core/cutcode/waitcut.py
  meerk40t/core/element_treeops.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/core/plotplanner.py
  meerk40t/grbl/README.md
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/interpreter.py
  meerk40t/grbl/parser.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/dialogoptions.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/simulation.py
  meerk40t/kernel/channel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/loader.py
  meerk40t/main.py
  meerk40t/moshi/driver.py
  meerk40t/network/__init__.py
  meerk40t/network/console_server.py
  meerk40t/network/kernelserver.py
  meerk40t/network/tcp_server.py
  meerk40t/network/udp_server.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/plugin.py
  meerk40t/tools/rasterplotter.py
  test/bootstrap.py
  test/test_core_plotplanner.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Tests

#1658 New CH341 with challenge codes
  meerk40t/ch341/__init__.py
  meerk40t/ch341/libusb.py
  meerk40t/ch341/mock.py
  meerk40t/ch341/windll.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
Labels: Type: Enhancement, Status: On Hold, Priority: Medium, Work: Completed, Hardware: M2 Nano

#1694 0.8.2 bug fixes
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/node.py
Labels: Context: Core

#1699 position-pane: update scene after changes
  meerk40t/gui/position.py
Labels: Context: GUI

#1701 Ruidacontrol Fixes
  meerk40t/core/cutcode/plotcut.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/plugin.py
Labels: Context: Core

#1698 Edit tool improvements
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/node.py
  meerk40t/fill/patternfill.py
  meerk40t/grbl/parser.py
  meerk40t/gui/icons.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core

#1702 Add suppression of elements in disabled operation
  meerk40t/core/element_treeops.py
  meerk40t/core/node/node.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1705 Ruidacontrol Update #2
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/element_treeops.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/loader.py
  meerk40t/grbl/parser.py
  meerk40t/grbl/plugin.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/parser.py
  meerk40t/ruida/plugin.py
  meerk40t/tools/driver_to_path.py
  test/test_kernel.py
Labels: Context: Core, Context: Misc, Context: Tests

#1703 Update Laserposition in Jog-Pane
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#1706 Some Linetext fixes
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/element_treeops.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: I18n, Context: Core

#1708 Ruidacontrol/Grblcontrol Update #3
  meerk40t/balormk/controller.py
  meerk40t/balormk/driver.py
  meerk40t/core/drivers.py
  meerk40t/grbl/control.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/plugin.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
  meerk40t/ruida/control.py
  meerk40t/ruida/device.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/plugin.py
Labels: Context: Core

#1710 Add Edit Menu
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/keymap.py
  meerk40t/gui/preferences.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1711 Fix treatment of fill='currentColor'
  meerk40t/core/svg_io.py
Labels: Context: Core

#1712 Avoid rare crash in tree if node is not set
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1713 No more preference for preference
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1714 Add tooltips to small buttons in move-pane
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#1716 Fixed group handling during align
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core
