Repository meerk40t/meerk40t, pull requests merged in 2023-03, with the labels that each got.

#1719 Improved Documentation
  meerk40t/core/README.md
  meerk40t/core/bindalias.py
  meerk40t/core/core.py
  meerk40t/core/drivers.py
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/element_types.py
  meerk40t/core/elements.py
  meerk40t/core/laserjob.py
  meerk40t/core/logging.py
  meerk40t/core/planner.py
  meerk40t/core/plotplanner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/core/treeop.py
  meerk40t/core/units.py
  meerk40t/core/webhelp.py
  meerk40t/core/wordlist.py
Labels: Context: Core

#1718 Divide Emulator and Job for GRBL and Ruida
  meerk40t/core/element_treeops.py
  meerk40t/core/spoolers.py
  meerk40t/grbl/control.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/gcodejob.py
  meerk40t/grbl/plugin.py
  meerk40t/tools/driver_to_path.py
  test/test_spooler.py
Labels: Context: Core, Context: Misc, Context: Tests

#1717 Add speed/power scaling option for all ops
  meerk40t/core/element_treeops.py
Labels: Context: Core

#1722 Fix text with pure numbers
  meerk40t/core/element_treeops.py
  meerk40t/core/wordlist.py
  meerk40t/gui/hersheymanager.py
Labels: Context: GUI, Context: Core

#1724 Prevent duplicate exexution of plan steps
  meerk40t/core/element_treeops.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#1723 Redesign of laserpanel
  meerk40t/core/wordlist.py
  meerk40t/grbl/driver.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI, Context: Core

#1721 Add menu-options for operation enabling
  meerk40t/core/element_treeops.py
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI, Context: Core

#1727 Another alignment fix
  meerk40t/core/elements.py
Labels: Context: Core

#1728 Update text for linetext elements too
  meerk40t/core/element_commands.py
Labels: Context: Core

#1730 Rotary settings per device
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/units.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/ruida/device.py
Labels: Context: Core

#1732 Transition LihuiyuGui to ChoicesPanels for settings
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/laserspeed.py
Labels: Context: GUI

#1734 Refactor SceneWidget
  meerk40t/gui/alignment.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/rotary/gui/rotarysettings.py
Labels: Context: GUI

#1735 Update CodeQL to use v2
  .github/workflows/codeql-analysis.yml
Labels: Context: Config

#1725 Laserpanel
  meerk40t/core/element_treeops.py
  meerk40t/core/wordlist.py
  meerk40t/grbl/driver.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#1738 Fix missing elem text classification
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1741 WXRibbon Update
  meerk40t/gui/icons.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1739 Generic node attribute command
  meerk40t/core/element_commands.py
Labels: Context: Core

#1740 Rotary
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/units.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/ruida/device.py
Labels: Context: Core

#1743 Updated German translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1744 Signals RibbonToggle State
  meerk40t/balormk/elementlightjob.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/livefulllightjob.py
  meerk40t/balormk/liveselectionlightjob.py
  meerk40t/grbl/device.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1746 Project Focus: Jobs get bounds
  meerk40t/core/cutplan.py
  meerk40t/core/laserjob.py
  meerk40t/core/spoolers.py
  meerk40t/core/units.py
  meerk40t/lihuiyu/device.py
Labels: Context: Core

#1748 Command line option to ignore settings at startup
  meerk40t/kernel/kernel.py
  meerk40t/kernel/settings.py
  meerk40t/main.py
Labels: Context: Base

#1749 Fix spacev/spaceh distribution logic
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1750 Expand Devices with Priority
  meerk40t/balormk/device.py
  meerk40t/balormk/plugin.py
  meerk40t/device/basedevice.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/device.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/moshi/device.py
  meerk40t/moshi/plugin.py
  meerk40t/ruida/device.py
  meerk40t/ruida/plugin.py
Labels: Context: GUI, Context: Devices
