Repository meerk40t/meerk40t, pull requests merged in 2023-09, with the labels that each got.

#2080 Update crash log site
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2066 0.8.x Bug Fixes Addendum
  .github/workflows/win/file_version.txt
  meerk40t/core/cutcode/plotcut.py
  meerk40t/core/elements/offset.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/planner.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/driver.py
  meerk40t/main.py
  meerk40t/moshi/driver.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/rdjob.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#2084 +black
  meerk40t/core/elements/offset.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/rdjob.py
Labels: Context: GUI, Context: Core

#2085 Final 0.8.10 bug fixes
  meerk40t/grbl/driver.py
  meerk40t/grbl/gcodejob.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/wxmtree.py
  meerk40t/network/tcp_server.py
Labels: Context: GUI

#2081 GCode/GRBL Job and emulator update
  meerk40t/grbl/control.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gcodejob.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/network/tcp_server.py
  meerk40t/ruida/rdjob.py
Labels: Context: GUI

#2088 issue #2034 rename perspective, add version check
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2092 Adjust statusbar icon size for default operations
  meerk40t/gui/icons.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/statusbarwidgets/statusbarwidget.py
Labels: Context: GUI

#2093 Some fixes for default operation panel
  meerk40t/core/elements/elements.py
  meerk40t/gui/basicops.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: GUI, Context: Core

#2095 Correct Save Routine for Effect Hatch
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/hatchproperty.py
Labels: Context: GUI, Context: Core

#2096 Language updates
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  meerk40t/gui/preferences.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: I18n

#2097 Some Chinese Fixes
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2098 Catch possible type error in update_check
  meerk40t/extra/updater.py
Labels: Context: Misc

#2094 Hatch Multi-Effect
  meerk40t/balormk/gui/gui.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/parameters.py
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/extra/ezd.py
  meerk40t/gui/basicops.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
  meerk40t/newly/gui/gui.py
  meerk40t/ruida/gui/gui.py
  test/test_fill.py
  test/test_operations_hatch.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#2083 Device Views
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/elementlightjob.py
  meerk40t/balormk/livelightjob.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/place_point.py
  meerk40t/core/planner.py
  meerk40t/core/space.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/core/view.py
  meerk40t/device/dummydevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/ezd.py
  meerk40t/grbl/control.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/gui/alignment.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
  meerk40t/gui/utilitywidgets/harmonograph.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  meerk40t/ruida/control.py
  meerk40t/ruida/device.py
  meerk40t/ruida/driver.py
  test/test_core_viewports.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#2101 Some fixes / improvements for default / basic ops
  meerk40t/core/elements/elements.py
  meerk40t/gui/basicops.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/settings.py
Labels: Context: GUI, Context: Core

#2102 A couple of translation fixes
  .gitignore
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/gui/basicops.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  translate_check.py
Labels: Context: Config, Context: GUI, Context: I18n

#2105 Adjust node assignment logic for default operations
  meerk40t/core/elements/elements.py
  meerk40t/core/node/node.py
  meerk40t/gui/basicops.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: GUI, Context: Core

#2106 Allow refined position setting
  meerk40t/gui/position.py
Labels: Context: GUI

#2107 remove no longer required matrix argument
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#2108 Improve/Standardize Op Dictionary Copying
  meerk40t/core/elements/elements.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/place_current.py
  meerk40t/core/node/place_point.py
  meerk40t/core/parameters.py
  test/test_operations.py
Labels: Context: Core, Context: Tests

#2110 Save and Load with Test
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/files.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/node.py
  meerk40t/core/parameters.py
  test/test_file_svg.py
Labels: Context: Core, Context: Tests

#2109 Node editor + secondary tools
  meerk40t/gui/ribbon.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2113 Correct script to run Python2 and report version is too old.
  meerk40t/main.py
Labels: Context: Base

#2114 Parametric Editing
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/grid.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/node.py
  meerk40t/core/parameters.py
  meerk40t/core/svg_io.py
  meerk40t/extra/param_functions.py
  meerk40t/gui/icons.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolnodemove.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/internal_plugins.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc

#2115 Cycloid/ Fractals
  meerk40t/extra/param_functions.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Misc

#2116 Initial Geomstr Fractal Replacement Pattern
  meerk40t/extra/param_functions.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2117 Correct Operation Copy Bug
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/node.py
  meerk40t/core/parameters.py
  test/test_drivers_lihuiyu.py
  test/test_geomstr.py
Labels: Context: Core, Context: Tests

#2118 More shifting amounts.
  meerk40t/core/bindalias.py
  meerk40t/core/units.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#2100 Post-Full 0.9.2 Changes
  .github/workflows/win/file_version.txt
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/elementlightjob.py
  meerk40t/balormk/livelightjob.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/place_point.py
  meerk40t/core/planner.py
  meerk40t/core/space.py
  meerk40t/core/svg_io.py
  meerk40t/core/units.py
  meerk40t/core/view.py
  meerk40t/device/dummydevice.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/ezd.py
  meerk40t/grbl/control.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/gui/alignment.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
  meerk40t/gui/utilitywidgets/harmonograph.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  meerk40t/ruida/control.py
  meerk40t/ruida/device.py
  meerk40t/ruida/driver.py
  setup.cfg
  test/test_core_viewports.py
  test/test_length.py
Labels: Priority: High, Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests, Hardware: Moshi, Hardware: M2 Nano, Hardware: LMC Galvo, Hardware: GRBL, Hardware: Ruida

#2121 Upgrades and correct Balor-Galvo driver for co2 source
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#2122 Improved Italian Translation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2124 Contrast colors
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2126 Colored tree
  meerk40t/core/elements/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#2127 Allow dragging of an operation node onto an element
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/groupnode.py
Labels: Context: Core

#2123 Default operations
  meerk40t/core/elements/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2128 Correct py38 Numpy Windows 7 Crash
  .github/workflows/win.yml
  README.md
Labels: Context: Config, Context: Docs

#2129 Some fixes / enhancements for parametric functions
  meerk40t/core/elements/geometry.py
  meerk40t/extra/param_functions.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core, Context: Misc

#2130 Remove LaserCode type.
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/util_wait.py
  meerk40t/core/planner.py
  meerk40t/gui/executejob.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/rdjob.py
Labels: Context: GUI, Context: I18n, Context: Core
