Repository meerk40t/meerk40t, pull requests merged in 2023-12, with the labels that each got.

#2314 Allow pasting from system clipboard
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2315 A couple of hatch fixes
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/shapes.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2306 Geomstr: Binary Geometry Commands
  meerk40t/core/elements/geometry.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Core, Context: Misc, Context: Tests

#2312 Image Passthrough
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/node/image_raster.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/svg_io.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#2316 Final Touches for 0.9.4 Beta 1
  .github/workflows/win/file_version.txt
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/image_raster.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base, Context: Core, Context: Misc, Context: Devices

#2319 Hatch fixes
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_warp.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2317 Catch shutdown runtime errors (hopefully)
  meerk40t/gui/basicops.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/helper.py
Labels: Context: GUI

#2323 Update check
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/extra/updater.py
Labels: Context: I18n, Context: Misc

#2324 Translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/devicepanel.py
  meerk40t/gui/tips.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n

#2325 Allow suppression of travel path
  meerk40t/gui/simulation.py
Labels: Context: GUI

#2320 0.10.x+, Geomstr Backend, Phase 1
  meerk40t/balormk/driver.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/planner.py
  meerk40t/grbl/driver.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
  meerk40t/newly/driver.py
  meerk40t/ruida/driver.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Core, Context: Misc, Context: Tests

#2334 Correct hatches for those lacking count values (#2331)
  meerk40t/extra/ezd.py
Labels: Context: Misc

#2335 Some layout adjustments
  meerk40t/gui/busy.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/imageproperty.py
Labels: Context: GUI

#2333 Add `serial_exchange` command
  meerk40t/extra/serial_exchange.py
  meerk40t/internal_plugins.py
Labels: Context: Base, Context: Misc

#2336 Circumvent high userscale issue for panel icons
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#2339 Autoadvance wordlist in plan spool stage
  meerk40t/core/elements/wordlist.py
  meerk40t/core/spoolers.py
Labels: Context: Core

#2340 Rotary Corrections
  meerk40t/lihuiyu/device.py
  test/bootstrap.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
Labels: Priority: Medium, Work: Complicated, Type: Lost Functionality

#2341 Improve Rotary, Finish Coordinate Systems
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/galvo_commands.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/livelightjob.py
  meerk40t/core/cutplan.py
  meerk40t/core/space.py
  meerk40t/device/basedevice.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/device.py
  meerk40t/rotary/README.md
  meerk40t/rotary/gui/gui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/rotary/rotary.py
  meerk40t/ruida/device.py
  test/bootstrap.py
  test/test_drivers_galvo.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
  test/test_drivers_newly.py
Labels: Context: GUI, Context: Core, Context: Devices, Context: Tests

#2342 Scene: Add in Ability to Scene Stack
  meerk40t/gui/scene/scene.py
Labels: Context: GUI

#2345 Italian translations by betaeta
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2347 Execution Correction and Signal Crash Validation
  meerk40t/core/planner.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/driver.py
  meerk40t/main.py
  test/bootstrap.py
  test/test_core_elements.py
  test/test_drivers_galvo.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
  test/test_drivers_newly.py
  test/test_element_degenerate_points.py
  test/test_elements_classify.py
  test/test_elements_penbox.py
  test/test_file_svg.py
  test/test_fill.py
  test/test_imagetools_actualize.py
  test/test_imagetools_wizard.py
  test/test_kernel.py
  test/test_lifecycle.py
  test/test_operations.py
  test/test_operations_hatch.py
  test/test_spooler.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Tests

#2346 Implement Numba Fast Dithers
  meerk40t/core/node/elem_image.py
  meerk40t/image/dither.py
  meerk40t/image/imagetools.py
  requirements-optional.txt
Labels: Context: Config, Context: Core, Context: Misc

#2353 Ruida Implementation Work
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/parameters.py
  meerk40t/ruida/controller.py
  meerk40t/ruida/device.py
  meerk40t/ruida/driver.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/gui/gui.py
  meerk40t/ruida/gui/ruidaconfig.py
  meerk40t/ruida/gui/ruidacontroller.py
  meerk40t/ruida/loader.py
  meerk40t/ruida/mock_connection.py
  meerk40t/ruida/plugin.py
  meerk40t/ruida/rdjob.py
  meerk40t/ruida/udp_connection.py
Labels: Context: Core

#2337 Material Manager
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/tips.txt
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/plugin.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/materials.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/help_assets/help_assets.py
  meerk40t/gui/icons.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/moshi/plugin.py
  meerk40t/newly/plugin.py
  meerk40t/ruida/plugin.py
Labels: Context: GUI, Context: I18n, Context: Core

#2360 Matman: saving + ezcad3 support
  meerk40t/gui/materialmanager.py
Labels: Context: GUI

#2355 Service Delegate Rotary
  meerk40t/balormk/driver.py
  meerk40t/grbl/driver.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
  meerk40t/rotary/gui/gui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/rotary/rotary.py
  test/test_drivers_galvo.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
  test/test_drivers_newly.py
Labels: Context: Tests

#2361 Placement improvements
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/placements.py
  meerk40t/gui/propertypanels/placementproperty.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: I18n, Context: Core

#2363 Italian translations by betaeta
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2366 Allow sizing of elements with one dimension set to zero
  meerk40t/gui/position.py
Labels: Context: GUI

#2365 Fix missing parent bound invalidation on element move/scale
  meerk40t/core/elements/align.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/node.py
Labels: Context: Core

#2364 Additional information in Material Manager
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: GUI, Context: Core

#2359 Settings backup
  meerk40t/core/elements/elements.py
  meerk40t/gui/wxmribbon.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/settings.py
Labels: Context: GUI, Context: Core

#2368 Allow import of 3D-polylines
  meerk40t/dxf/dxf_io.py
  meerk40t/dxf/plugin.py
Labels: Context: Misc

#2369 Device.safe_label + Bug Fixes
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/controller.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/ruida/controller.py
  meerk40t/ruida/device.py
  meerk40t/ruida/driver.py
  meerk40t/ruida/gui/ruidacontroller.py
  meerk40t/ruida/mock_connection.py
  meerk40t/ruida/serial_connection.py
  meerk40t/ruida/udp_connection.py
Labels: Context: Devices

#2367 Proper placement grid
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/placements.py
  meerk40t/core/node/place_point.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/placementproperty.py
Labels: Context: GUI, Context: I18n, Context: Core

#2372 Clearer visual indicator that rotary mode is active
  meerk40t/gui/laserpanel.py
  meerk40t/rotary/rotary.py
Labels: Context: GUI

#2371 Placement - tiling improvements
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/place_point.py
  meerk40t/gui/propertypanels/placementproperty.py
Labels: Context: GUI, Context: Core

#2373 Extended snap logic
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#2375 Add service/kernel console command applied to lifecycle objects
  meerk40t/kernel/functions.py
  meerk40t/kernel/kernel.py
  test/bootstrap.py
  test/test_kernel.py
Labels: Context: Tests

#2377 Speed up font rendering
  meerk40t/extra/hershey.py
Labels: Context: Misc

#2378 Use element dragging instead of selection rectangle after some time
  meerk40t/gui/scenewidgets/rectselectwidget.py
Labels: Context: GUI

#2376 Format painter
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n, Context: Core

#2379 Vectorfont - fixes and poor man's kerning
  meerk40t/extra/hershey.py
  meerk40t/gui/hersheymanager.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/shxparser.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Misc
