Repository meerk40t/meerk40t, pull requests merged in 2023-04, with the labels that each got.

#1751 More sophisticated device selection dialog during creation
  meerk40t/balormk/plugin.py
  meerk40t/device/dummydevice.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/devicepanel.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/moshi/plugin.py
  meerk40t/ruida/plugin.py
Labels: Context: GUI, Context: Devices

#1704 NewlyDraw Driver
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/device.py
  meerk40t/gui/alignment.py
  meerk40t/main.py
  meerk40t/newly/README.md
  meerk40t/newly/__init__.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  meerk40t/newly/gui/__init__.py
  meerk40t/newly/gui/gui.py
  meerk40t/newly/gui/newlyconfig.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/newly/gui/operationproperties.py
  meerk40t/newly/mock_connection.py
  meerk40t/newly/newly_params.py
  meerk40t/newly/plugin.py
  meerk40t/newly/usb_connection.py
Labels: Context: GUI, Context: I18n, Context: Base

#1679 Harmonograph
  meerk40t/gui/icons.py
  meerk40t/gui/scene/sceneconst.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/relocatewidget.py
  meerk40t/gui/utilitywidgets/buttonwidget.py
  meerk40t/gui/utilitywidgets/handlewidget.py
  meerk40t/gui/utilitywidgets/harmonograph.py
  meerk40t/gui/utilitywidgets/openclosewidget.py
  meerk40t/gui/utilitywidgets/rotationwidget.py
  meerk40t/gui/utilitywidgets/scalewidget.py
  meerk40t/gui/utilitywidgets/toolbarwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1753 Small fixes
  meerk40t/grbl/controller.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/devicepanel.py
Labels: Context: GUI

#1754 Updated translations, typos
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/plugin.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/moshi/plugin.py
Labels: Context: I18n

#1756 Fix delete behaviour
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1757 Fix missing German translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1758 German translations / Position update fix
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI, Context: I18n

#1755 Amend polyline, polygon vector tool
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolvector.py
Labels: Context: GUI

#1761 paiin's mac runner changes
  .github/workflows/mac11_pyinst.yml
Labels: Context: Config

#1765 Dont crash
  meerk40t/core/node/node.py
Labels: Context: Core

#1767 Correct CutPlan Crash on Bounds
  meerk40t/core/cutplan.py
  meerk40t/core/node/node.py
Labels: Context: Core

#1771 Allow duplication of groups / files
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
Labels: Context: Core

#1772 Spooler fixes
  meerk40t/core/laserjob.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI, Context: Core

#1774 Fix isinf on None crash
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1777 Change ubuntu-reference
  .github/workflows/unittests.yml
Labels: Context: Config

#1778 Fix crash if egv with no parameters was called
  meerk40t/device/lhystudios/lhystudiosdevice.py
Labels: Context: Devices

#1779 Fix Linetext tool if no/an invalid font was set
  meerk40t/extra/hershey.py
  meerk40t/gui/toolwidgets/toollinetext.py
Labels: Context: GUI, Context: Misc

#1780 Fix missing parentheses
  meerk40t/gui/alignment.py
Labels: Context: GUI

#1786 Combine `copy` and `copy-selected` functions
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
Labels: Context: Core

#1784 Optional child color update if op color change
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI, Context: I18n

#1787 Subdivide Elements
  meerk40t/core/core.py
  meerk40t/core/element_commands.py
  meerk40t/core/elements/README.md
  meerk40t/core/elements/__init__.py
  meerk40t/core/elements/align.py
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/materials.py
  meerk40t/core/elements/notes.py
  meerk40t/core/elements/penbox.py
  meerk40t/core/elements/render.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/elements/trace.py
  meerk40t/core/elements/tree_commands.py
  meerk40t/core/elements/undo_redo.py
  meerk40t/core/elements/wordlist.py
  meerk40t/core/node/lasercodenode.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/util_console.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/node/util_home.py
  meerk40t/core/node/util_input.py
  meerk40t/core/node/util_origin.py
  meerk40t/core/node/util_output.py
  meerk40t/core/node/util_wait.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/extra/cag.py
  meerk40t/gui/alignment.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/position.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  test/test_element_degenerate_points.py
  test/test_elements_classify.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1788 Move penbox to being its own service.
  meerk40t/balormk/driver.py
  meerk40t/core/core.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/penbox.py
  meerk40t/core/node/op_hatch.py
  test/test_elements_penbox.py
Labels: Context: Core, Context: Tests

#1791 Fixes #1782, size determined by geometric rather than painted bounds for raster image.
  meerk40t/gui/laserrender.py
Labels: Type: Bug, Priority: Critical, Work: Completed, Context: GUI

#1792 Suppress numpad in laser move pane if window is too narrow
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#1794 Fix crash for empty set on grouping
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1797 0.8.3 bug fixes (crash logs)
  meerk40t/balormk/device.py
  meerk40t/camera/camera.py
  meerk40t/ch341/libusb.py
  meerk40t/core/elements/trace.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/svg_io.py
  meerk40t/core/treeop.py
  meerk40t/core/undos.py
  meerk40t/device/ch341/ch341libusbdriver.py
  meerk40t/extra/cag.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/tcp_connection.py
  meerk40t/svgelements.py
  meerk40t/tools/livinghinges.py
  meerk40t/tools/polybool.py
  test/test_operations_hatch.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1763 Parse .ezd files.
  meerk40t/extra/ezd.py
  meerk40t/main.py
  meerk40t/svgelements.py
Labels: Context: Base, Context: Misc

#1801 Add an undo mark between elements loaded and operations replaced.
  meerk40t/core/svg_io.py
Labels: Context: Core

#1803 Fix invalid tick_distance use
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1804 Fix absolute wordlist reference offset
  meerk40t/core/wordlist.py
Labels: Context: Core

#1805 Divide Internal/External plugins into files. Prep for Builds.
  meerk40t/external_plugins.py
  meerk40t/external_plugins_build.py
  meerk40t/internal_plugins.py
  meerk40t/main.py
Labels: Context: Base

#1785 Placements
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/cutplan.py
  meerk40t/core/element_commands.py
  meerk40t/core/elements/align.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/placements.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/node/place_current.py
  meerk40t/core/node/place_point.py
  meerk40t/core/svg_io.py
  meerk40t/core/wordlist.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/extra/hershey.py
  meerk40t/gui/alignment.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/placementproperty.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolplacement.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc, Context: Devices

#1807 Add validate function to 'place point'
  meerk40t/core/node/place_point.py
  meerk40t/gui/propertypanels/placementproperty.py
Labels: Context: GUI, Context: Core

#1809 Add right mouse action to wordlist button
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1810 Fix non used-tooltip for multi-buttons
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#1815 Language Updates
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1817 Fix plan update crash in Laserpanel
  meerk40t/gui/laserpanel.py
Labels: Context: GUI

#1819 Translation Errors, language flag and printf commands
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1824 Use existing pane for size in transformation
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
Labels: Context: GUI

#1823 Change `maintain_zoom_reseize` to `autofocus_resize` default off
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1811 Project Focus: Display
  meerk40t/balormk/device.py
  meerk40t/core/core.py
  meerk40t/core/space.py
  meerk40t/core/units.py
  meerk40t/core/view.py
  meerk40t/grbl/device.py
  meerk40t/grbl/interpreter.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/newly/device.py
  meerk40t/ruida/device.py
  meerk40t/tools/driver_to_path.py
  test/test_core_viewports.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1825 Some image fixes
  meerk40t/extra/imageactions.py
  meerk40t/gui/propertypanels/imageproperty.py
Labels: Context: GUI, Context: Misc

#1826 Some changes around reference object
  meerk40t/core/elements/element_treeops.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1827 Fix image translation in keyhole
  meerk40t/extra/imageactions.py
Labels: Context: Misc

#1828 Add context menu option for grid placements
  meerk40t/core/elements/element_treeops.py
Labels: Context: Core

#1830 Fix magnet code
  meerk40t/core/elements/element_treeops.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1833 Magnets + Fixes for Newly
  meerk40t/core/elements/element_treeops.py
  meerk40t/extra/imageactions.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core, Context: Misc

#1834 Magnets part 2
  meerk40t/core/elements/elements.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1832 Make magnets persistent
  meerk40t/core/elements/elements.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1836 Fix icon+label display after operation load
  meerk40t/core/elements/elements.py
Labels: Context: Core

#1835 Visual feedback during planning stages
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
  meerk40t/gui/busy.py
  meerk40t/gui/executejob.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1838 Fix tracegen command
  meerk40t/core/elements/trace.py
Labels: Context: Core

#1840 Simplify task for Welzl
  meerk40t/core/elements/trace.py
Labels: Context: Core

#1845 Fix Issue #1829, do not yield empty cutgroups
  meerk40t/core/node/nutils.py
Labels: Context: Core

#1844 CH341 M3Nano Status
  meerk40t/ch341/libusb.py
  meerk40t/ch341/mock.py
  meerk40t/ch341/windll.py
  meerk40t/gui/laserpanel.py
  meerk40t/lihuiyu/controller.py
Labels: Context: GUI

#1848 Inkscape unicode issue, translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/extra/inkscape.py
  meerk40t/gui/plugin.py
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: I18n, Context: Misc

#1849 Position the Machine Origin Widget at the device origin (always).
  meerk40t/gui/scenewidgets/machineoriginwidget.py
Labels: Context: GUI

#1851 Translation typo
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1853 Add omitted translation
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#1852 Fix 'simplify' by bypassing faulty code for now
  meerk40t/core/elements/elements.py
Labels: Context: Core
