Repository meerk40t/meerk40t, pull requests merged in 2023-11, with the labels that each got.

#2208 Next batch of vector icons
  meerk40t/balormk/gui/gui.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/basicops.py
  meerk40t/gui/executejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Devices

#2211 Vector icons - some fixes / optimisations
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Devices

#2212 Improve icon transparency
  meerk40t/gui/icons.py
Labels: Context: GUI

#2213 Vector icons - fixes + improvements
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2216 Vector icons - crop fix
  meerk40t/gui/icons.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2217 More vector based icons
  meerk40t/device/gui/formatterpanel.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Devices

#2219 Retire scene menu (no longer working)
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2220 Angle hatch fix
  meerk40t/core/units.py
  meerk40t/fill/fills.py
  meerk40t/gui/propertypanels/hatchproperty.py
Labels: Context: GUI, Context: Core

#2215 Basic update for pillow 10 deprecations
  meerk40t/core/node/elem_image.py
Labels: Context: Core

#2224 Color Theme scaffolding
  meerk40t/gui/about.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/plugin.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/themes.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2226 A couple of additional icons, colored VectorIcons
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/gui/about.py
  meerk40t/gui/basicops.py
  meerk40t/gui/icons.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/simulation.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/utilitywidgets/harmonograph.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/rotary/gui/gui.py
  meerk40t/rotary/gui/rotarysettings.py
Labels: Context: GUI, Context: Devices

#2227 VectorIcons completed
  meerk40t/gui/icons.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: Misc

#2228 Bug Fixes 0.9.3
  meerk40t/core/elements/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/extra/ezd.py
  meerk40t/grbl/serial_connection.py
  meerk40t/gui/about.py
  meerk40t/gui/basicops.py
  meerk40t/gui/icons.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/plugin.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/moshi/device.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#2231 Italian translations by betaeta
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2230 Display icon in id panel
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#2236 Avoid invalid arc behaviour
  meerk40t/dxf/dxf_io.py
Labels: Context: Misc

#2229 Consistent use of pause / laser_status
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/device/dummydevice.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/controller.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  meerk40t/ruida/device.py
  meerk40t/ruida/driver.py
Labels: Context: GUI, Context: Devices

#2238 Pause Fix, Mixin and Status Standarization
  meerk40t/balormk/device.py
  meerk40t/device/dummydevice.py
  meerk40t/device/mixins.py
  meerk40t/grbl/device.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/newly/device.py
  meerk40t/ruida/device.py
Labels: Context: Devices

#2235 Line Tool and ImageCut Tool, other background improvements.
  meerk40t/core/node/elem_line.py
  meerk40t/extra/imageactions.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/toolwidgets/toolimagecut.py
  meerk40t/gui/toolwidgets/toolline.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc

#2214 ScanTable Computational Geometry
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2240 Raster optimisations: clustering of elements
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
Labels: Context: Core

#2239 0.9.3 Beta 2: Final Touches
  .github/workflows/win/file_version.txt
  README.md
  meerk40t/core/cutplan.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/planner.py
  meerk40t/core/treeop.py
  meerk40t/device/dummydevice.py
  meerk40t/device/mixins.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/imageactions.py
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/device.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/ruida/device.py
  meerk40t/tools/geomstr.py
  setup.cfg
  test/test_geomstr.py
  test/test_kernel.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests, Context: Docs

#2245 Additional margin + refined overlap test for raster optimisation
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: I18n, Context: Core

#2250 UI fixes
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/gui/alignment.py
  meerk40t/gui/executejob.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/ruida/gui/ruidacontroller.py
Labels: Context: GUI

#2252 Recreate old fence icon
  meerk40t/gui/icons.py
Labels: Context: GUI

#2248 Add pocket command and acknowledge latest breaking version of pyclipr
  meerk40t/core/elements/offset_clpr.py
Labels: Context: Core

#2254 Adjust tab font for smaller displays
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#2255 Proper resize bind
  meerk40t/gui/laserpanel.py
Labels: Context: GUI

#2251 Scaffold for meerk40t restart
  meerk40t/gui/icons.py
  meerk40t/gui/plugin.py
  meerk40t/gui/preferences.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
  meerk40t/main.py
  test/test_kernel.py
Labels: Context: GUI, Context: Base, Context: Tests

#2257 UI tweaks around devices
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserpanel.py
Labels: Context: GUI, Context: I18n

#2256 Reestablish text formatting in console
  meerk40t/gui/consolepanel.py
Labels: Context: GUI

#2258 Fix secondary tool icon bug
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2260 Selection fixes
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolimagecut.py
  meerk40t/gui/toolwidgets/toolline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2249 GRBL improvements
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/gcodejob.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/grbl/gui/gui.py
  meerk40t/grbl/mock_connection.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/scenewidgets/reticlewidget.py
Labels: Context: GUI

#2259 elem image fix - automatic image split
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/elem_image.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#2263 Final touches for version 0.9.3
  .github/workflows/win/file_version.txt
  meerk40t/core/elements/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_rect.py
  meerk40t/extra/lbrn.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base, Context: Core, Context: Misc

#2264 Spooler update during laser waits
  meerk40t/gui/scenewidgets/laserpathwidget.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#2265 Provide undo/redo indicator
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/undo_redo.py
  meerk40t/core/undos.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: Core

#2266 Internalize Undo Signals, Fix #2234
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/undo_redo.py
  meerk40t/core/undos.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2221 Replace all SVGElement.Angle usages, expand units.angle
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/units.py
  meerk40t/extra/param_functions.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  test/test_core_elements.py
  test/test_units_angle.py
Labels: Status: On Hold, Context: GUI, Context: Core, Context: Misc, Context: Tests

#2276 Effect Warp
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/effect_warp.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/pmatrix.py
  test/test_pmatrix.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#2273 Issue #2272: Open containing folder for file
  meerk40t/core/elements/element_treeops.py
Labels: Context: Core

#2274 Make m2nano controller window a bit more compact
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
Labels: Context: I18n

#2279 Consistent use of stroke attributes for all dxf path elements
  meerk40t/dxf/dxf_io.py
Labels: Context: Misc

#2271 Add option to choose from registered hatches to toolbar
  meerk40t/core/elements/shapes.py
  meerk40t/gui/icons.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2269 Helper Window + Online Help
  meerk40t/core/elements/elements.py
  meerk40t/core/planner.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/alignment.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/helper.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/notes.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/opbranchproperties.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/placementproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/propertypanels/wobbleproperty.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/simulation.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/kerftest.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#2278 Add in GRBL Interpolation tweaks.
  meerk40t/grbl/driver.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2280 Exif image rotation
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
  meerk40t/image/imagetools.py
Labels: Context: Core, Context: Misc

#2270 GRBL: Imply GRBL home offsets
  meerk40t/core/view.py
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/grbl/plugin.py
  meerk40t/kernel/kernel.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Core, Context: Misc, Context: Tests

#2281 Isolated Kernel Translation Features
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/__init__.py
  meerk40t/kernel/kernel.py
  meerk40t/main.py
Labels: Context: GUI, Context: Base

#2283 Fix clear/cls
  meerk40t/gui/consolepanel.py
Labels: Context: GUI

#2284 Cover 'path helloworld' crash
  meerk40t/core/elements/shapes.py
Labels: Context: Core

#2285 Make confinement persistent
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#2287 Corrections to BeamTable.
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2288 GRBLHal compatibility corrections.
  meerk40t/grbl/controller.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2289 Fix `in_place` flag compatibility for image loading.
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
  meerk40t/image/imagetools.py
Labels: Context: Core, Context: Misc

#2286 Add help topics
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/balormk/gui/gui.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/alignment.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/wxmmain.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhyoperationproperties.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/gui/gui.py
  meerk40t/newly/gui/newlyconfig.py
  meerk40t/newly/gui/newlycontroller.py
Labels: Context: GUI

#2291 Balor, Moshi, Interpolation algorithm change
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/elementlightjob.py
  meerk40t/balormk/livelightjob.py
  meerk40t/moshi/driver.py
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2297 Simplify geometric calls in wxmtree.
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc

#2298 Add `Convert To Path` for Images
  meerk40t/core/elements/element_treeops.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Core, Context: Misc, Context: Tests

#2295 Galvo Improvements
  meerk40t/balormk/device.py
  meerk40t/balormk/galvo_commands.py
  meerk40t/balormk/livelightjob.py
  meerk40t/balormk/plugin.py
  meerk40t/core/view.py
  meerk40t/gui/laserpanel.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc

#2282 Tips at startup
  meerk40t/gui/helper.py
  meerk40t/gui/icons.py
  meerk40t/gui/tips.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2296 Polygon tool
  meerk40t/extra/param_functions.py
  meerk40t/gui/icons.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/toolwidgets/toolpolygon.py
Labels: Context: GUI, Context: Misc

#2299 Single-checkbox consent to interactive tips.
  meerk40t/gui/tips.py
Labels: Context: GUI

#2294 Arbitrary size correction for Linux
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#2300 Unify all line based tools
  meerk40t/gui/toolwidgets/toolimagecut.py
  meerk40t/gui/toolwidgets/toolline.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolpointlistbuilder.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
Labels: Context: GUI

#2301 Line-tool / add simplified point move
  meerk40t/gui/toolwidgets/toolpointmove.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2305 Use hashvalue as local filename
  locale/tips.txt
  meerk40t/gui/tips.py
Labels: Context: GUI, Context: I18n

#2302 Fix dxf text and image import
  meerk40t/core/node/elem_image.py
  meerk40t/dxf/dxf_io.py
Labels: Context: Core, Context: Misc

#2303 Fix BeamTable edge case.
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2313 Use only basic operation from default-operations
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: GUI

#2310 Optimize Helper: Moves mouse query to Helper directly. Increasing Poll.
  meerk40t/gui/helper.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI
