Repository meerk40t/meerk40t, pull requests merged in 2023-05, with the labels that each got.

#1862 GRBL Bugs
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/gui/laserpanel.py
Labels: Context: GUI

#1864 On-Load Update-Check
  meerk40t/extra/updater.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Misc

#1865 Adjust console verbosity of update check
  meerk40t/extra/updater.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Misc

#1869 Fix tooltip for polyline/vector
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n

#1872 Dont set power/speed scale at startup
  locale/zh/LC_MESSAGES/meerk40t.mo
  meerk40t/grbl/driver.py
  meerk40t/gui/laserpanel.py
Labels: Context: GUI, Context: I18n

#1871 Dont set power/speed scale at startup
  locale/zh/LC_MESSAGES/meerk40t.mo
  meerk40t/grbl/driver.py
  meerk40t/gui/laserpanel.py
Labels: Context: GUI, Context: I18n

#1873 Fixes
  meerk40t/gui/laserpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
Labels: Context: GUI

#1876 Adds in Affine Mover for Selection Widget
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scene/widget.py
  meerk40t/gui/scenewidgets/affinemover.py
  meerk40t/gui/utilitywidgets/controlwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#1877 Snap-to-Grid shift-swapping. Attraction Widget revamp.
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/sceneconst.py
  meerk40t/gui/scenewidgets/attractionwidget.py
Labels: Context: GUI

#1878 Color Service for Gui.
  meerk40t/gui/guicolors.py
  meerk40t/gui/plugin.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scene/guicolors.py
  meerk40t/gui/scene/scene.py
Labels: Context: GUI

#1879 Deprecate SetOrigin, MoveOrigin
  meerk40t/balormk/driver.py
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/gotocut.py
  meerk40t/core/cutcode/setorigincut.py
  meerk40t/core/drivers.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/node.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/node/util_origin.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/core/svg_io.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/extra/updater.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/interpreter.py
  meerk40t/gui/guicolors.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/preferences.py
  meerk40t/gui/scenewidgets/affinemover.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/moshi/driver.py
  meerk40t/newly/driver.py
  meerk40t/ruida/driver.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/rdjob.py
  meerk40t/tools/driver_to_path.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#1881 Update reference nodes too
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1883 Kerf
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/node/nutils.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/parameters.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: Core, Context: Misc

#1884 Kerf
  .github/workflows/unittests.yml
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/node/nutils.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/parameters.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/tools/kerftest.py
Labels: Context: Config, Context: GUI, Context: Core, Context: Misc

#1890 Layout adjustments in Materialtest panel
  meerk40t/gui/materialtest.py
Labels: Context: GUI

#1893 Port speedup code to 0.8.x branch
  meerk40t/core/cutplan.py
Labels: Context: Core

#1899 Improve feature request/feedback URL
  meerk40t/core/webhelp.py
Labels: Context: Core

#1898 Improve Config/Scene/Snap tooltips and labels
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1891 0.9.x: Geom Node Initialization
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/ezd.py
  meerk40t/extra/imageactions.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/tools/kerftest.py
  test/test_core_elements.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1894 0.9.x Elem-GeomstrNode deprecate
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/elem_geomstr.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/operation_info.py
  meerk40t/lihuiyu/parser.py
Labels: Context: GUI, Context: Core, Context: Devices

#1902 0.9.x: Eliminate various as_path() checks
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/shapes.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#1889 0.9.x: Geomstr and Effects
  .github/workflows/win/file_version.txt
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/offset.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_geomstr.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/op_hatch.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/dxf/dxf_io.py
  meerk40t/extra/ezd.py
  meerk40t/extra/imageactions.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/lihuiyu/parser.py
  meerk40t/main.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/kerftest.py
  setup.cfg
  test/test_core_elements.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1906 Geomstr classmethods for some shapes
  meerk40t/core/node/elem_ellipse.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#1910 Mac OSX: Tree too large vs. Laser Pane
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1912 Add in classmethods for Rect and Polylines
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
  test/test_geomstr_nodes.py
Labels: Context: Core, Context: Misc, Context: Tests

#1911 Mac tree fix - legacy8
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1909 Remove double bound commands.
  meerk40t/core/bindalias.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1903 Codecy legacy8 patch
  meerk40t/core/elements/align.py
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/materials.py
  meerk40t/core/elements/shapes.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/grbl/emulator.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/ruida/rdjob.py
  meerk40t/tools/pathtools.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#1913 Replace "shapes" command-context with "geometry"
  meerk40t/balormk/device.py
  meerk40t/balormk/elementlightjob.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/elements/trace.py
Labels: Context: Core

#1925 Galvo Light Fixes / Geometry Improvements
  meerk40t/balormk/device.py
  meerk40t/balormk/elementlightjob.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/livefulllightjob.py
  meerk40t/balormk/livelightjob.py
  meerk40t/balormk/liveselectionlightjob.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/elements/shapes.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#1920 Correct dot_length vs implicit_dotlength value.
  meerk40t/core/plotplanner.py
Labels: Context: Core

#1924 Geomstr Regular/Star Polygons
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#1930 Hatch Fixes for 0.9.x
  meerk40t/core/node/op_hatch.py
  meerk40t/fill/fills.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/tools/geomstr.py
  test/test_fill.py
  test/test_geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#1927 Win64 bit without Ch341DLL.dll
  .github/workflows/win/CH341DLL.DLL
  .github/workflows/win/meerk40t.spec
  meerk40t/ch341/__init__.py
  meerk40t/ch341/ch341device.py
  meerk40t/ch341/windll.py
  meerk40t/ch341/windriver.py
  meerk40t/lihuiyu/controller.py
Labels: Context: Config

#1932 Moshi Update
  meerk40t/ch341/__init__.py
  meerk40t/ch341/ch341device.py
  meerk40t/ch341/libusb.py
  meerk40t/ch341/mock.py
  meerk40t/ch341/windriver.py
  meerk40t/device/basedevice.py
  meerk40t/device/ch341/README.md
  meerk40t/device/ch341/__init__.py
  meerk40t/device/ch341/ch341.py
  meerk40t/device/ch341/ch341libusbdriver.py
  meerk40t/device/ch341/libusb.py
  meerk40t/device/ch341/mock.py
  meerk40t/device/ch341/windll.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/builder.py
  meerk40t/moshi/controller.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/moshi/gui/moshidrivergui.py
  test/bootstrap.py
Labels: Context: Devices, Context: Tests

#1935 Use fewer resources
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmscene.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI
