Repository meerk40t/meerk40t, pull requests merged in 2023-01, with the labels that each got.

#1611 Modify `make_path` transformed segments
  meerk40t/core/element_commands.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_geomstr.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/mixins.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1617 Fix rounded corner editing
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#1618 Add File Property Panel
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#1622 Fix Stroke-Sizes for Rasters
  meerk40t/core/element_commands.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/node.py
Labels: Context: Core

#1620 Make trace behaviour in navigation panel consistent with laserpanel
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#1623 Elements Service gets "default_strokewidth" which all creating tools use
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/extra/cag.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
Labels: Context: GUI, Context: Core, Context: Misc

#1624 ComPorts -> Serial Ports. Many GRBL improvements.
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/grbl/interpreter.py
  meerk40t/grbl/mock_connection.py
  meerk40t/grbl/serial_connection.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1626 Stroke scaling IO
  meerk40t/core/node/elem_path.py
  meerk40t/core/svg_io.py
Labels: Context: Core

#1627 GRBL: Fix Alarm code, add error msg, display feedback
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblserialcontroller.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#1632 Balor: center selection button
  meerk40t/balormk/gui/gui.py
  meerk40t/core/bindalias.py
Labels: Context: Core

#1633 Fix spooler crash with infinite loops
  meerk40t/gui/spoolerpanel.py
Labels: Context: GUI

#1631 Galvo Fixes and Updates
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/bindalias.py
  meerk40t/grbl/driver.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/driver.py
Labels: Context: Core

#1635 materialtest: allow maintaining existing elements
  meerk40t/gui/materialtest.py
Labels: Context: GUI

#1637 Fix creation of degenerate objects due to sizing
  meerk40t/balormk/device.py
  meerk40t/core/svg_io.py
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/ruida/device.py
Labels: Context: GUI, Context: Core

#1638 Avoid undo crash
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1639 Fix stroke display
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#1636 True Type Font as vector font rendering
  meerk40t/extra/hershey.py
  meerk40t/gui/hersheymanager.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Misc

#1641 Minor Codecy/Linting/Black/Isort issues
  meerk40t/balormk/gui/gui.py
  meerk40t/core/bindalias.py
  meerk40t/core/cutplan.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_ops.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_geomstr.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/util_origin.py
  meerk40t/core/svg_io.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/dxf/plugin.py
  meerk40t/extra/hershey.py
  meerk40t/fill/patternfill.py
  meerk40t/fill/patterns.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pointproperty.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/utilitywidgets/togglewidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/loader.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/ttfparser.py
  setup.py
  test/test_cli.py
  test/test_core_viewports.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
Labels: Context: Config, Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#1640 Some blob handling + blop property panel
  meerk40t/core/element_treeops.py
  meerk40t/grbl/driver.py
  meerk40t/gui/propertypanels/blobproperty.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI, Context: Core

#1642 Testgenerator: Make raster uniform
  meerk40t/gui/materialtest.py
Labels: Context: GUI

#1594 Balor Backbone Error, Threading wait/notify
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/core/spoolers.py
  meerk40t/gui/consolepanel.py
Labels: Context: GUI, Context: Core

#1643 GRBL Parser - some fixes
  meerk40t/core/element_treeops.py
  meerk40t/grbl/parser.py
  meerk40t/gui/propertypanels/blobproperty.py
Labels: Context: GUI, Context: Core

#1650 Two Fixes
  meerk40t/core/elements.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1648 Add grbl conversion options
  meerk40t/core/element_treeops.py
  meerk40t/grbl/parser.py
  meerk40t/gui/dialogoptions.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI, Context: Core

#1644 Update Spooler History to Direct Tracking
  meerk40t/core/logging.py
  meerk40t/core/spoolers.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#1656 Materialtest: change clear method for elements and operations
  meerk40t/gui/materialtest.py
Labels: Context: GUI

#1655 Add label default
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_hatch.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#1659 Speedup
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/grbl/parser.py
  meerk40t/gui/alignment.py
  meerk40t/gui/icons.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1663 Speedup sync
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/grbl/parser.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: Core

#1662 Fix invalid handling of ctrl key in edit widget
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#1660 Speedup load and cut
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/grbl/parser.py
  meerk40t/gui/alignment.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1666 Sync with main
  .github/workflows/win/file_version.txt
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#1667 Add scaled to node to further refine modified
  meerk40t/core/element_commands.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI, Context: Core

#1665 Add more information to file/group property
  meerk40t/gui/propertypanels/groupproperties.py
Labels: Context: GUI

#1668 op nodes show + sign
  meerk40t/gui/opassignment.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1670 Allow backup and restore of settings
  meerk40t/gui/preferences.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/settings.py
Labels: Context: GUI

#1669 Speedup #2
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/element_commands.py
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/core/svg_io.py
  meerk40t/extra/hershey.py
  meerk40t/grbl/device.py
  meerk40t/grbl/parser.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/machineoriginwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#1673 Fix list crash
  meerk40t/gui/opassignment.py
Labels: Context: GUI

#1675 Add Test for Spooler Non-Regular Job
  meerk40t/core/spoolers.py
  test/bootstrap.py
  test/test_spooler.py
Labels: Context: Core, Context: Tests

#1676 Change snap to element default
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#1678 Minor tweaks to Cyclocycloid
  meerk40t/gui/scene/scene.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
Labels: Context: GUI

#1683 Galvo Fixes - Tweaks to Input Values
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/core/node/util_input.py
  meerk40t/gui/propertypanels/inputproperty.py
Labels: Context: GUI, Context: Core

#1682 Allow saving of a plain svg file
  meerk40t/core/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/preferences.py
Labels: Context: GUI, Context: Core

#1684 Add group simplification command to tree operations
  meerk40t/core/element_treeops.py
Labels: Context: Core

#1685 Missing font fix - speedup of large font-sizes
  meerk40t/core/node/elem_text.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#1687 Acknowledge classify_new flag on load of file
  meerk40t/core/svg_io.py
  meerk40t/dxf/dxf_io.py
Labels: Context: Core, Context: Misc

#1688 Warn-Indicator for unassigned elements
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/element_treeops.py
  meerk40t/core/elements.py
  meerk40t/gui/icons.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: I18n, Context: Core

#1689 More consistent update of icons in tree
  meerk40t/core/element_commands.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#1690 Apply rotate parameter
  meerk40t/core/node/elem_text.py
Labels: Context: Core

#1691 Extended Tree tooltips
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#1692 Some more font fixes
  meerk40t/core/node/elem_text.py
  meerk40t/gui/propertypanels/textproperty.py
Labels: Context: GUI, Context: Core
