Repository meerk40t/meerk40t, pull requests merged in 2023-10, with the labels that each got.

#2090 Next rounds of 0.8.x maintenance fixes.
  meerk40t/core/elements/elements.py
  meerk40t/gui/about.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/wxmtree.py
  meerk40t/moshi/controller.py
  meerk40t/ruida/rdjob.py
Labels: Context: GUI, Context: Core

#2132 Version bump 0.8.11
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2133 Commit windows7 changes for building
  .github/workflows/win.yml
  README.md
Labels: Context: Config, Context: Docs

#2136 Remove temporary parameter for further processing
  meerk40t/core/elements/geometry.py
Labels: Context: Core

#2138 Subdivide the Mixins for the Element nodes
  meerk40t/balormk/balor_params.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/node.py
  meerk40t/core/parameters.py
Labels: Context: Core

#2141 Propagate node notify_modifiers through parents rather than directly through roots for extensibility.
  meerk40t/core/node/node.py
Labels: Context: Core

#2142 Crash reporter couldn't handle commits only identified by hashes. Fix…
  meerk40t/main.py
Labels: Context: Base

#2140 Check for Update Frequency
  meerk40t/extra/updater.py
  meerk40t/gui/about.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Misc

#2144 Fix invalid translation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2151 Addresses issue #2149 for 0.8
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#2150 Address issue #2149 for 0.9
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI

#2158 Add useful imports for running from source
  install_run.bat
  requirements-optional.txt
Labels: Context: Config

#2152 Bug fixes for 0.9.2
  .github/workflows/unittests.yml
  meerk40t/external_plugins.py
  meerk40t/kernel/kernel.py
  meerk40t/kernel/settings.py
  meerk40t/tools/shxparser.py
  test/test_core_plotplanner.py
  test/test_geomstr.py
  test/test_kernel.py
  test/test_operations.py
Labels: Context: Config, Context: Base, Context: Misc, Context: Tests

#2155 Improved snap behaviour for first point
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/statusbarwidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/toolwidgets/toolplacement.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2161 Enable High-DPI for Windows
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2147 Living Hinges First Steps
  meerk40t/fill/patternfill.py
  meerk40t/fill/patterns.py
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#2166 Ribbon sync
  meerk40t/gui/mkdebug.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#2165 Introduce break subpaths when parsing a svg path
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2163 Tweaks and Improvements for High-Res Windows
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/extra/updater.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/gui/alignment.py
  meerk40t/gui/basicops.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/ruida/gui/ruidacontroller.py
  meerk40t/tools/kerftest.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: I18n, Context: Misc, Context: Devices

#2168 Allow suppression of high_dpi_mode
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#2169 Correct Pixel Awareness Window sizes
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mwindow.py
Labels: Context: GUI

#2170 Windows Reset Fix
  meerk40t/balormk/plugin.py
  meerk40t/camera/plugin.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel/context.py
  meerk40t/kernel/functions.py
  meerk40t/kernel/settings.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/moshi/plugin.py
  meerk40t/newly/plugin.py
  meerk40t/ruida/plugin.py
  test/bootstrap.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
Labels: Context: GUI, Context: Tests

#2153 Additional bug fixes for legacy 8. (0.8.12)
  .github/workflows/win/file_version.txt
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/wxutils.py
  meerk40t/main.py
  meerk40t/ruida/emulator.py
  meerk40t/ruida/rdjob.py
  setup.cfg
  test/test_ruida.py
Labels: Context: Config, Context: GUI, Context: Base, Context: Tests

#2172 Classification fixes
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/gui/basicops.py
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI, Context: I18n, Context: Core

#2137 Hatch Effect Group
  meerk40t/core/cutplan.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/hatchproperty.py
  test/test_fill.py
Labels: Context: GUI, Context: Core, Context: Tests

#2173 Wobble effect
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/wobbleproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices

#2131 Experimental: Image Rewrite to `as_image` coded elements.
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/node/bootstrap.py
  meerk40t/core/node/image_processed.py
  meerk40t/core/node/image_raster.py
  meerk40t/core/node/op_image.py
  meerk40t/gui/laserrender.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#2005 Scene Optimizations
  meerk40t/gui/scene/scene.py
Labels: Context: GUI

#2174 Correct issues for the 0.9.3 merges
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/image/imagetools.py
Labels: Context: Core, Context: Misc

#2178 Additional 0.9.x shape modifications
  meerk40t/balormk/device.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/svg_io.py
  meerk40t/extra/embroider.py
  meerk40t/extra/pathoptimize.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/internal_plugins.py
  test/test_core_elements.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Tests

#2181 Living Hinge Fix
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2182 Correct corrupted disjointed path for Polycut
  meerk40t/core/elements/geometry.py
  meerk40t/fill/patterns.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#2187 Living Hinges - Curves failing AABB
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2186 Fix invalid hinge shift
  meerk40t/tools/geomstr.py
  meerk40t/tools/livinghinges.py
Labels: Context: Misc

#2185 Italian translations (by betaeta)
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/gui/help_assets/help_assets.py
Labels: Context: GUI, Context: I18n

#2183 Extended classification
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: I18n, Context: Core

#2190 Hinge pattern
  meerk40t/internal_plugins.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/livinghinges.py
Labels: Context: Base, Context: Misc

#2193 Add missing linebreak to translation
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  meerk40t/core/planner.py
Labels: Context: I18n, Context: Core

#2196 Correct Hinge Whiskers Bug
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2195 Allow deletion / duplication of entries in newly raster chart
  meerk40t/gui/choicepropertypanel.py
  meerk40t/newly/device.py
Labels: Context: GUI

#2194 Add a bit more control over job loops
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/laserjob.py
  meerk40t/gui/propertypanels/opbranchproperties.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI, Context: I18n, Context: Core

#2197 Simplify and Correct SVG writing.
  meerk40t/core/svg_io.py
Labels: Context: Core

#2200 Fix + extend simpleui panel
  meerk40t/gui/simpleui.py
Labels: Context: GUI

#2202 Fix two crashes
  meerk40t/core/cutplan.py
Labels: Context: Core

#2198 Effect Groups: Write Operations as Groups
  meerk40t/core/elements/elements.py
  meerk40t/core/svg_io.py
  test/test_file_svg.py
Labels: Context: Core, Context: Tests

#2205 Use mk-specific properties not in parameters.py
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/svg_io.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI, Context: Core

#2206 Expand Hatch Effects
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/core/node/node.py
  meerk40t/gui/icons.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core

#2157 Vector Icons
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/preferences.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/utilitywidgets/cyclocycloidwidget.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmtree.py
  meerk40t/newly/gui/gui.py
Labels: Context: GUI, Context: Devices
