Repository meerk40t/meerk40t, pull requests merged in 2024-11, with the labels that each got.

#2705 Simulation balor fix
  meerk40t/balormk/gui/corscene.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/tooltabedit.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2706 Fix dialog update of contour recognition for background picture under Darwin
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2708 Put dc acquisition inside lock
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#2709 Italian translations by betaeta (fixed)
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2710 Hidden persistence
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/core/svg_io.py
Labels: Context: I18n, Context: Core

#2711 Cylinder commands
  meerk40t/balormk/cylindermod.py
  meerk40t/cylinder/cylinder.py
  meerk40t/cylinder/gui/cylindersettings.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#2714 Recognize non saveable file types on 'Save'
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2716 Cherrypick simulation enhancements from lhy_low_dpi (Image/Rasterview)
  meerk40t/balormk/device.py
  meerk40t/grbl/device.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/simulation.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/newly/device.py
  meerk40t/ruida/device.py
Labels: Context: GUI

#2721 Persist settings, add double display
  meerk40t/gui/laserrender.py
  meerk40t/gui/simulation.py
Labels: Context: GUI

#2720 Add dpi warning
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI

#2722 Fix timerbutton regression
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#2723 Additional rasterfix
  meerk40t/core/cutcode/rastercut.py
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/tools/rasterplotter.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
  test/test_drivers_newly.py
  test/testfiles/rastertest.svg
Labels: Context: GUI, Context: Core, Context: Misc, Context: Tests

#2724 Fix performance issue at delete many items
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2725 Context menu on dpi entry fields
  meerk40t/core/view.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: Core

#2727 Experimental `linefill`command
  meerk40t/gui/consolepanel.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Misc

#2728 Fix behaviour for hidden raster elements
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#2730 Fix button size for startup
  meerk40t/gui/busy.py
Labels: Context: GUI

#2733 Win scaling issue
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/device/gui/warningpanel.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/gui/about.py
  meerk40t/gui/alignment.py
  meerk40t/gui/basicops.py
  meerk40t/gui/busy.py
  meerk40t/gui/executejob.py
  meerk40t/gui/helper.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/icons.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/plugin.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/propertypanels/warpproperty.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/statusbarwidgets/infowidget.py
  meerk40t/gui/statusbarwidgets/opassignwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/statusbarwidgets/statusbar.py
  meerk40t/gui/tips.py
  meerk40t/gui/utilitywidgets/harmonograph.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/ruida/gui/ruidacontroller.py
Labels: OS: MSW, Context: GUI, Context: I18n, Context: Devices

#2736 Address copying of nodes inside a single group
  meerk40t/core/elements/element_treeops.py
Labels: Context: Core

#2737 Sync 0.96
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t.ico
  meerk40t/lihuiyu/device.py
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
  tools/build_icon.sh
Labels: Context: Config, Context: I18n, Context: Base

#2739 Fix textctrl colors for overloaded light on dark systems
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2740 Allow two-opt optimisation for generated path after image 2 geometry
  meerk40t/core/elements/element_treeops.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#2742 Fix invalid persistence of coolant attribute
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
Labels: Context: Core

#2744 Immediately set default value
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2746 Remove IRC from list of supported interactions
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  meerk40t/core/webhelp.py
Labels: Context: Config, Context: Core
