Repository meerk40t/meerk40t, pull requests merged in 2024-02, with the labels that each got.

#2444 Inspection fixes #2
  meerk40t/device/gui/defaultactions.py
  meerk40t/extra/hershey.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Misc, Context: Devices

#2445 Delay image processing until sliders have been released
  meerk40t/gui/propertypanels/imageproperty.py
Labels: Context: GUI

#2447 Minor Grammar Corrections Within Documentation
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  README.md
  meerk40t/balormk/livelightjob.py
  meerk40t/ch341/ch341device.py
  meerk40t/ch341/libusb.py
  meerk40t/ch341/mock.py
  meerk40t/ch341/windriver.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset_mk.py
  meerk40t/core/elements/render.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/image_processed.py
  meerk40t/core/svg_io.py
  meerk40t/core/treeop.py
  meerk40t/core/units.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/extra/hershey.py
  meerk40t/extra/imageactions.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolnodemove.py
  meerk40t/gui/toolwidgets/toolpointlistbuilder.py
  meerk40t/gui/toolwidgets/toolpointmove.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/newly/controller.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/livinghinges.py
  test/test_core_plotplanner.py
Labels: Context: Config, Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests, Context: Docs

#2449 Add in geomstr `remove_0_length`
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2439 Font Tweaks
  meerk40t/extra/hershey.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/plugin.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/wxmmain.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/shxparser.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Misc

#2450 Avoid drawing artifacts for effects
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI, Context: Core

#2452 Close wobble path for closed outline
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2451 Fix snap-behaviour during tool vector
  meerk40t/gui/toolwidgets/toolvector.py
Labels: Context: GUI

#2453 dnd of regmark nodes
  meerk40t/core/elements/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#2454 Add some ornamental wobble pattern
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/fill/fills.py
  meerk40t/gui/propertypanels/wobbleproperty.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc

#2457 Translations
  .github/workflows/translate-error-check.py
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: Config, Context: I18n

#2458 Feature requests
  meerk40t/balormk/galvo_commands.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/livelightjob.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2463 0.9.4 final checks (Part 2)
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/device/gui/defaultactions.py
  meerk40t/extra/hershey.py
  meerk40t/extra/updater.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/gui/alignment.py
  meerk40t/gui/basicops.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/helper.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/blobproperty.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/propertypanels/placementproperty.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/wxutils.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/kerftest.py
  test/test_geomstr.py
Labels: Context: GUI, Context: I18n, Context: Misc, Context: Devices, Context: Tests

#2466 Last minute changes
  locale/de/tips.txt
  locale/tips.txt
  meerk40t/core/elements/render.py
  meerk40t/extra/potrace.py
  meerk40t/extra/vectrace.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#2465 Deal with nop segments
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2343 Balor: Corfile Scene Configure (Partial)
  meerk40t/balormk/device.py
  meerk40t/balormk/elementlightjob.py
  meerk40t/balormk/galvo_commands.py
  meerk40t/balormk/gui/corscene.py
  meerk40t/balormk/gui/gui.py
  meerk40t/balormk/livelightjob.py
  meerk40t/gui/laserrender.py
Labels: Context: GUI

#2461 GRBL over WebSocket support implementation
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/grbl/ws_connection.py
  requirements.txt
Labels: Context: Config

#2468 Placeholder for a 0.9.4 bugfix release
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  meerk40t/core/node/node.py
  meerk40t/grbl/device.py
  meerk40t/grbl/tcp_connection.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel/kernel.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/lihuiyu/tcp_connection.py
  meerk40t/main.py
  meerk40t/ruida/tcp_connection.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core
