Repository meerk40t/meerk40t, pull requests merged in 2024-12, with the labels that each got.

#2748 Extended set/unset/toggle hidden flag
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/groupnode.py
Labels: Context: Core

#2749 Balor serial
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/mock_connection.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#2743 Overall raster overhaul
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/driver.py
  meerk40t/constants.py
  meerk40t/core/cutcode/cutcode.py
  meerk40t/core/cutcode/cutobject.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/drivers.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/core/parameters.py
  meerk40t/core/plotplanner.py
  meerk40t/core/svg_io.py
  meerk40t/device/basedevice.py
  meerk40t/grbl/device.py
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/device.py
  meerk40t/ruida/driver.py
  meerk40t/tools/driver_to_path.py
  meerk40t/tools/rasterplotter.py
  test/test_core_cutcode.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
  test/test_drivers_newly.py
  test/testfiles/crossover.svg
  test/testfiles/rastertest.svg
Labels: Context: GUI, Context: I18n, Context: Base, Context: Core, Context: Misc, Context: Devices, Context: Tests

#2750 Version bump
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
  tools/build_icon.sh
Labels: Context: Config, Context: Base

#2751 Grbl macro definitions
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/gui/choicepropertypanel.py
Labels: Context: GUI

#2753 Fix settings crash for consoleoperations
  meerk40t/core/svg_io.py
Labels: Context: Core

#2754 Return of the m2nano legacy raster
  meerk40t/core/plotplanner.py
  meerk40t/device/basedevice.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/device.py
  meerk40t/tools/rasterplotter.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
Labels: Context: Core, Context: Misc, Context: Devices, Context: Tests

#2755 Version bump
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
  tools/build_icon.sh
Labels: Context: Config, Context: Base

#2756 invert image with transparency
  meerk40t/image/imagetools.py
Labels: Context: Misc

#2757 Multiple smaller fixes
  meerk40t/balormk/device.py
  meerk40t/core/cutplan.py
  meerk40t/core/node/groupnode.py
  meerk40t/gui/wxmmain.py
  meerk40t/moshi/controller.py
Labels: Context: GUI, Context: Core

#2758 Accelerate is_inside function during cutcode optimisation
  meerk40t/core/cutplan.py
  meerk40t/tools/pathtools.py
Labels: Context: Core, Context: Misc

#2759 Resync image property panel display after script application
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
Labels: Context: GUI

#2760 Add spiral plot option for raster / images (non m2nano)
  meerk40t/constants.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/tools/rasterplotter.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc

#2763 Set proper SVG defaults on svg load
  meerk40t/core/svg_io.py
Labels: Context: Core

#2765 GRBL custom operation startup commands
  .vscode/launch.json
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grbloperationconfig.py
Labels: Context: Config

#2768 Raster fixes
  meerk40t/balormk/driver.py
  meerk40t/core/plotplanner.py
  meerk40t/grbl/driver.py
  meerk40t/image/imagetools.py
  meerk40t/newly/driver.py
Labels: Context: Core, Context: Misc

#2773 Suppress hidden nodes
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_warp.py
  meerk40t/core/node/effect_wobble.py
Labels: Context: Core

#2775 Add Bayer 8x8 dithering
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/image/dither.py
Labels: Context: GUI, Context: Misc
