Repository meerk40t/meerk40t, pull requests merged in 2024-06, with the labels that each got.

#2499 Fix grblcontrol
  meerk40t/extra/coolant.py
  meerk40t/grbl/emulator.py
  meerk40t/grbl/gcodejob.py
Labels: Context: Misc

#2500 Bump version numbers
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2501 Context aware coolant toggle
  meerk40t/balormk/galvo_commands.py
  meerk40t/balormk/gui/gui.py
  meerk40t/extra/coolant.py
  meerk40t/grbl/emulator.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Misc

#2503 Some Fluidnc tweaks
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/grbl/ws_connection.py
Labels: Context: I18n

#2504 Grbl z support
  meerk40t/core/parameters.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gui/grbloperationconfig.py
  meerk40t/grbl/gui/gui.py
Labels: Context: Core

#2508 Tweaks for parametric editing
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2509 Add position/size changer to statusbar panel
  meerk40t/core/units.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2511 Use device units in warning panel
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/device/gui/warningpanel.py
Labels: Context: I18n, Context: Devices

#2512 Cover race condition in simulation window
  meerk40t/gui/simulation.py
Labels: Context: GUI

#2513 Label display
  meerk40t/core/node/node.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/attributes.py
Labels: Context: GUI, Context: Core

#2514 Sync with beta branch
  .github/workflows/win/file_version.txt
  linux.txt
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/node.py
  meerk40t/core/svg_io.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#2515 Circumvent blank simulation window under Linux with wxpython <= 4.1
  meerk40t/gui/devicepanel.py
  meerk40t/gui/simulation.py
Labels: Context: GUI

#2516 Ask the user where to place the content of the file
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2517 Load fixes
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n, Context: Core

#2506 Effects Toolbar Button and Default Effects Settings
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/core/elements/shapes.py
  meerk40t/device/devicechoices.py
  meerk40t/device/dummydevice.py
  meerk40t/device/gui/effectspanel.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/wxmmain.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/device.py
  meerk40t/newly/gui/newlyconfig.py
  meerk40t/ruida/device.py
  meerk40t/ruida/gui/ruidaconfig.py
Labels: Context: GUI, Context: Core, Context: Devices

#2519 User buttons
  meerk40t/core/elements/grid.py
  meerk40t/gui/icons.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: Core

#2520 Allow suppression of config options for classroom sessions
  meerk40t/balormk/gui/gui.py
  meerk40t/grbl/gui/gui.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/lihuiyu/gui/gui.py
  meerk40t/main.py
  meerk40t/moshi/gui/gui.py
  meerk40t/newly/gui/gui.py
  meerk40t/ruida/gui/gui.py
Labels: Context: GUI, Context: Base
