Repository meerk40t/meerk40t, pull requests merged in 2024-01, with the labels that each got.

#2381 Effect Drag-and-Drop treatment correction.
  meerk40t/core/node/branch_elems.py
  meerk40t/core/node/branch_regmark.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/image_processed.py
  meerk40t/core/node/image_raster.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/refnode.py
Labels: Context: Core

#2382 Matman fix
  meerk40t/gui/materialmanager.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2384 Advanced Ribbon Tool, Tool Modes
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolcontainer.py
  meerk40t/gui/toolwidgets/tooldraw.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolimagecut.py
  meerk40t/gui/toolwidgets/toolline.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/toolwidgets/toolnodemove.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/toolwidgets/toolplacement.py
  meerk40t/gui/toolwidgets/toolpoint.py
  meerk40t/gui/toolwidgets/toolpointlistbuilder.py
  meerk40t/gui/toolwidgets/toolpointmove.py
  meerk40t/gui/toolwidgets/toolpolygon.py
  meerk40t/gui/toolwidgets/toolpolyline.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/toolrelocate.py
  meerk40t/gui/toolwidgets/toolribbon.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/toolwidgets/toolvector.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2380 Add profiler option for meerk40t
  meerk40t/main.py
Labels: Context: Base

#2386 Merger fixes
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/offset_clpr.py
  meerk40t/extra/cag.py
Labels: Context: Core, Context: Misc

#2388 Create .po file for pt_BR
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2390 GotoOperation Corrections
  meerk40t/core/cutplan.py
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/util_goto.py
  meerk40t/gui/propertypanels/gotoproperty.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI, Context: Core

#2389 lock/unlock of the helper pane updates
  meerk40t/core/bindalias.py
  meerk40t/core/element_commands.py
  meerk40t/gui/helper.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core

#2392 Geomstr simplify
  meerk40t/core/cutplan.py
  meerk40t/core/elements/offset_clpr.py
  meerk40t/core/elements/offset_mk.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/planner.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#2394 High dpi fixes
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI

#2387 BeamTable: Bentley Ottmann Intersections
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2395 Fontwelding
  meerk40t/core/svg_io.py
  meerk40t/extra/hershey.py
  meerk40t/gui/hersheymanager.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/shxparser.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Core, Context: Misc

#2397 Inkscape Layer-Support / Accelerate loading
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/tree_commands.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/svg_io.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core, Context: Devices

#2396 Update Simplify Code
  meerk40t/core/cutplan.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/offset_clpr.py
  meerk40t/core/elements/offset_mk.py
  meerk40t/core/elements/shapes.py
  meerk40t/extra/hershey.py
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Core, Context: Misc, Context: Tests

#2399 0.9.4-beta2 Fixes and Checks
  .github/workflows/win/file_version.txt
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/core/elements/elements.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/emulator.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolnodeedit.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxutils.py
  meerk40t/main.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#2401 Add project sanity warnings
  meerk40t/balormk/livelightjob.py
  meerk40t/core/elements/shapes.py
  meerk40t/grbl/device.py
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/icons.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/lihuiyu/device.py
Labels: Context: GUI, Context: Core

#2402 German translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/grbl/device.py
  meerk40t/lihuiyu/device.py
Labels: Context: I18n

#2403 version bump to 0.9.3021
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2405 Fix incomplete settings restoration
  meerk40t/core/elements/elements.py
Labels: Context: Core

#2406 Final Touches: 0.9.4 Beta 2 - Post 2
  .github/workflows/translate-error-check.py
  .github/workflows/translation-error-checker.yml
  .github/workflows/win/file_version.txt
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/wxmmain.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base

#2412 Italian translations v17a + some additional
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2415 Translations
  locale/de/LC_MESSAGES/tips.txt
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/tips.txt
Labels: Context: I18n

#2418 Matman fixes + tweaks
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#2419 Further matman tweaks
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/treeop.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: Core

#2409 MWindow default window size
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/gui/about.py
  meerk40t/gui/alignment.py
  meerk40t/gui/basicops.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/consolepanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/keymap.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/notes.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/blobproperty.py
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/pathproperty.py
  meerk40t/gui/propertypanels/pointproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/tips.py
  meerk40t/gui/usbconnect.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/gui/newlyconfig.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/ruida/gui/ruidaconfig.py
  meerk40t/ruida/gui/ruidacontroller.py
  meerk40t/tools/kerftest.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: I18n, Context: Misc

#2421 Add component information to About WIndow
  meerk40t/gui/about.py
Labels: Context: GUI

#2416 Util Goto Vector
  meerk40t/core/elements/elements.py
  meerk40t/core/node/util_goto.py
  meerk40t/core/planner.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/gui/propertypanels/gotoproperty.py
Labels: Context: GUI, Context: Core, Context: Devices

#2414 0.9.4 Beta 3 Final Touches
  .github/workflows/win/file_version.txt
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/trace.py
  meerk40t/core/svg_io.py
  meerk40t/gui/basicops.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/propertypanels/gotoproperty.py
  meerk40t/gui/simulation.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wxmscene.py
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: Base, Context: Core

#2423 Italian translations by betaeta
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/it/tips.txt
Labels: Context: I18n

#2424 Translation Check: Verify matched curly braces.
  .github/workflows/translate-error-check.py
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
Labels: Context: Config, Context: I18n

#2426 Add some basic op creation functions
  meerk40t/gui/materialmanager.py
Labels: Context: GUI

#2427 TTF Naming Table
  meerk40t/tools/ttfparser.py
Labels: Context: Misc

#2428 Use ttffontinfo
  meerk40t/extra/hershey.py
  meerk40t/gui/hersheymanager.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Misc

#2430 Enhanced vector fonts
  meerk40t/core/elements/element_treeops.py
  meerk40t/extra/hershey.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/shxparser.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Core, Context: Misc

#2433 Fix parsing of ttf:cmaps
  meerk40t/tools/ttfparser.py
Labels: Context: Misc

#2434 Implement cmap12, cmap13
  meerk40t/tools/ttfparser.py
Labels: Context: Misc

#2435 Classification fixes
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#2432 Font fixes
  meerk40t/extra/hershey.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/tools/jhfparser.py
  meerk40t/tools/shxparser.py
  meerk40t/tools/ttfparser.py
Labels: Context: GUI, Context: Misc

#2436 Translation updates
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/it/tips.txt
  meerk40t/core/cutplan.py
Labels: Context: I18n, Context: Core

#2438 Fonts tweaks and corrections.
  meerk40t/extra/hershey.py
  meerk40t/tools/ttfparser.py
Labels: Context: Misc
