Repository meerk40t/meerk40t, pull requests merged in 2024-04, with the labels that each got.

#2477 Label placeholder
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/core/node/node.py
  meerk40t/extra/hershey.py
  meerk40t/gui/basicops.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/wxmtree.py
  requirements-dev.txt
Labels: Context: Config, Context: GUI, Context: I18n, Context: Core, Context: Misc

#2479 DE/IT translation updates
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/grbl/driver.py
Labels: Context: I18n

#2480 Add missing clearance status on load
  meerk40t/core/svg_io.py
  meerk40t/extra/ezd.py
  meerk40t/image/imagetools.py
Labels: Context: Core, Context: Misc

#2481 Hinge tweaks
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/wxmmain.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Misc

#2482 Fix placement selection
  meerk40t/core/node/place_point.py
  meerk40t/gui/propertypanels/placementproperty.py
Labels: Context: GUI, Context: Core

#2474 Add in Cylinder Correction for Galvo Lasers
  meerk40t/balormk/cylindermod.py
  meerk40t/balormk/driver.py
  meerk40t/cylinder/README.md
  meerk40t/cylinder/__init__.py
  meerk40t/cylinder/cylinder.py
  meerk40t/cylinder/gui/__init__.py
  meerk40t/cylinder/gui/cylindersettings.py
  meerk40t/cylinder/gui/gui.py
  meerk40t/gui/icons.py
  meerk40t/internal_plugins.py
Labels: Context: GUI, Context: Base

#2478 Renewed coolant support
  meerk40t/balormk/device.py
  meerk40t/device/gui/defaultactions.py
  meerk40t/extra/coolant.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/grbl/gcodejob.py
  meerk40t/gui/icons.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmscene.py
  meerk40t/internal_plugins.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/device.py
  meerk40t/ruida/device.py
  test/bootstrap.py
Labels: Context: GUI, Context: Base, Context: Misc, Context: Devices, Context: Tests

#2485 Fix to M7 M8 mismatch in callbacks
  meerk40t/extra/coolant.py
Labels: Context: Misc

#2486 Minimal autosave functionality
  meerk40t/core/elements/elements.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core
