Repository meerk40t/meerk40t, pull requests merged in 2024-09, with the labels that each got.

#2565 Save column widths for lists
  meerk40t/camera/gui/camerapanel.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/gui/about.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/keymap.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/scene/scenespacewidget.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2566 Minor improvement to readme
  README.md
Labels: Context: Config, Context: Docs

#2575 Speedup
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/grid.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/gui/basicops.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/opassignment.py
  meerk40t/gui/position.py
  meerk40t/gui/scenewidgets/attractionwidget.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/statusbarwidgets/strokewidget.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Core, Context: Misc

#2576 Console server fix
  meerk40t/core/elements/shapes.py
  meerk40t/extra/param_functions.py
  meerk40t/gui/wxmtree.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core, Context: Misc

#2572 Add webconsole interface
  meerk40t/core/elements/elements.py
  meerk40t/extra/outerworld.py
  meerk40t/gui/wxmmain.py
  meerk40t/network/console_server.py
  meerk40t/network/kernelserver.py
  meerk40t/network/web_server.py
Labels: Context: GUI, Context: Core, Context: Misc

#2579 Ribbon tooltip fixes
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/plugin.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2580 Undo hints
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/undo_redo.py
  meerk40t/core/svg_io.py
  meerk40t/core/undos.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n, Context: Core

#2584 Remove invalid / no longer existing files from recent menu
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2583 Allow filtering / suppressing warning indicator
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/plugin.py
Labels: Context: GUI

#2585 Geomstr changes
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Misc

#2587 Fix linewidth issues in simulation (and others)
  meerk40t/balormk/gui/corscene.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/toolwidgets/toolcircle.py
  meerk40t/gui/toolwidgets/toolellipse.py
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/toolparameter.py
  meerk40t/gui/toolwidgets/toolrect.py
  meerk40t/gui/toolwidgets/tooltabedit.py
Labels: Context: GUI

#2588 Introduction of image depthmap feature
  meerk40t/core/cutcode/cutobject.py
  meerk40t/core/cutcode/rastercut.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/element_types.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_image.py
  meerk40t/gui/icons.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#2589 Add device duplication
  meerk40t/device/basedevice.py
  meerk40t/gui/devicepanel.py
Labels: Context: GUI, Context: Devices

#2591 Add recovery opportunity on start
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2592 Change vector text input method
  meerk40t/extra/hershey.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/regbranchproperties.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/toolwidgets/toollinetext.py
  meerk40t/gui/toolwidgets/toollinetext_inline.py
  meerk40t/gui/toolwidgets/tooltext.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Misc

#2593 Add additional insights into internal device queue
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/moshi/device.py
  meerk40t/moshi/driver.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  meerk40t/ruida/device.py
  meerk40t/ruida/driver.py
Labels: Context: GUI

#2596 Add extended load
  meerk40t/extra/outerworld.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Misc

#2597 Translation-Updates
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/extra/outerworld.py
  meerk40t/gui/ribbon.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: I18n, Context: Misc

#2599 Autoexecution of commands on file load
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/files.py
  meerk40t/core/svg_io.py
  meerk40t/gui/autoexec.py
  meerk40t/gui/notes.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: I18n, Context: Core

#2602 Reuse operations on load
  meerk40t/core/elements/elements.py
  meerk40t/core/svg_io.py
  meerk40t/gui/preferences.py
Labels: Context: GUI, Context: Core, Release: skip next

#2603 Proper keyhole functionality
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/render.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/op_image.py
  meerk40t/core/svg_io.py
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmscene.py
  meerk40t/image/imagetools.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc, Release: skip next

#2604 Intgrate 0.9.5b7
  meerk40t/extra/outerworld.py
Labels: Context: Misc
