Repository meerk40t/meerk40t, pull requests merged in 2024-10, with the labels that each got.

#2611 Dynamical ordering of subpanels for image properties
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
Labels: Context: GUI

#2614 Change dpi meaning in op image
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/op_image.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/image/dither.py
Labels: Context: GUI, Context: Core, Context: Misc

#2615 Remove incomplete middlekey treatment in selection widget
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI

#2618 Optional image resizing on dpi change
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: I18n, Context: Misc

#2619 Sort and separate tree/node context menu according to tags
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/tree_commands.py
  meerk40t/core/treeop.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI, Context: Core

#2622 Introduce 'interim' mode for translated / scaled events to permit effects to delay updates
  meerk40t/core/elements/elements.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_warp.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/mixins.py
  meerk40t/core/node/node.py
  meerk40t/core/node/rootnode.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: Core

#2623 Make croppanel more logical
  meerk40t/core/node/elem_image.py
  meerk40t/gui/propertypanels/imageproperty.py
Labels: Context: GUI, Context: Core

#2610 Contour detection on images
  meerk40t/image/imagetools.py
  meerk40t/tools/geomstr.py
Labels: Context: Misc

#2600 Have another filenode under regmarks on file load
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/svg_io.py
Labels: Context: Core

#2627 Allow stitching subpaths together
  meerk40t/core/elements/branches.py
  meerk40t/tools/geomstr.py
Labels: Context: Core, Context: Misc

#2630 Docstrings updated
  meerk40t/core/elements/align.py
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/files.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/materials.py
  meerk40t/core/elements/notes.py
  meerk40t/core/elements/offset_mk.py
  meerk40t/core/elements/penbox.py
  meerk40t/core/elements/placements.py
  meerk40t/core/elements/render.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/elements/trace.py
  meerk40t/core/elements/undo_redo.py
  meerk40t/core/elements/wordlist.py
Labels: Context: Core

#2631 Recognize the 5 different cases for stitching
  meerk40t/core/elements/branches.py
Labels: Context: Core

#2628 Undoredo instructions
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
Labels: Context: Core

#2632 Add contour commands to tree
  meerk40t/core/elements/element_treeops.py
  meerk40t/image/imagetools.py
Labels: Context: Core, Context: Misc

#2633 Foolproof column width
  meerk40t/camera/gui/camerapanel.py
  meerk40t/gui/about.py
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/keymap.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2636 Version push
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
Labels: Context: Config, Context: Base

#2641 Fix missing settings update
  meerk40t/moshi/driver.py
  test/test_drivers_moshi.py
Labels: Context: Tests

#2645 Add info tooltips
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2647 Windows restore
  meerk40t/gui/mwindow.py
  meerk40t/gui/wxmeerk40t.py
Labels: Context: GUI

#2648 Extend (and fix) German/Italian Translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/element_treeops.py
  translate.py
Labels: Context: Config, Context: I18n, Context: Core

#2649 Fix undo from last status
  meerk40t/core/undos.py
Labels: Context: Core

#2650 Coolants: Some internal functions for future extensions
  meerk40t/extra/coolant.py
Labels: Context: Misc

#2652 Effect recombination for faster optimization
  meerk40t/core/cutcode/cutgroup.py
  meerk40t/core/cutplan.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/nutils.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/planner.py
Labels: Context: Core

#2651 Fix UI theming for skinned desktops
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblcontroller.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/grbl/gui/grbloperationconfig.py
  meerk40t/gui/about.py
  meerk40t/gui/alignment.py
  meerk40t/gui/basicops.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/guicolors.py
  meerk40t/gui/helper.py
  meerk40t/gui/keymap.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/mwindow.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/position.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/consoleproperty.py
  meerk40t/gui/propertypanels/groupproperties.py
  meerk40t/gui/propertypanels/rasterwizardpanels.py
  meerk40t/gui/propertypanels/textproperty.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/simulation.py
  meerk40t/gui/snapoptions.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/themes.py
  meerk40t/gui/tips.py
  meerk40t/gui/usbconnect.py
  meerk40t/gui/wordlisteditor.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmribbon.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2658 Surround button actions in undo scope
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2659 Fix warp effect
  meerk40t/core/node/effect_warp.py
Labels: Context: Core

#2661 Warp Effect update
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_warp.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/gui/icons.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/propertypanels/warpproperty.py
  meerk40t/gui/propertypanels/wobbleproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmtree.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Devices

#2663 Fix hover issue on jog panel
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#2656 Simplify device listings and add longer ray5
  meerk40t/balormk/plugin.py
  meerk40t/grbl/plugin.py
  meerk40t/gui/devicepanel.py
  meerk40t/lihuiyu/plugin.py
  meerk40t/moshi/plugin.py
  meerk40t/newly/plugin.py
  meerk40t/ruida/plugin.py
Labels: Context: GUI

#2666 Minor fix: Color mismatch
  meerk40t/gui/guicolors.py
Labels: Context: GUI

#2668 Icon translation fix
  meerk40t/gui/icons.py
  meerk40t/gui/materialmanager.py
  meerk40t/gui/mkdebug.py
Labels: Context: GUI

#2670 Update de/it translations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2672 Some fixes / improvement about hatch effects in operations
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/effect_warp.py
  meerk40t/core/node/effect_wobble.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/gui/propertypanels/operationpropertymain.py
Labels: Context: GUI, Context: I18n, Context: Core

#2675 Make Beep sound user-configurable
  meerk40t/gui/wxmeerk40t.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI

#2676 Avoid linetext crash under Linux
  meerk40t/gui/hersheymanager.py
  meerk40t/gui/propertypanels/textproperty.py
Labels: Context: GUI

#2677 Deal with 32bit grayscale images
  meerk40t/core/node/elem_image.py
Labels: Context: Core

#2678 Add files for win64 support
  .github/workflows/win/libusb-1.0.lib
  .github/workflows/win/meerk40t-all.spec
Labels: Context: Config

#2681 Sync and remember lock status
  meerk40t/gui/position.py
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxutils.py
Labels: Context: GUI

#2682 Ghost icon sync
  meerk40t/gui/wxmtree.py
Labels: Context: GUI

#2683 Push svgelements to 1.9.6
  meerk40t/svgelements.py
Labels: Context: Base

#2684 Fix crop application in image script
  meerk40t/core/node/elem_image.py
Labels: Context: Core

#2685 Contour generation GUI in image properties
  meerk40t/core/node/elem_image.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#2686 Contour recognition for background=camera picture
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scenewidgets/bedwidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2689 Fix placement bounds calculation
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/node.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#2688 Allow contour placement
  meerk40t/core/elements/element_treeops.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/image/imagetools.py
Labels: Context: GUI, Context: Core, Context: Misc

#2690 Revert python statements that are incompatible with Python 3.6
  .github/workflows/unittest-py36.yml
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/wxmtree.py
  meerk40t/gui/wxutils.py
Labels: Context: Config, Context: GUI, Context: Core

#2691 Integrate 0.951
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t.ico
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
Labels: Context: Config, Context: I18n, Context: Base

#2694 Node Drag+Drop - Fix crash / invalid any statement
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_dots.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
Labels: Context: Core

#2695 Fix delayed tree item label update for break subpath
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/shapes.py
Labels: Context: Core

#2697 Update version information
  .github/workflows/win/file_version.txt
  meerk40t/main.py
Labels: Context: Config, Context: Base

#2700 Fix forgotten import + version push
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t.ico
  meerk40t/gui/propertypanels/attributes.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base

#2701 Remove support for user-defined themes under Darwin
  meerk40t/gui/themes.py
Labels: Context: GUI

#2702 Another version push for Darwin
  .github/workflows/win/file_version.txt
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2703 Allow limited selection on right click menu
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/propertypanels/propertywindow.py
Labels: Context: GUI

#2704 Scale fontsize of parameter tool according to screen res
  meerk40t/gui/toolwidgets/toolparameter.py
Labels: Context: GUI
