Repository meerk40t/meerk40t, pull requests merged in 2025-08, with the labels that each got.

#2957 Translation hints
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/messages.po
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/balorcontroller.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/trace.py
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/cylinder/gui/cylindersettings.py
  meerk40t/device/devicechoices.py
  meerk40t/device/gui/formatterpanel.py
  meerk40t/dxf/plugin.py
  meerk40t/extra/hershey.py
  meerk40t/extra/inkscape.py
  meerk40t/extra/updater.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/grbl/gui/grblhardwareconfig.py
  meerk40t/gui/alignment.py
  meerk40t/gui/bufferview.py
  meerk40t/gui/devicepanel.py
  meerk40t/gui/executejob.py
  meerk40t/gui/imagesplitter.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/lasertoolpanel.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/plugin.py
  meerk40t/gui/preferences.py
  meerk40t/gui/propertypanels/propertywindow.py
  meerk40t/gui/simpleui.py
  meerk40t/gui/simulation.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/usbconnect.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
  meerk40t/image/imagetools.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhyaccelgui.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/lihuiyu/gui/tcpcontroller.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshicontrollergui.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/device.py
  meerk40t/newly/gui/newlyconfig.py
  meerk40t/newly/gui/newlycontroller.py
  meerk40t/rotary/gui/rotarysettings.py
  meerk40t/ruida/device.py
  meerk40t/ruida/gui/ruidaconfig.py
  meerk40t/ruida/gui/ruidacontroller.py
  meerk40t/tools/driver_to_path.py
  meerk40t/tools/kerftest.py
  meerk40t/tools/livinghinges.py
  translate_check.py
Labels: Context: Config, Context: GUI, Context: I18n, Context: Core, Context: Misc, Context: Devices

#2958 Add secondary unit display for element selection box
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/statusbarwidgets/shapepropwidget.py
Labels: Context: GUI

#2959 Update it74 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2961 Update it75 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2965 Version push
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2969 0.981 version push
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2971 Multiple enhancements for Material Test and default operation properties
  meerk40t/balormk/controller.py
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
  meerk40t/balormk/gui/baloroperationproperties.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/core/node/op_cut.py
  meerk40t/core/node/op_engrave.py
  meerk40t/core/svg_io.py
  meerk40t/device/devicechoices.py
  meerk40t/device/dummydevice.py
  meerk40t/device/mixins.py
  meerk40t/grbl/device.py
  meerk40t/grbl/gui/grblconfiguration.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/gui/lhydrivergui.py
  meerk40t/moshi/device.py
  meerk40t/moshi/gui/moshidrivergui.py
  meerk40t/newly/device.py
  meerk40t/newly/gui/newlyconfig.py
  meerk40t/ruida/device.py
  meerk40t/ruida/gui/ruidaconfig.py
  meerk40t/tools/driver_to_path.py
  meerk40t/tools/geomstr.py
  test/test_drivers_galvo.py
Labels: Context: GUI, Context: Core, Context: Misc, Context: Devices, Context: Tests

#2975 Geomstr optimisations
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#2977 Optimize Node.flat() and Node._flatten() methods for better performance
  meerk40t/core/node/node.py
Labels: Context: Core

#2978 Guide widget optimisation
  meerk40t/gui/scenewidgets/guidewidget.py
  meerk40t/gui/wxmscene.py
Labels: Context: GUI

#2982 Simple threaded command support
  meerk40t/core/bindalias.py
  meerk40t/gui/busy.py
  meerk40t/gui/plugin.py
  meerk40t/kernel/jobs.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core

#2983 Introduce node_lock for tree modifying operations
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/offset_clpr.py
  meerk40t/core/elements/offset_mk.py
  meerk40t/core/elements/placements.py
  meerk40t/core/elements/render.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/elements/trace.py
  meerk40t/core/elements/tree_commands.py
  meerk40t/core/elements/undo_redo.py
  meerk40t/core/planner.py
  meerk40t/core/svg_io.py
  meerk40t/extra/cag.py
  meerk40t/extra/ezd.py
  meerk40t/extra/imageactions.py
  meerk40t/extra/lbrn.py
  meerk40t/extra/param_functions.py
  meerk40t/extra/xcs_reader.py
  meerk40t/gui/operation_info.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/gui/wxmmain.py
  meerk40t/image/imagetools.py
  meerk40t/tools/kerftest.py
Labels: Context: GUI, Context: Core, Context: Misc

#2979 GridWidget optimisation
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/scenewidgets/guidewidget.py
Labels: Context: GUI

#2986 add multi-plan management and background task tracking
  meerk40t/core/bindalias.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/planner.py
  meerk40t/core/spoolers.py
  meerk40t/gui/busy.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/thread_info.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Core

#2988 Fixed updates for ES, FR, IT, PT and BR
  .gitignore
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2990 Optimizing Ribbon display
  meerk40t/gui/ribbon.py
Labels: Context: GUI

#2992 Update Plan lock and plan state mechanism
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/planner.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core
