Repository meerk40t/meerk40t, pull requests merged in 2025-10, with the labels that each got.

#3033 Prevent over-simplification during optimisation
  meerk40t/tools/geomstr.py
  test/test_geomstr.py
Labels: Context: Misc, Context: Tests

#3037 Correct detection of run environment.
  meerk40t/main.py
Labels: Context: Base

#3039 Update language IT80A
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n
