Repository meerk40t/meerk40t, pull requests merged in 2025-06, with the labels that each got.

#2889 Parameter test extension / fix
  meerk40t/gui/materialtest.py
  meerk40t/gui/propertypanels/wobbleproperty.py
  meerk40t/gui/spoolerpanel.py
  meerk40t/gui/wxutils.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI

#2892 Scale fonts according to user scaling
  meerk40t/gui/toolwidgets/toolmeasure.py
  meerk40t/gui/toolwidgets/tooltabedit.py
Labels: Context: GUI

#2896 Update it67 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2897 Improve RasterPlotter Robustness for Single-Line Images
  meerk40t/gui/mkdebug.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/tools/rasterplotter.py
  test/test_core_elements.py
  test/test_drivers_galvo.py
  test/test_drivers_grbl.py
  test/test_drivers_lihuiyu.py
  test/test_drivers_moshi.py
  test/test_drivers_newly.py
  test/test_element_degenerate_points.py
  test/test_elements_classify.py
  test/test_elements_penbox.py
  test/test_file_svg.py
  test/test_fill.py
  test/test_geomstr.py
  test/test_imagetools_actualize.py
  test/test_kernel.py
  test/test_operations.py
  test/test_operations_hatch.py
  test/test_spooler.py
  test/test_tools_rasterplotter.py
Labels: Context: GUI, Context: Misc, Context: Tests

#2901 Update it68 Italian Translation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2903 Add camera labels
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/camera/camera.py
  meerk40t/camera/gui/camerapanel.py
  meerk40t/camera/plugin.py
  meerk40t/gui/wxmmain.py
  meerk40t/gui/wxmribbon.py
Labels: Context: GUI, Context: I18n

#2904 Update it69 Italian Translation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2908 Change filenode selection logic
  meerk40t/core/elements/elements.py
  meerk40t/gui/scenewidgets/elementswidget.py
  meerk40t/gui/scenewidgets/selectionwidget.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2909 Update it70 Italian Translation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2910 Add system_inhibit commands (for Jobs and others)
  meerk40t/device/gui/defaultactions.py
  meerk40t/gui/icons.py
  meerk40t/kernel/inhibitor.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI, Context: Devices

#2911 Update it71 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2916 Update it72 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2915 0.98b1 Update
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  docs/lihuiyu/LHYMicro-GL2.pdf
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  meerk40t.ico
  meerk40t/balormk/device.py
  meerk40t/balormk/driver.py
  meerk40t/balormk/galvo_commands.py
  meerk40t/core/plotplanner.py
  meerk40t/grbl/controller.py
  meerk40t/grbl/device.py
  meerk40t/grbl/driver.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/lihuiyu/controller.py
  meerk40t/lihuiyu/device.py
  meerk40t/lihuiyu/driver.py
  meerk40t/lihuiyu/gui/lhycontrollergui.py
  meerk40t/lihuiyu/laserspeed.py
  meerk40t/lihuiyu/parser.py
  meerk40t/main.py
  meerk40t/newly/controller.py
  meerk40t/newly/device.py
  meerk40t/newly/driver.py
  setup.cfg
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base, Context: Core
