Repository meerk40t/meerk40t, pull requests merged in 2025-04, with the labels that each got.

#2844 Update it59 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2847 0.973 Sync
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  meerk40t.ico
  meerk40t/extra/param_functions.py
  meerk40t/image/imagetools.py
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
  tools/build_icon.sh
Labels: Context: Config, Context: I18n, Context: Base, Context: Misc

#2849 Some fixes
  meerk40t/gui/choicepropertypanel.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/tips.py
  meerk40t/kernel/settings.py
Labels: Context: GUI

#2848 Update it60 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2854 Update it61 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n
