Repository meerk40t/meerk40t, pull requests merged in 2025-05, with the labels that each got.

#2861 Fix tooltip display for default operations in statusbar
  meerk40t/gui/statusbarwidgets/defaultoperations.py
Labels: Context: GUI

#2862 Update it62 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2866 Smaller fixes
  meerk40t/balormk/controller.py
  meerk40t/camera/camera.py
  meerk40t/core/cutplan.py
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/node/node.py
  meerk40t/gui/laserrender.py
  meerk40t/gui/materialtest.py
  meerk40t/gui/navigationpanels.py
  meerk40t/gui/propertypanels/imageproperty.py
  meerk40t/gui/scenewidgets/gridwidget.py
  meerk40t/gui/simulation.py
  meerk40t/gui/tips.py
  meerk40t/gui/toolwidgets/toolpointmove.py
  meerk40t/gui/wxmscene.py
  meerk40t/gui/wxutils.py
  meerk40t/image/imagetools.py
  meerk40t/kernel/settings.py
  meerk40t/ruida/loader.py
  meerk40t/tools/rasterplotter.py
Labels: Context: GUI, Context: Core, Context: Misc

#2867 Statusbar fixes
  meerk40t/gui/scenewidgets/rectselectwidget.py
  meerk40t/gui/statusbarwidgets/defaultoperations.py
  meerk40t/gui/statusbarwidgets/infowidget.py
Labels: Context: GUI

#2869 Z-Axis jogging support
  meerk40t/grbl/device.py
  meerk40t/gui/icons.py
  meerk40t/gui/navigationpanels.py
Labels: Context: GUI

#2870 Update it63 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2871 Additional z-control tweaks
  meerk40t/grbl/device.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/navigationpanels.py
  meerk40t/kernel/kernel.py
Labels: Context: GUI

#2874 Update it64 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2876 Fix group on children drag and drop issue
  meerk40t/core/node/elem_ellipse.py
  meerk40t/core/node/elem_image.py
  meerk40t/core/node/elem_line.py
  meerk40t/core/node/elem_path.py
  meerk40t/core/node/elem_point.py
  meerk40t/core/node/elem_polyline.py
  meerk40t/core/node/elem_rect.py
  meerk40t/core/node/elem_text.py
  meerk40t/core/node/filenode.py
  meerk40t/core/node/groupnode.py
  meerk40t/core/node/image_processed.py
  meerk40t/core/node/image_raster.py
  meerk40t/core/node/node.py
Labels: Context: Core

#2875 Version push
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t.ico
  meerk40t/gui/gui_mixins.py
  meerk40t/gui/magnetoptions.py
  meerk40t/gui/wxmscene.py
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
  tools/build_icon.sh
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base

#2881 Update it65 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2882 Fix stitching
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  meerk40t/core/cutplan.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/planner.py
  meerk40t/gui/laserpanel.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: I18n, Context: Core, Context: Misc

#2883 Update it66 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n
