Repository meerk40t/meerk40t, pull requests merged in 2025-09, with the labels that each got.

#3004 Some minor tree issues
  .github/workflows/ubuntu.yml
  .github/workflows/unittest-py36.yml
  .github/workflows/unittests.yml
  meerk40t/core/node/node.py
  meerk40t/gui/wxmtree.py
  test/test_node_backup_restore.py
Labels: Context: Config, Context: GUI, Context: Core, Context: Tests

#3008 Update it77 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#3006 Add feedback within plan stages
  meerk40t/core/cutplan.py
  meerk40t/core/planner.py
Labels: Context: Core

#3015 Update it78 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#3016 Selection widget refactor
  locale/messages.po
  meerk40t/gui/scene/scene.py
  meerk40t/gui/scene/scenepanel.py
  meerk40t/gui/scenewidgets/selectionwidget.py
Labels: Context: GUI, Context: I18n

#3018 Add diagonal raster method
  meerk40t/constants.py
  meerk40t/core/node/op_image.py
  meerk40t/core/node/op_raster.py
  meerk40t/gui/propertypanels/operationpropertymain.py
  meerk40t/lihuiyu/device.py
  meerk40t/moshi/device.py
  meerk40t/tools/rasterplotter.py
  test/test_tools_rasterplotter.py
Labels: Context: GUI, Context: Base, Context: Core, Context: Misc, Context: Tests

#3020 A couple of under the hood optimisations
  meerk40t/core/cutplan.py
  meerk40t/core/node/effect_hatch.py
  meerk40t/gui/propertypanels/hatchproperty.py
  meerk40t/tools/dual_algorithm_strategy.py
  meerk40t/tools/geomstr.py
  meerk40t/tools/living_hinge_optimizer.py
  meerk40t/tools/livinghinges.py
Labels: Context: GUI, Context: Core, Context: Misc

#3010 Simulation uses background operation
  meerk40t/core/elements/element_treeops.py
  meerk40t/core/planner.py
  meerk40t/gui/laserpanel.py
  meerk40t/gui/simulation.py
Labels: Context: GUI, Context: Core

#3023 It79a translation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#3026 Cutplan validation
  meerk40t/core/cutcode/cutgroup.py
  meerk40t/core/cutplan.py
  test/test_cutplan_optimization.py
Labels: Context: Core, Context: Tests
