Repository meerk40t/meerk40t, pull requests merged in 2025-07, with the labels that each got.

#2918 French translation update
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/fr/tips.txt
Labels: Context: I18n

#2919 Add support for Russian
  .github/workflows/linux/meerk40t.spec
  .github/workflows/win/meerk40t-all.spec
  .github/workflows/win/meerk40t.spec
  .gitignore
  locale/de/tips.txt
  locale/ru/LC_MESSAGES/meerk40t.mo
  locale/ru/LC_MESSAGES/meerk40t.po
  locale/ru/tips.txt
  locale/tips.txt
  meerk40t/gui/help_assets/help_assets.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/main.py
  translate_check.py
Labels: Context: Config, Context: GUI, Context: I18n, Context: Base

#2923 Fix pwm pulse crash
  meerk40t/gui/navigationpanels.py
  meerk40t/lihuiyu/driver.py
Labels: Context: GUI

#2925 Livelight fixes
  meerk40t/balormk/livelightjob.py
  meerk40t/core/spoolers.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI, Context: Core

#2926 Fixed translations
  .gitignore
  additional_strings.txt
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/ru/LC_MESSAGES/meerk40t.mo
  locale/ru/LC_MESSAGES/meerk40t.po
  translate_check.py
Labels: Context: Config, Context: I18n

#2929 Add selection relative length syntax
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/ru/LC_MESSAGES/meerk40t.mo
  locale/ru/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/elements/branches.py
  meerk40t/core/elements/clipboard.py
  meerk40t/core/elements/elements.py
  meerk40t/core/elements/geometry.py
  meerk40t/core/elements/grid.py
  meerk40t/core/elements/offset_clpr.py
  meerk40t/core/elements/placements.py
  meerk40t/core/elements/render.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/units.py
  test/test_length.py
Labels: Context: I18n, Context: Core, Context: Tests

#2933 0.98b3 Version push
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/main.py
  meerk40t/tools/geomstr.py
  setup.cfg
Labels: Context: Config, Context: Base, Context: Misc

#2937 Add option to restore main window state
  meerk40t/gui/plugin.py
  meerk40t/gui/wxmmain.py
Labels: Context: GUI

#2940 Update it74 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2942 Spanish language update
  ai_translation.txt
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/es/tips.txt
Labels: Context: Config, Context: I18n

#2943 Update Hungarian language
  ai_translation.txt
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/hu/tips.txt
Labels: Context: Config, Context: I18n

#2945 Language update for Portuguese and other languages
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/de/LC_MESSAGES/meerk40t.po
  locale/es/LC_MESSAGES/meerk40t.mo
  locale/es/LC_MESSAGES/meerk40t.po
  locale/fr/LC_MESSAGES/meerk40t.mo
  locale/fr/LC_MESSAGES/meerk40t.po
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.po
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.po
  locale/messages.po
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.po
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
  locale/pt_BR/tips.txt
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.po
  locale/pt_PT/tips.txt
  locale/ru/LC_MESSAGES/meerk40t.mo
  locale/ru/LC_MESSAGES/meerk40t.po
  locale/zh/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.po
  meerk40t/core/bindalias.py
  meerk40t/core/elements/files.py
Labels: Context: I18n, Context: Core

#2947 Version push for 0.98b4
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/main.py
  setup.cfg
Labels: Context: Config, Context: Base

#2949 Fix margin usage in view
  meerk40t/core/view.py
  meerk40t/gui/mkdebug.py
  meerk40t/gui/wxmeerk40t.py
  test/test_view.py
Labels: Context: GUI, Context: Core, Context: Tests

#2948 PT_BR revised with aditional Strings
  locale/pt_BR/LC_MESSAGES/meerk40t.mo
  locale/pt_BR/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2951 Non-synced view changes
  meerk40t/core/view.py
  meerk40t/gui/mkdebug.py
Labels: Context: GUI, Context: Core

#2952 Remove user offset for now
  meerk40t/balormk/device.py
  meerk40t/core/view.py
  meerk40t/grbl/device.py
  meerk40t/gui/choicepropertypanel.py
  meerk40t/lihuiyu/device.py
  meerk40t/ruida/device.py
  test/test_view.py
Labels: Context: GUI, Context: Core, Context: Tests
