Repository meerk40t/meerk40t, pull requests merged in 2025-03, with the labels that each got.

#2828 Traslation IT56
  locale/de/LC_MESSAGES/meerk40t.po.bak
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2829 0.972 Sync
  .github/workflows/mac/meerk40t.icns
  .github/workflows/win/file_version.txt
  meerk40t.ico
  meerk40t/extra/param_functions.py
  meerk40t/gui/wxmmain.py
  meerk40t/main.py
  setup.cfg
  tools/build_icon.cmd
  tools/build_icon.sh
Labels: Context: Config, Context: GUI, Context: Base, Context: Misc

#2831 Update it56 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2834 Update it57 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2840 Update it58 Italian Traslation
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

#2841 Add potrace internally
  meerk40t/extra/mk_potrace.py
  meerk40t/extra/potrace.py
  meerk40t/gui/about.py
Labels: Context: GUI, Context: Misc

#2842 Stitches
  meerk40t/core/cutplan.py
  meerk40t/core/elements/shapes.py
  meerk40t/core/planner.py
  meerk40t/gui/wxmeerk40t.py
  meerk40t/tools/geomstr.py
Labels: Context: GUI, Context: Core, Context: Misc
